Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

Updated debian changelog for version 0.2.9
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.9-1_swh1 (unstable-swh)
  debian/changelog
Due: none

archive_coverage: Add link to Archive Changelog in coverage widget
  swh/web/archive_coverage/templates/archive-coverage.html
Due: none

api, browse: Ensure to sanitize filename passed to django FileResponse
  swh/web/api/views/content.py
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
Due: mypy

utils/identifiers: Ensure spaces in SWHID are quoted before parsing it
  swh/web/utils/identifiers.py
  swh/web/utils/tests/test_identifiers.py
Due: mypy

pristine-tar data for swh-web_0.2.10.orig.tar.gz
  swh-web_0.2.10.orig.tar.gz.delta
  swh-web_0.2.10.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.10
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.10-1_swh1 (unstable-swh)
  debian/changelog
Due: none

utils: Fix unquoted SWHID URLs generated by get_swhids_info
  swh/web/utils/identifiers.py
  swh/web/utils/tests/test_identifiers.py
Due: mypy

browse/iframe: Fix unquoted SWHID URLs in iframe views
  swh/web/browse/views/iframe.py
Due: mypy

package.json: Upgrade dependencies
  cypress/e2e/admin.cy.js
  cypress/e2e/home.cy.js
  cypress/e2e/language-select.cy.js
  cypress/e2e/layout.cy.js
  package.json
  yarn.lock
Due: eslint

cypress: Fix flaky test
  cypress/e2e/add-forge-now-request-create.cy.js
Due: eslint

pristine-tar data for swh-web_0.2.11.orig.tar.gz
  swh-web_0.2.11.orig.tar.gz.delta
  swh-web_0.2.11.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.11
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.11-1_swh1 (unstable-swh)
  debian/changelog
Due: none

docs: Include module indices only when building standalone package doc
  docs/index.rst
Due: none

Write tests for license parsing in the WebLabels plugin.
  package.json
  swh/web/assets/config/webpack-plugins/generate-weblabels-webpack-plugin/test.js
Due: eslint

origin-search: Autocomplete feature for search QL
  assets/config/webpack.config.development.js
  assets/src/bundles/browse/origin-search.js
  assets/src/utils/autocomplete.css
  assets/src/utils/autocomplete.js
  assets/src/utils/search-ql-autocomplete.js
  package.json
  swh/__init__.py
  swh/web/__init__.py
  swh/web/config.py
  swh/web/settings/common.py
  swh/web/templates/includes/origin-search-form.html
  yarn.lock
Due: mypy, eslint

Allow vault cooking from the UI
  cypress/integration/vault.spec.js
  swh/web/templates/includes/vault-create-tasks.html
Due: eslint

Allow cooking release objects via the API
  swh/web/api/views/vault.py
  swh/web/tests/api/views/test_vault.py
Due: mypy

origin-search: Add search QL autocomplete
  assets/config/webpack.config.development.js
  assets/src/bundles/browse/origin-search.js
  assets/src/utils/autocomplete.css
  assets/src/utils/autocomplete.js
  assets/src/utils/search-ql-autocomplete.js
  package.json
  swh/web/settings/common.py
  swh/web/templates/includes/origin-search-form.html
  yarn.lock
Due: mypy, eslint

search-ql-autocomplete.js: Update tokens.js path
  assets/src/utils/search-ql-autocomplete.js
Due: eslint

origin-search: Add tokens.js file
  assets/src/utils/tokens.js
Due: eslint

Build .wasm using swh-search and serve it
  .gitignore
  Makefile.local
  assets/config/webpack.config.development.js
  assets/src/utils/autocomplete.js
  assets/src/utils/search-ql-autocomplete.js
  assets/tokens.js
  package.json
  swh/web/settings/common.py
  swh/web/templates/includes/origin-search-form.html
  yarn.lock
Due: mypy, eslint

origin-search: Add search QL autocomplete
  mypy.ini
Due: none

feat(Makefile): Run build-ts-wasm after yarn install
  Makefile.local
Due: none

feat(package.json): Run build-ts-wasm using postinstall instead of make command
  Makefile.local
  package.json
Due: none

feat(package.json): Copy steps from build-ts-wasm make command to post-install
  package.json
Due: none

feat(package.json): Use python3 in postinstall script
  package.json
Due: none

feat(package.json): Use docker for building wasm and print glibc version
  package.json
Due: none

Made the static tooltip work
  assets/src/bundles/add_forge/create-request.js
Due: eslint

Make archive.lookup_missing_hashes output bytes
  swh/web/api/views/identifiers.py
  swh/web/common/archive.py
  swh/web/tests/common/test_archive.py
Due: mypy

Tweak `api_swhid_known` for perf and avoiding strings
  swh/web/api/views/identifiers.py
Due: mypy

Overhaul `lookup_missing_hashes`
  swh/web/api/views/identifiers.py
  swh/web/common/archive.py
  swh/web/tests/common/test_archive.py
Due: mypy

Basic integration
  swh/web/api/views/directory.py
  swh/web/api/views/origin.py
  swh/web/api/views/release.py
  swh/web/api/views/revision.py
  swh/web/api/views/snapshot.py
  swh/web/utils/graphql.py
Due: mypy

Add support for decoding non-UTF8 inbound emails
  swh/web/add_forge_now/signal_receivers.py
  swh/web/inbound_email/tests/resources/multipart_iso8859-1.eml
  swh/web/inbound_email/tests/test_utils.py
  swh/web/inbound_email/utils.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

api/views/origin: Fix endpoints documentation
  swh/web/api/views/origin.py
Due: mypy

save_code_now: Add snasphot info in data returned by API endpoint
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/migrations/0014_saveoriginrequest_snapshot_swhid.py
  swh/web/save_code_now/models.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_migrations.py
  swh/web/save_code_now/tests/test_origin_save.py
  swh/web/save_code_now/tests/test_origin_save_api.py
  swh/web/utils/typing.py
Due: mypy
