Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".eml$"
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.9.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn, -L crate]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.31.1
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.31.1
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

Updated backport on buster-swh from debian/0.2.32-1_swh1 (unstable-swh)
  debian/changelog
Due: none

archive_coverage: Add GitWeb to the list of origin types
  static/img/logos/gitweb.png
  swh/web/archive_coverage/views.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.33.orig.tar.gz
  swh-web_0.2.33.orig.tar.gz.delta
  swh-web_0.2.33.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.33
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.33-1_swh1 (unstable-swh)
  debian/changelog
Due: none

add-forge-now: Reference the forge type gitweb
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/add_forge_now/views.py
Due: mypy

add-forge-now: Reference the forge type gogs
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/add_forge_now/views.py
Due: mypy

archive_coverage: Handle edge case where an origin type has no logo
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/archive_coverage/tests/test_coverage.py
  swh/web/utils/swh_templatetags.py
Due: mypy

coverage: Fix test assertions on origin without logo
  swh/web/archive_coverage/tests/test_coverage.py
Due: mypy

archive_coverage: Add gitiles to the list of forge types
  swh/web/archive_coverage/views.py
Due: mypy

add-forge-now: Reference the forge type gitiles
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/add_forge_now/views.py
Due: mypy

archive_coverage: Add stagit to the list of origin types
  swh/web/archive_coverage/views.py
Due: mypy

archive_coverage: Fix black formatting
  swh/web/archive_coverage/tests/test_coverage.py
Due: mypy

pristine-tar data for swh-web_0.2.34.orig.tar.gz
  swh-web_0.2.34.orig.tar.gz.delta
  swh-web_0.2.34.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.34
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.34-1_swh1 (unstable-swh)
  debian/changelog
Due: none

package.json: Upgrade dependencies
  package.json
  swh/web/webapp/assets/webapp/notebook-rendering.js
  yarn.lock
Due: eslint

Update examples for metadata fetch and search APIs
  swh/web/api/views/origin.py
Due: mypy

Introduce new permission to display metadata in the UI
  swh/web/browse/templates/includes/show-metadata.html
Due: none

Migrate to storage function snapshot_branch_get_by_name
  swh/web/utils/archive.py
Due: mypy

utils/exc: Ensure Accept header is honored in django error handlers
  swh/web/api/tests/test_apiresponse.py
  swh/web/utils/exc.py
  swh/web/utils/tests/test_exc.py
Due: mypy

pristine-tar data for swh-web_0.2.35.orig.tar.gz
  swh-web_0.2.35.orig.tar.gz.delta
  swh-web_0.2.35.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.35
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.35-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse/templates: Include icon in each entry link of directory view
  swh/web/browse/templates/includes/directory-display.html
Due: none

add_forge_now: Display all requests by default in 'Browse requests' tab
  cypress/e2e/add-forge-now-request-create.cy.js
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

pristine-tar data for swh-web_0.2.36.orig.tar.gz
  swh-web_0.2.36.orig.tar.gz.delta
  swh-web_0.2.36.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.36
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.36-1_swh1 (unstable-swh)
  debian/changelog
Due: none

MANIFEST.in: Ensure sample git repos are included in tests data
  MANIFEST.in
Due: none

add_forge_now: Ensure to draw requests table on init when user logged
  cypress/e2e/add-forge-now-request-create.cy.js
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

pristine-tar data for swh-web_0.2.37.orig.tar.gz
  swh-web_0.2.37.orig.tar.gz.delta
  swh-web_0.2.37.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.37
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.37-1_swh1 (unstable-swh)
  debian/changelog
Due: none

package.json: Upgrade dependencies
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: eslint

browse: Fix an error when browsing content by id with breadcrumbs
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
  swh/web/utils/archive.py
Due: mypy
