Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
              ^.*\.eml$
          )$
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/python/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==24.4.26, flake8-pyproject]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json|
              swh/web/browse/tests/data/content_iso-8859-7_encoded|
              swh/web/add_forge_now/migrations/swh-afn-urls-canonicalise.txt
          )$
        args: [-L edn, -L crate, -L THIRDPARTY, -L thirdparty]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: twine-check
        name: twine check
        description: call twine check when pushing an annotated release tag
        entry: bash -c "ref=$(git describe) &&
          [[ $ref =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]] &&
          (python3 -m build --sdist && twine check $(ls -t dist/* | head -1)) || true"
        pass_filenames: false
        stages: [pre-push]
        language: python
        additional_dependencies: [twine, build]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: system
        types: [javascript]

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

api/origin: Query parameters serializer
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
Due: mypy

api/metadata: Query parameters serializer
  swh/web/api/tests/views/test_metadata.py
  swh/web/api/views/metadata.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

cypress: Fix eslint warning
  cypress/e2e/add-forge-now-request-create.cy.js
Due: eslint

api: Fix a couple of issues in Web API homepage
  swh/web/api/templates/api.html
Due: none

Migration to psycopg3
  requirements-swh.txt
  requirements-test.txt
  requirements.txt
  swh/web/mailmap/management/commands/sync_mailmaps.py
  swh/web/mailmap/tests/test_mailmap.py
  swh/web/settings/production.py
Due: mypy

save_code_now: Add support for saving tarball origins
  cypress/e2e/origin-save.cy.js
  swh/web/conftest.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/templates/origin-save-help.html
Due: mypy, eslint

browse/revision: Fix a couple of issues in the UI
  swh/web/browse/views/revision.py
Due: mypy

browse: Ensure only source code is highlighted in content views
  swh/web/browse/templates/includes/content-display.html
Due: none

browse: Add Download button to content views
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/tests/views/test_revision.py
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/conftest.py
  swh/web/settings/common.py
  swh/web/vault/templates/includes/vault-create-tasks.html
Due: mypy

package.json: Bump dependencies
  cypress.config.js
  package.json
  swh/web/static/json/highlightjs-languages.json
  yarn.lock
Due: eslint

utils: Fix flaky tests
  swh/web/utils/tests/test_identifiers.py
Due: mypy

cypress/e2e/sidetabs: Fix flaky test
  cypress/e2e/sidetabs.cy.js
Due: eslint

Use swh-scheduler[pytest] instead of swh-scheduler[testing]
  requirements-test.txt
Due: none

Set name when triggering Add Forge Now pipelines on the SWH GitLab
  swh/web/add_forge_now/tests/test_api_views.py
  swh/web/add_forge_now/utils.py
Due: mypy

save_code_now: Display list of supported tarball formats in help page
  swh/web/save_code_now/templates/origin-save-help.html
Due: none

package.json: Bump dependencies
  cypress.config.js
  package.json
  swh/web/browse/assets/browse/browse.css
  yarn.lock
Due: eslint

Handle snapshot missing root directory
  swh/web/browse/views/content.py
Due: mypy

admin/urls: Remove no longer needed guard when building doc
  swh/web/admin/urls.py
Due: mypy

utils/highlightjs: Alias racket language to lisp
  swh/web/utils/highlightjs.py
Due: mypy

utils: Parametrize highlightjs tests
  swh/web/utils/tests/test_highlightjs.py
Due: mypy

utils/exc: Fix mypy warnings since latest django-stubs release
  swh/web/utils/exc.py
Due: mypy

assets: Make stylelint ignore all directories prefixed by .tox
  assets/config/webpack.config.development.js
Due: eslint

webpack-dev-server: Disable cross-origin-header-check middleware
  assets/config/webpack.config.development.js
Due: eslint

package.json: Bump dependencies
  assets/config/webpack.config.development.js
  cypress/e2e/api-tokens.cy.js
  package.json
  swh/web/webapp/assets/vendors/index.js
  yarn.lock
Due: eslint

save_code_now: Add error report to Web API responses
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_origin_save_api.py
  swh/web/utils/typing.py
Due: mypy

save_code_now: Fix status of request when celery worker was killed
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_origin_save.py
Due: mypy

utils/tests/test_archive: Fix flaky test
  swh/web/utils/tests/test_archive.py
Due: mypy

provenance: Fix tests since recent changes in swh-graph example dataset
  requirements-swh.txt
  swh/web/provenance/tests/test_api_views.py
Due: mypy

api, utils: Fix handling of visits without statuses
  swh/web/api/tests/views/test_origin.py
  swh/web/api/utils.py
  swh/web/utils/archive.py
  swh/web/utils/origin_visits.py
Due: mypy

metrics/prometheus: Optimize computations significantly
  swh/web/metrics/prometheus.py
Due: mypy

api/apidoc: Fix typing after upgrade of types-docutils
  swh/web/api/apidoc.py
Due: mypy

tests: Fix compatibility with swh-model v8.1.0
  requirements-swh.txt
  swh/web/tests/views.py
Due: mypy

webapp/datatables: Override CSS rule that broke API tokens buttons
  cypress/e2e/api-tokens.cy.js
  swh/web/webapp/assets/vendors/datatables.css
Due: eslint

package.json: Bump dependencies
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/src/utils/highlightjs.js
  eslint.config.js
  package.json
  yarn.lock
Due: eslint

package.json: Remove use of mochawesome tool
  Makefile.local
  cypress.config.js
  package.json
  yarn.lock
Due: eslint

browse: Prevent javasvcript error with citation sidetab
  swh/web/browse/assets/browse/sidetabs.js
Due: eslint

browse: Handle invalid focus_swhid in iframe view
  swh/web/browse/tests/views/test_iframe.py
  swh/web/browse/views/iframe.py
Due: mypy
