Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black

origin_save: Add support for bzr visit type
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/origin_save.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_origin_save.py
Due: mypy, eslint

api_origin_search: Copy all params to build 'link-next'.
  swh/web/api/views/origin.py
Due: mypy

pristine-tar data for swh-web_0.0.370.orig.tar.gz
  swh-web_0.0.370.orig.tar.gz.delta
  swh-web_0.0.370.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.370
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.370-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse/utils: Robustify content encoding detection
  requirements-test.txt
  requirements.txt
  swh/web/browse/utils.py
  swh/web/tests/browse/test_utils.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/data.py
Due: mypy

package.json: Upgrade dependencies
  assets/src/bundles/vendors/index.js
  package.json
  yarn.lock
Due: eslint

debian/control: Add python3-chardet dependency
  debian/control
Due: none

requirements: Workaround ImportError when running pytest
  requirements.txt
Due: none

pristine-tar data for swh-web_0.0.371.orig.tar.gz
  swh-web_0.0.371.orig.tar.gz.delta
  swh-web_0.0.371.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.371
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.371-1_swh1 (unstable-swh)
  debian/changelog
Due: none

requirements: Workaround another ImportError when running pytest
  requirements.txt
Due: none

common/swh_templatetags: Fix parsing issue in urlize_header_links
  swh/web/common/swh_templatetags.py
  swh/web/tests/common/test_templatetags.py
Due: mypy

misc/coverage: Display counters for bzr/cvs visit types conditionally
  swh/web/misc/coverage.py
  swh/web/tests/misc/test_coverage.py
Due: mypy

common/utils: Add utility functions to check swh-web run environment
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/tests/common/test_utils.py
  swh/web/tests/test_templates.py
Due: mypy

misc/coverage: Use django cache instead of LRU ones
  swh/web/misc/coverage.py
  swh/web/tests/misc/test_coverage.py
Due: mypy

pristine-tar data for swh-web_0.0.372.orig.tar.gz
  swh-web_0.0.372.orig.tar.gz.delta
  swh-web_0.0.372.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.372
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.372-1_swh1 (unstable-swh)
  debian/changelog
Due: none

requirements-test: Move ImportError workarounds in it
  requirements-test.txt
  requirements.txt
Due: none

pristine-tar data for swh-web_0.0.373.orig.tar.gz
  swh-web_0.0.373.orig.tar.gz.delta
  swh-web_0.0.373.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.373
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.373-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse: Make guided tour publicly available and remove old help page
  cypress/integration/guided-tour.spec.js
  swh/web/templates/layout.html
Due: eslint

static/img/logos: Update HAL logo
  static/img/logos/hal.png
Due: none

pristine-tar data for swh-web_0.0.374.orig.tar.gz
  swh-web_0.0.374.orig.tar.gz.delta
  swh-web_0.0.374.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.374
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.374-1_swh1 (unstable-swh)
  debian/changelog
Due: none

deposit moderation view: Improve deposit types visualization
  assets/src/bundles/admin/deposit.js
  cypress/integration/deposit-admin.spec.js
  swh/web/admin/deposit.py
  swh/web/common/utils.py
  swh/web/templates/admin/deposit.html
  swh/web/tests/common/test_utils.py
  swh/web/tests/resources/deposit/raw-metadata-add-to-origin.xml
  swh/web/tests/resources/deposit/raw-metadata-create-origin.xml
  swh/web/tests/resources/deposit/raw-metadata-no-swh.xml
  swh/web/tests/resources/deposit/raw-metadata-provenance.xml
Due: mypy, eslint

pristine-tar data for swh-web_0.0.375.orig.tar.gz
  swh-web_0.0.375.orig.tar.gz.delta
  swh-web_0.0.375.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.375
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.375-1_swh1 (unstable-swh)
  debian/changelog
Due: none

search QL: Raise 400 instead of 500 on syntax error
  swh/web/api/views/origin.py
  swh/web/tests/api/views/test_origin.py
Due: mypy

add_forge_now: Bootstrap app and model
  swh/web/add_forge_now/__init__.py
  swh/web/add_forge_now/apps.py
  swh/web/add_forge_now/migrations/0001_initial.py
  swh/web/add_forge_now/migrations/__init__.py
  swh/web/add_forge_now/models.py
  swh/web/add_forge_now/tests/test_migration.py
  swh/web/settings/common.py
Due: mypy

api: Add endpoint to create an add-forge request
  swh/web/api/urls.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
  swh/web/tests/utils.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

Disable unsafe directives when rendering READMEs
  swh/web/browse/utils.py
  swh/web/common/utils.py
  swh/web/tests/browse/test_utils.py
Due: mypy

pristine-tar data for swh-web_0.0.376.orig.tar.gz
  swh-web_0.0.376.orig.tar.gz.delta
  swh-web_0.0.376.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.376
  debian/changelog
Due: none
