Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

api/vault: Fix a couple of httpdomain references
  swh/web/api/views/vault.py
Due: mypy

assets/badges: Highlight HTML and Markdown integration code
  assets/src/bundles/webapp/badges.js
  assets/src/bundles/webapp/code-highlighting.js
  assets/src/bundles/webapp/webapp.css
  cypress/integration/persistent-identifiers.spec.js
Due: eslint

templates/apidoc: Restore Web API links removed by JSON highlighting
  swh/web/templates/api/apidoc.html
Due: none

explicitly name the metadata search configuration property
  swh/web/common/archive.py
  swh/web/config.py
  swh/web/tests/api/views/test_origin.py
Due: mypy

Allow all hosts in tests
  swh/web/settings/tests.py
Due: mypy

pristine-tar data for swh-web_0.0.322.orig.tar.gz
  swh-web_0.0.322.orig.tar.gz.delta
  swh-web_0.0.322.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.322
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.322-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse/snapshot_context: Ensure pull request branches can be browsed
  swh/web/browse/snapshot_context.py
  swh/web/tests/browse/views/test_origin.py
Due: mypy

Add 'swh.vault.git_bare.ui' use role, to display the 'git bare' button on the UI
  swh/web/templates/includes/vault-create-tasks.html
Due: none

Add link to extrinsic metadata API from the browse view
  swh/web/templates/includes/show-metadata.html
  swh/web/templates/includes/vault-create-tasks.html
Due: none

misc: Add iframe view for contents and directories
  assets/src/bundles/browse/swhid-utils.js
  assets/src/bundles/webapp/code-highlighting.js
  assets/src/bundles/webapp/iframes.js
  assets/src/bundles/webapp/index.js
  assets/src/bundles/webapp/webapp-utils.js
  assets/src/bundles/webapp/webapp.css
  docs/index.rst
  docs/uri-scheme-misc.rst
  swh/web/common/utils.py
  swh/web/misc/iframe.py
  swh/web/misc/urls.py
  swh/web/templates/includes/breadcrumbs.html
  swh/web/templates/includes/content-display.html
  swh/web/templates/includes/directory-display.html
  swh/web/templates/includes/http-error.html
  swh/web/templates/includes/show-swhids.html
  swh/web/templates/misc/iframe.html
  swh/web/tests/data.py
  swh/web/tests/misc/test_iframe.py
  swh/web/tests/strategies.py
Due: mypy, eslint

common/utils: Add function to get origin visit types dynamically
  swh/web/browse/urls.py
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/tests/common/test_utils.py
  swh/web/urls.py
Due: mypy

directory-display: Show human-readable file sizes (KB, MB, ...).
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/revision.py
  swh/web/common/typing.py
  swh/web/templates/includes/directory-display.html
Due: mypy

api/vault: Re-add obj_type and obj_id to legacy API endpoints
  swh/web/api/views/vault.py
  swh/web/tests/api/views/test_vault.py
Due: mypy

pristine-tar data for swh-web_0.0.323.orig.tar.gz
  swh-web_0.0.323.orig.tar.gz.delta
  swh-web_0.0.323.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.323
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.323-1_swh1 (unstable-swh)
  debian/changelog
Due: none

api/vault: Fix TypeError caused by unexpected return type of the vault API
  swh/web/api/views/vault.py
  swh/web/tests/api/views/test_vault.py
Due: mypy

templates/layout: Refine piwik script inclusion check
  swh/web/templates/layout.html
Due: none

pristine-tar data for swh-web_0.0.324.orig.tar.gz
  swh-web_0.0.324.orig.tar.gz.delta
  swh-web_0.0.324.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.324
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.324-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse/snapshot_context: Better handle missing revision edge case
  swh/web/browse/snapshot_context.py
  swh/web/templates/includes/revision-info.html
  swh/web/tests/browse/views/test_origin.py
Due: mypy

pristine-tar data for swh-web_0.0.325.orig.tar.gz
  swh-web_0.0.325.orig.tar.gz.delta
  swh-web_0.0.325.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.325
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.325-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Stop logging some exceptions to Sentry
  swh/web/api/apiresponse.py
  swh/web/common/exc.py
  swh/web/common/middlewares.py
Due: mypy

pristine-tar data for swh-web_0.0.326.orig.tar.gz
  swh-web_0.0.326.orig.tar.gz.delta
  swh-web_0.0.326.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.326
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.326-1_swh1 (unstable-swh)
  debian/changelog
Due: none

vault: Only show the first status line
  assets/src/bundles/vault/vault-ui.js
Due: eslint

pristine-tar data for swh-web_0.0.327.orig.tar.gz
  swh-web_0.0.327.orig.tar.gz.delta
  swh-web_0.0.327.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.327
  debian/changelog
Due: none

templates/show-swhids: Fix typo in SWHIDs documentation URL
  swh/web/templates/includes/show-swhids.html
Due: none

package.json: Upgrade dependencies
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.0.328.orig.tar.gz
  swh-web_0.0.328.orig.tar.gz.delta
  swh-web_0.0.328.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.328
  debian/changelog
Due: none

test_apiurls: Fix failures when using django 3.2.7
  swh/web/tests/api/test_apiurls.py
Due: mypy

pristine-tar data for swh-web_0.0.329.orig.tar.gz
  swh-web_0.0.329.orig.tar.gz.delta
  swh-web_0.0.329.orig.tar.gz.id
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
