Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

Add Mail-Followup-To and Mail-Reply-To mail headers too
  swh/web/add_forge_now/assets/request-dashboard.js
Due: eslint

save_code_now/tests/test_origin_save: Fix compatibility with django 5.0
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy

Request replies be sent to both SWH and forge admins
  swh/web/add_forge_now/assets/request-dashboard.js
Due: eslint

browse/assets/swhid-utils: Fix qualified SWHID URLs set by addLinesInfo
  swh/web/browse/assets/browse/swhid-utils.js
Due: eslint

webapp/assets: Fix pdf rendering in production
  assets/config/webpack.config.development.js
  swh/web/webapp/assets/webapp/pdf-rendering.js
Due: eslint

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

config: Extend production server names list
  swh/web/api/tests/views/test_graph.py
  swh/web/api/views/graph.py
  swh/web/archive_coverage/tests/test_coverage.py
  swh/web/config.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
  swh/web/webapp/tests/test_templates.py
Due: mypy

utils/archive: Ensure all counters are returned in stat_counters
  swh/web/utils/archive.py
Due: mypy

browse: Ensure qualified SWHIDs are displayed by default in Permalinks
  swh/web/browse/assets/browse/swhid-utils.js
  swh/web/browse/templates/includes/show-swhids.html
Due: eslint

pristine-tar data for swh-web_0.3.1.orig.tar.gz
  swh-web_0.3.1.orig.tar.gz.delta
  swh-web_0.3.1.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.3.1
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.3.1-1_swh1 (unstable-swh)
  debian/changelog
Due: none

pristine-tar data for swh-web_0.3.2.orig.tar.gz
  swh-web_0.3.2.orig.tar.gz.delta
  swh-web_0.3.2.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.3.2
  debian/changelog
Due: none

Fix typo: s/can not/cannot/
  cypress/e2e/vault.cy.js
  docs/uri-scheme-browse-content.rst
  docs/uri-scheme-browse-directory.rst
  docs/uri-scheme-browse-origin.rst
  docs/uri-scheme-browse-release.rst
  docs/uri-scheme-browse-revision.rst
  docs/uri-scheme-browse-snapshot.rst
  swh/web/add_forge_now/tests/test_api_views.py
  swh/web/api/tests/test_apidoc.py
  swh/web/api/views/content.py
  swh/web/api/views/directory.py
  swh/web/api/views/identifiers.py
  swh/web/api/views/origin.py
  swh/web/api/views/raw.py
  swh/web/api/views/release.py
  swh/web/api/views/revision.py
  swh/web/api/views/snapshot.py
  swh/web/badges/__init__.py
  swh/web/browse/snapshot_context.py
  swh/web/browse/templates/includes/directory-display.html
  swh/web/conftest.py
  swh/web/save_code_now/migrations/0003_saveoriginrequest_loading_task_status.py
  swh/web/save_code_now/origin_save.py
  swh/web/utils/identifiers.py
  swh/web/vault/api_views.py
Due: mypy, eslint

save_code_now/api_views: Update regexp matching visit_type URL argument
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/tests/test_origin_save_api.py
  swh/web/save_code_now/urls.py
Due: mypy

save_code_now/api: Handle origin URL quoted or with character to quote
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy, eslint

generate-weblabels-webpack-plugin: Use spdx-correct to fix SPDX parsing
  assets/config/webpack-plugins/generate-weblabels-webpack-plugin/index.js
  package.json
  yarn.lock
Due: eslint

assets/highlightjs: Add plugins to highlight new programming languages
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/config/webpack.config.development.js
  assets/src/utils/highlightjs.js
  package.json
  static/json/highlightjs-languages.json
  swh/web/utils/highlightjs.py
  yarn.lock
Due: mypy, eslint

dump-highlightjs-languages-data-plugin: Ensure sorted languages list
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  static/json/highlightjs-languages.json
Due: eslint

api_raw_object: Fix AssertionError on the empty content
  swh/web/api/tests/views/test_content.py
  swh/web/api/tests/views/test_raw.py
  swh/web/api/views/raw.py
Due: mypy

Badges: Return proper error instead of 500 status on invalid hashes
  swh/web/badges/__init__.py
  swh/web/badges/tests/test_badges.py
  swh/web/badges/urls.py
Due: mypy

auth: Fix logout with Django >= 5 default authentication backend
  cypress/e2e/add-forge-now-request-create.cy.js
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/admin.cy.js
  swh/web/auth/templates/logout.html
  swh/web/auth/urls.py
  swh/web/settings/common.py
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/includes/top-bar.html
Due: mypy, eslint

settings/tests: Ensure Python tracebacks display when running cypress
  swh/web/api/apiresponse.py
  swh/web/settings/tests.py
  swh/web/utils/exc.py
Due: mypy

utils: Use repeatable hashing in django_cache wrapper
  mypy.ini
  requirements.txt
  swh/web/utils/__init__.py
Due: mypy

save_code_now: Ensure origin URL is encoded when querying API with XHR
  cypress/e2e/admin.cy.js
  swh/web/save_code_now/assets/origin-save-admin.js
Due: eslint

Stop reporting RemoteException to Sentry
  swh/web/utils/exc.py
Due: mypy

browse/content: Do not compute diff if one content has binary encoding
  swh/web/browse/views/content.py
Due: mypy

api/apidoc: Fix rendering of links inside paragraph
  swh/web/api/apidoc.py
  swh/web/api/tests/test_apidoc.py
Due: mypy

api: Add new endpoints to retrieve info about external identifiers
  docs/uri-scheme-api-extid.rst
  docs/uri-scheme-api.rst
  swh/web/api/apiurls.py
  swh/web/api/tests/views/test_extid.py
  swh/web/api/urls.py
  swh/web/api/utils.py
  swh/web/api/views/extid.py
  swh/web/utils/archive.py
Due: mypy

add_forge_now/models: Add missing transitions between request statuses
  swh/web/add_forge_now/models.py
  swh/web/add_forge_now/tests/test_models.py
Due: mypy

save_code_now: Rename "not yet scheduled" loading status to "pending"
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/migrations/0015_alter_saveoriginrequest_loading_task_status.py
  swh/web/save_code_now/models.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_migrations.py
  swh/web/save_code_now/tests/test_origin_save_admin.py
  swh/web/save_code_now/tests/test_origin_save_api.py
  swh/web/save_code_now/tests/test_origin_visit_webhook.py
  swh/web/save_origin_webhooks/generic_receiver.py
Due: mypy, eslint

archive_coverage: Update guix and nixos origin counters
  swh/web/archive_coverage/views.py
Due: mypy

api/extid: Update endpoint documentation with new extid types
  swh/web/api/views/extid.py
Due: mypy

badges: Cache HTTP response when targeted object is found
  swh/web/badges/__init__.py
  swh/web/badges/tests/test_badges.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
