Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

archive_coverage: Add rpm origin type
  static/img/logos/rpm.png
  swh/web/archive_coverage/views.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

package.json: Pin cypress to < 13
  package.json
  yarn.lock
Due: none

archive_coverage: Add dlang origin type
  static/img/logos/dlang.png
  swh/web/archive_coverage/views.py
Due: mypy

archive_coverage: Add bioconductor origin type
  static/img/logos/bioconductor.png
  swh/web/archive_coverage/tests/test_coverage.py
  swh/web/archive_coverage/views.py
Due: mypy

archive_coverage: Rename CRAN origin type to cran and remove old hack
  swh/web/archive_coverage/views.py
Due: mypy

pristine-tar data for swh-web_0.2.38.orig.tar.gz
  swh-web_0.2.38.orig.tar.gz.delta
  swh-web_0.2.38.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.38
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.38-1_swh1 (unstable-swh)
  debian/changelog
Due: none

web.utils.archive: Fix
  swh/web/utils/archive.py
Due: mypy

browse: Remove duplicated releases in snapshot content dropdown
  swh/web/browse/snapshot_context.py
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/browse/tests/test_snapshot_context.py
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/tests/views/test_directory.py
  swh/web/browse/tests/views/test_origin.py
  swh/web/browse/tests/views/test_snapshot.py
Due: mypy

pristine-tar data for swh-web_0.2.39.orig.tar.gz
  swh-web_0.2.39.orig.tar.gz.delta
  swh-web_0.2.39.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.39
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.39-1_swh1 (unstable-swh)
  debian/changelog
Due: none

save_code_now/api_views: Handle origin URL mangled by HTTP client
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy

api: Handle origin URLs mangled by HTTP client when querying endpoints
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
  swh/web/tests/data.py
  swh/web/utils/__init__.py
  swh/web/utils/archive.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  static/json/highlightjs-languages.json
  swh/web/webapp/assets/webapp/code-highlighting.js
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.2.40.orig.tar.gz
  swh-web_0.2.40.orig.tar.gz.delta
  swh-web_0.2.40.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.40
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.40-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Improve the template for the initial forge admin contact mail
  swh/web/add_forge_now/assets/forge-admin-email.ejs
  swh/web/add_forge_now/assets/request-dashboard.js
Due: eslint

tox: Bump mypy to 1.6.1
  tox.ini
Due: none

vault: Fix and update documentation
  docs/uri-scheme-api-vault.rst
  swh/web/vault/api_views.py
  swh/web/vault/assets/vault-table-row.ejs
Due: mypy

vault: Rename fetch to download for consistency
  cypress/e2e/vault.cy.js
  docs/uri-scheme-api-vault.rst
  swh/web/utils/archive.py
  swh/web/vault/api_views.py
  swh/web/vault/assets/vault-create-tasks.js
  swh/web/vault/assets/vault-ui.js
  swh/web/vault/templates/includes/vault-common.html
  swh/web/vault/templates/includes/vault-create-tasks.html
  swh/web/vault/tests/test_apiviews.py
Due: mypy, eslint

vault: Redirect to bundle download link if cache backend supports it
  swh/web/utils/archive.py
  swh/web/vault/api_views.py
  swh/web/vault/tests/test_apiviews.py
Due: mypy

pristine-tar data for swh-web_0.2.41.orig.tar.gz
  swh-web_0.2.41.orig.tar.gz.delta
  swh-web_0.2.41.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.41
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.41-1_swh1 (unstable-swh)
  debian/changelog
Due: none

vault/api_views: Enable git bare cooking for all supported objects
  swh/web/vault/api_views.py
  swh/web/vault/tests/test_apiviews.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  swh/web/archive_coverage/assets/coverage.css
  swh/web/webapp/assets/webapp/webapp.css
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.42.orig.tar.gz
  swh-web_0.2.42.orig.tar.gz.delta
  swh-web_0.2.42.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.42
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.42-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Ask forge admins about all issues with archiving their forges
  swh/web/add_forge_now/assets/forge-admin-email.ejs
Due: none

save_code_now: Add endpoint to receive origin visit webhook messages
  requirements-swh.txt
  swh/web/config.py
  swh/web/save_code_now/management/commands/refresh_savecodenow_statuses.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/origin_visit_webhook.py
  swh/web/save_code_now/tests/test_django_command.py
  swh/web/save_code_now/tests/test_origin_visit_webhook.py
  swh/web/save_code_now/urls.py
  swh/web/tests/helpers.py
Due: mypy

pristine-tar data for swh-web_0.2.43.orig.tar.gz
  swh-web_0.2.43.orig.tar.gz.delta
  swh-web_0.2.43.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.43
  debian/changelog
Due: none

settings/tests: Use temporary scheduler backend for cypress tests
  requirements-swh.txt
  swh/web/settings/tests.py
Due: mypy

cypress: Replace cypress-cloud by cypress-split for parallel tests
  cypress/plugins/index.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: eslint

save_code_now: Disable webhook endpoint if swh-webhooks is missing
  swh/web/save_code_now/origin_visit_webhook.py
  swh/web/save_code_now/tests/test_origin_visit_webhook.py
  swh/web/save_code_now/urls.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
