Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
              ^.*\.eml$
          )$
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/python/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==24.4.26, flake8-pyproject]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json|
              swh/web/browse/tests/data/content_iso-8859-7_encoded|
              swh/web/add_forge_now/migrations/swh-afn-urls-canonicalise.txt
          )$
        args: [-L edn, -L crate, -L THIRDPARTY, -L thirdparty]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: twine-check
        name: twine check
        description: call twine check when pushing an annotated release tag
        entry: bash -c "ref=$(git describe) &&
          [[ $ref =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]] &&
          (python3 -m build --sdist && twine check $(ls -t dist/* | head -1)) || true"
        pass_filenames: false
        stages: [pre-push]
        language: python
        additional_dependencies: [twine, build]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: system
        types: [javascript]

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

browse: Improve display when javascript is disabled
  cypress/e2e/code-highlighting.cy.js
  cypress/plugins/index.js
  swh/web/browse/assets/browse/browse-utils.js
  swh/web/browse/templates/browse-revision.html
  swh/web/browse/templates/includes/content-display.html
  swh/web/browse/templates/includes/readme-display.html
  swh/web/browse/templates/includes/show-metadata.html
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/browse/templates/includes/snapshot-context.html
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/browse/utils.py
  swh/web/browse/views/content.py
  swh/web/browse/views/iframe.py
  swh/web/browse/views/revision.py
  swh/web/vault/templates/includes/vault-create-tasks.html
  swh/web/webapp/templates/includes/footer.html
  swh/web/webapp/templates/includes/sidebar.html
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

browse: Fix origin visits view when javascript is disabled
  cypress/e2e/origin-visits.cy.js
  swh/web/browse/assets/origin_visits/visits-reporting.css
  swh/web/browse/assets/origin_visits/visits-reporting.js
  swh/web/browse/templates/browse-origin-visits.html
  swh/web/browse/views/origin.py
Due: mypy, eslint

webapp: Make homepage more appealing when javascript is disabled
  cypress/e2e/home.cy.js
  swh/web/settings/common.py
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/homepage.html
  swh/web/webapp/tests/test_views.py
  swh/web/webapp/urls.py
Due: mypy, eslint

browse: Improve origins search Web UI
  assets/src/utils/functions.js
  cypress/e2e/origin-search.cy.js
  requirements-swh.txt
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
  swh/web/browse/assets/browse/origin-search.js
  swh/web/browse/templates/browse-search.html
  swh/web/browse/templates/includes/origin-search-form.html
  swh/web/browse/templates/includes/snapshot-context.html
  swh/web/browse/tests/views/test_search.py
  swh/web/browse/urls.py
  swh/web/browse/views/search.py
  swh/web/conftest.py
  swh/web/tests/data.py
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
  swh/web/utils/typing.py
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

add_forge_now: Allow to submit requests from Web UI without javascript
  cypress/e2e/add-forge-now-request-create.cy.js
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/templates/add-forge-creation-form.html
  swh/web/add_forge_now/templates/add-forge-list.html
  swh/web/add_forge_now/tests/test_views.py
  swh/web/add_forge_now/views.py
Due: mypy, eslint

archive_coverage: Bump and simplify caching of archive coverage page
  swh/web/archive_coverage/views.py
Due: mypy

browse/origin-visits: Ensure histogram date scale is computed with UTC
  swh/web/browse/assets/origin_visits/visits-histogram.js
Due: eslint

Fix typos
  README.rst
  cypress/e2e/layout.cy.js
  cypress/e2e/origin-browse.cy.js
  cypress/e2e/origin-save.cy.js
  docs/uri-scheme-browse.rst
  swh/web/add_forge_now/assets/request-dashboard.js
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/alter/templates/assistant_origins.html
  swh/web/alter/templates/includes/swh_legal.html
  swh/web/api/views/metadata.py
  swh/web/api/views/stat.py
  swh/web/api/views/utils.py
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/browse/templates/browse-help.html
  swh/web/browse/templates/includes/branch-search.html
  swh/web/browse/utils.py
  swh/web/browse/views/iframe.py
  swh/web/browse/views/origin.py
  swh/web/browse/views/snapshot.py
  swh/web/provenance/api_views.py
  swh/web/save_code_now/models.py
  swh/web/utils/archive.py
  swh/web/utils/exc.py
  swh/web/utils/query.py
  swh/web/utils/swh_templatetags.py
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

Apply suggestions from rboyer
  swh/web/browse/views/origin.py
Due: mypy

Fix more links to endpoints doc
  swh/web/browse/views/snapshot.py
Due: mypy

Prevent djlint to modify license headers
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/webapp/templates/layout.html
Due: none

Fix cypress tests
  cypress/e2e/alter.cy.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

Fix typos
  README.rst
  cypress/e2e/alter.cy.js
  cypress/e2e/layout.cy.js
  cypress/e2e/origin-browse.cy.js
  cypress/e2e/origin-save.cy.js
  docs/uri-scheme-browse.rst
  swh/web/add_forge_now/assets/request-dashboard.js
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/alter/templates/assistant_origins.html
  swh/web/alter/templates/includes/swh_legal.html
  swh/web/api/views/metadata.py
  swh/web/api/views/stat.py
  swh/web/api/views/utils.py
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/browse/templates/browse-help.html
  swh/web/browse/templates/includes/branch-search.html
  swh/web/browse/utils.py
  swh/web/browse/views/iframe.py
  swh/web/browse/views/origin.py
  swh/web/browse/views/snapshot.py
  swh/web/provenance/api_views.py
  swh/web/save_code_now/assets/origin-save.js
  swh/web/save_code_now/models.py
  swh/web/utils/archive.py
  swh/web/utils/exc.py
  swh/web/utils/query.py
  swh/web/utils/swh_templatetags.py
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

tests: Remove incorrect slicing
  cypress/e2e/content-display.cy.js
Due: eslint

Remove not needed slicing
  cypress/e2e/content-display.cy.js
Due: eslint

Fix format of some license headers in source files
  cypress/e2e/alter.cy.js
  cypress/support/e2e.js
  swh/web/add_forge_now/tests/test_migration.py
  swh/web/api/apiresponse.py
  swh/web/api/apiurls.py
  swh/web/api/serializers.py
  swh/web/api/templates/api.html
  swh/web/api/templates/apidoc.html
  swh/web/api/tests/views/test_citation.py
  swh/web/api/tests/views/test_extid.py
  swh/web/api/tests/views/test_metadata.py
  swh/web/api/tests/views/test_snapshot.py
  swh/web/api/views/citation.py
  swh/web/api/views/extid.py
  swh/web/api/views/metadata.py
  swh/web/api/views/revision.py
  swh/web/api/views/snapshot.py
  swh/web/auth/tests/test_migrations.py
  swh/web/browse/templates/browse-releases.html
  swh/web/browse/tests/views/test_snapshot.py
  swh/web/browse/views/origin.py
  swh/web/deposit/urls.py
  swh/web/mailmap/tests/test_migrations.py
  swh/web/save_code_now/management/commands/dump_savecodenow_data.py
  swh/web/save_code_now/tests/test_migrations.py
  swh/web/tests/create_test_alter.py
  swh/web/tests/create_test_users.py
Due: mypy, eslint

pre-commit: Add hook to update copyright years in license headers
  .copyright-updater.yaml
  .pre-commit-config.yaml
Due: none

add_forge_now: Add some missing license headers
  swh/web/add_forge_now/assets/forge-success-email.ejs
  swh/web/add_forge_now/utils.py
Due: mypy

banners/templates/hiring-banner: Add missing license header
  swh/web/banners/templates/hiring-banner.html
Due: none

api/views/utils: Disambiguate exception class in docstring
  swh/web/api/views/utils.py
Due: mypy

save_code_now: Fix django.template.base.VariableDoesNotExist error
  swh/web/save_code_now/views.py
Due: mypy

assets: Remove use of deprecated jQuery functions
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/assets/request-dashboard.js
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/auth/assets/index.js
  swh/web/banners/templates/fundraising-banner.html
  swh/web/browse/assets/browse/browse-utils.js
  swh/web/browse/assets/browse/origin-search.js
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/assets/browse/snapshot-navigation.js
  swh/web/browse/assets/origin_visits/visits-calendar.js
  swh/web/browse/assets/origin_visits/visits-reporting.js
  swh/web/browse/assets/revision/diff-utils.js
  swh/web/browse/assets/revision/log-utils.js
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/deposit/assets/index.js
  swh/web/mailmap/assets/index.js
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/assets/origin-save.js
  swh/web/vault/assets/vault-ui.js
  swh/web/webapp/assets/webapp/code-highlighting.js
  swh/web/webapp/assets/webapp/pdf-rendering.js
  swh/web/webapp/assets/webapp/readme-rendering.js
  swh/web/webapp/assets/webapp/status-widget.js
  swh/web/webapp/assets/webapp/webapp-utils.js
Due: eslint

assets: Migrate to jQuery 4.0
  assets/config/webpack.config.development.js
  eslint.config.js
  package.json
  swh/web/webapp/assets/vendors/index.js
  swh/web/webapp/assets/vendors/jquery.js
  yarn.lock
Due: eslint

package.json: Bump dependencies
  package.json
  swh/web/static/json/highlightjs-languages.json
  yarn.lock
Due: none

assets: Remove use of expose-loader to globally expose hljs
  assets/config/webpack.config.development.js
  assets/src/utils/highlightjs.js
  assets/src/utils/hljs.js
  package.json
  yarn.lock
Due: eslint

browse/content: Deduplicate diff-contents view implementation
  .pre-commit-config.yaml
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
Due: mypy

browse/content: Fix edge case leading to invalid diff computation
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
Due: mypy

browse: Factorize code checking if a content is textual
  swh/web/browse/templates/includes/content-display.html
  swh/web/browse/tests/test_utils.py
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/utils.py
  swh/web/browse/views/content.py
  swh/web/browse/views/iframe.py
  swh/web/browse/views/revision.py
  swh/web/tests/data.py
Due: mypy

browse/content: Fix diff computation for some textual contents
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
Due: mypy

browse/test_content: Remove no longer valid assertion
  swh/web/browse/tests/views/test_content.py
Due: mypy

Send full forge URL when triggering Add Forge Now pipelines on the SWH GitLab
  swh/web/add_forge_now/tests/test_api_views.py
  swh/web/add_forge_now/utils.py
Due: mypy

utils/origin_visits: Fix sort key when sorting visits
  swh/web/utils/origin_visits.py
Due: mypy

api/test_origin: Ensure to clear django cache before testing visits
  swh/web/api/tests/views/test_origin.py
  swh/web/conftest.py
  swh/web/utils/tests/test_archive.py
Due: mypy

package.json: Bump dependencies
  Makefile.local
  cypress.config.js
  cypress/utils/index.js
  package.json
  yarn.lock
Due: eslint

package.json: Remove no longer needed preinstall script
  package.json
Due: none

webapp: Handle missing counters configuration
  swh/web/webapp/tests/test_views.py
  swh/web/webapp/urls.py
Due: mypy

alter: add link to the archived origin
  cypress/e2e/alter.cy.js
  swh/web/alter/templates/includes/origins_table.html
Due: eslint

bootstrap: customize fields' success/error css classes
  swh/web/settings/common.py
  swh/web/utils/bootstrap.py
Due: mypy

alter: submit status filter on change
  cypress/e2e/alter.cy.js
  swh/web/alter/assets/index.js
  swh/web/alter/templates/admin_dashboard.html
Due: eslint
