Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

Fix navigation to directory(code) in snapshot view.
  swh/web/browse/snapshot_context.py
  swh/web/common/typing.py
  swh/web/templates/includes/snapshot-context.html
  swh/web/tests/browse/test_snapshot_context.py
Due: mypy

tests: Turn content* hypothesis strategies into pytest fixtures
  swh/web/tests/api/test_apiresponse.py
  swh/web/tests/api/test_utils.py
  swh/web/tests/api/views/test_content.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_release.py
  swh/web/tests/api/views/test_revision.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/misc/test_iframe.py
  swh/web/tests/strategies.py
Due: mypy

tests: Turn directory* hypothesis strategies into pytest fixtures
  swh/web/tests/api/test_apiresponse.py
  swh/web/tests/api/test_utils.py
  swh/web/tests/api/views/test_directory.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_release.py
  swh/web/tests/api/views/test_vault.py
  swh/web/tests/browse/views/test_directory.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/browse/views/test_revision.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/misc/test_iframe.py
  swh/web/tests/strategies.py
Due: mypy

tests: Turn origin* hypothesis strategies into pytest fixtures
  swh/web/tests/api/test_utils.py
  swh/web/tests/api/views/test_graph.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/api/views/test_snapshot.py
  swh/web/tests/browse/test_snapshot_context.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_directory.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_release.py
  swh/web/tests/browse/views/test_revision.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/common/test_origin_visits.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/strategies.py
Due: mypy

tests: Turn release* hypothesis strategies into pytest fixtures
  swh/web/tests/api/test_utils.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_release.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_release.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/strategies.py
Due: mypy

tests: Turn revision* hypothesis strategies into pytest fixtures
  swh/web/tests/api/test_apiresponse.py
  swh/web/tests/api/test_utils.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_revision.py
  swh/web/tests/api/views/test_vault.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_revision.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/misc/test_iframe.py
  swh/web/tests/strategies.py
Due: mypy

tests: Turn remaining hypothesis strategies into pytest fixtures
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_vault.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_directory.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_release.py
  swh/web/tests/browse/views/test_revision.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/misc/test_iframe.py
  swh/web/tests/strategies.py
Due: mypy

tests: Turn snapshot* hypothesis strategies into pytest fixtures
  swh/web/tests/api/test_utils.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_snapshot.py
  swh/web/tests/browse/test_snapshot_context.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/common/test_middlewares.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/strategies.py
Due: mypy

tests/browse/test_directory: Fix a couple of flaky tests
  swh/web/tests/browse/views/test_directory.py
Due: mypy

api/origin_save: Do not fetch savable visit types when running tests
  swh/web/api/views/origin_save.py
Due: mypy

Reference ingested but discontinued bitbucket mercurial origins
  swh/web/misc/coverage.py
Due: mypy

tests: Ensure failing test with random fixture data can be reproduced
  pytest.ini
  swh/web/tests/conftest.py
  swh/web/tests/data.py
  swh/web/tests/random_fixtures_test.py
  swh/web/tests/test_random_fixtures.py
Due: mypy

tests/conftest: Put filtered input data in cache
  swh/web/tests/conftest.py
Due: mypy

assets/admin/origin-save: Enable to add note when rejecting a request
  assets/src/bundles/admin/origin-save.js
  cypress/integration/admin.spec.js
Due: eslint

Makefile.local: Remove correct sqlite tests database
  Makefile.local
Due: none

browse/content: Fix error when a staff user browses a not found content
  swh/web/browse/views/content.py
  swh/web/tests/browse/views/test_content.py
Due: mypy

assets/admin/origin-save: Enable to add note when rejecting a request
  assets/src/bundles/admin/origin-save.js
  cypress/integration/admin.spec.js
  swh/web/common/origin_save.py
  swh/web/templates/admin/origin-save.html
Due: mypy, eslint

assets/origin-save: Display rejection reason in request info popover
  assets/src/bundles/admin/origin-save.js
  assets/src/bundles/save/index.js
  cypress/integration/admin.spec.js
  swh/web/common/origin_save.py
  swh/web/templates/admin/origin-save.html
Due: mypy, eslint

pristine-tar data for swh-web_0.0.333.orig.tar.gz
  swh-web_0.0.333.orig.tar.gz.delta
  swh-web_0.0.333.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.333
  debian/changelog
Due: none

tests: Fix execution when building debian packages
  pytest.ini
  swh/web/tests/conftest.py
  swh/web/tests/test_random_fixtures.py
  tox.ini
Due: mypy

package.json: Upgrade dependencies
  .gitignore
  assets/config/.eslintrc
  assets/config/webpack.config.development.js
  package.json
  static/json/highlightjs-languages.json
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.0.334.orig.tar.gz
  swh-web_0.0.334.orig.tar.gz.delta
  swh-web_0.0.334.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.334
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.334-1_swh1 (unstable-swh)
  debian/changelog
Due: none

admin/deposit: Allow users with permission to list their deposits
  assets/src/bundles/admin/deposit.js
  swh/web/admin/deposit.py
  swh/web/auth/utils.py
  swh/web/common/utils.py
  swh/web/templates/admin/deposit.html
  swh/web/templates/layout.html
  swh/web/tests/admin/test_deposit.py
  swh/web/tests/test_templates.py
Due: mypy, eslint

pristine-tar data for swh-web_0.0.335.orig.tar.gz
  swh-web_0.0.335.orig.tar.gz.delta
  swh-web_0.0.335.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.335
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.335-1_swh1 (unstable-swh)
  debian/changelog
Due: none

templates/revision-info: Display author fullname when name is None
  swh/web/templates/includes/revision-info.html
Due: none

Deprecate /origin/log route
  docs/uri-scheme-browse-origin.rst
  docs/uri-scheme-browse-snapshot.rst
  swh/web/browse/views/origin.py
  swh/web/browse/views/snapshot.py
  swh/web/misc/coverage.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy

coverage: Drop the cran origins computation workaround
  swh/web/misc/coverage.py
Due: mypy

pristine-tar data for swh-web_0.0.336.orig.tar.gz
  swh-web_0.0.336.orig.tar.gz.delta
  swh-web_0.0.336.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.336
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.336-1_swh1 (unstable-swh)
  debian/changelog
Due: none

api/graph: Fix error responses for invalid request Accept header
  swh/web/api/apiresponse.py
  swh/web/api/views/graph.py
  swh/web/tests/api/views/test_graph.py
Due: mypy

assets/save: Fix sourceforge git repository URL validation
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
Due: eslint

assets/save: Simplify origin URLs validation code
  assets/src/bundles/save/index.js
Due: eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
