Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
              ^.*\.eml$
          )$
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/python/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==24.4.26, flake8-pyproject]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json|
              swh/web/browse/tests/data/content_iso-8859-7_encoded|
              swh/web/add_forge_now/migrations/swh-afn-urls-canonicalise.txt
          )$
        args: [-L edn, -L crate, -L THIRDPARTY, -L thirdparty]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: twine-check
        name: twine check
        description: call twine check when pushing an annotated release tag
        entry: bash -c "ref=$(git describe) &&
          [[ $ref =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]] &&
          (python3 -m build --sdist && twine check $(ls -t dist/* | head -1)) || true"
        pass_filenames: false
        stages: [pre-push]
        language: python
        additional_dependencies: [twine, build]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: system
        types: [javascript]

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

config: Fix the handling of the indexer_storage config entry
  swh/web/config.py
Due: mypy

tox: Bump and pin mypy to 1.13.0
  tox.ini
Due: none

Makefile: add a help target
  Makefile.local
Due: none

Makefile: remove unneeded commands
  Makefile.local
Due: none

Makefile: remove spurious PHONY declarations
  Makefile.local
Due: none

Makefile: Fix test-frontend-* targets execution and cleanup
  Makefile.local
Due: none

inbound_email: GET is not allowed
  swh/web/inbound_email/tests/test_views.py
  swh/web/inbound_email/views.py
Due: mypy

inbound_email: Update AFNR last date when receiving an email
  swh/web/add_forge_now/signal_receivers.py
Due: mypy

api: Use drf serializers to sanitize query params
  swh/web/api/apiresponse.py
  swh/web/api/apiurls.py
  swh/web/api/tests/views/test_snapshot.py
  swh/web/api/views/snapshot.py
Due: mypy

e2e: Acknowledge xhr failures
  cypress/e2e/api-tokens.cy.js
  cypress/e2e/vault.cy.js
  cypress/support/e2e.js
  swh/web/deposit/urls.py
Due: mypy, eslint

package.json: Bump node to >= 20 and upgrade dependencies
  README.rst
  package.json
  yarn.lock
Due: none

browse: Improve releases sorting in releases list view
  requirements.txt
  swh/web/browse/snapshot_context.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

alter/models: Remove no longer needed type ignore
  swh/web/alter/models.py
Due: mypy

cypress/mailmap: Fix flaky test on Jenkins
  cypress/e2e/mailmap.cy.js
Due: eslint

api/origin: Fix returned data documentation of some endpoints
  swh/web/api/views/origin.py
Due: mypy

browse: Fix redirect issue in search interface
  assets/src/utils/functions.js
  cypress/e2e/origin-search.cy.js
  swh/web/conftest.py
  swh/web/tests/data.py
  swh/web/utils/tests/test_utils.py
Due: mypy, eslint

api/origin: Fix returned data documentation of some endpoints
  cypress/e2e/origin-search.cy.js
  swh/web/api/views/origin.py
Due: mypy, eslint

archive_coverage: Remove display of deprecated nixguix visit type
  swh/web/archive_coverage/tests/test_coverage.py
  swh/web/archive_coverage/views.py
Due: mypy

Apply swh-py-template v0.3.3 with copier
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-test.txt
  tox.ini
Due: none

api, inbound_email: Fix mypy 1.15 errors
  swh/web/api/throttling.py
  swh/web/inbound_email/handle_message.py
  swh/web/inbound_email/tests/test_utils.py
Due: mypy

browse, utils: Fix black formatting
  swh/web/browse/utils.py
  swh/web/utils/converters.py
Due: mypy

Makefile.local: Fix a couple of run targets
  Makefile.local
Due: none

add-forge-now: Update last_modified_date for email submitter
  swh/web/add_forge_now/signal_receivers.py
Due: mypy

add-forge-now/signal_receivers: Fix black formatting
  swh/web/add_forge_now/signal_receivers.py
Due: mypy

api/snapshot: Fix regression triggering error with postgresql storage
  swh/web/api/views/snapshot.py
Due: mypy

browse: Fix some issues related to citation tab
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/snapshot_context.py
Due: mypy, eslint

webpack: Handle non strict editable install of swh.web package
  assets/config/webpack.config.development.js
Due: eslint

utils/archive: Fix origin_visit_find_by_date search behavior
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
Due: mypy

AFN: block GitLab and Heptapod instances without any public projects
  assets/src/utils/functions.js
  cypress/e2e/add-forge-now-request-create.cy.js
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/templates/add-forge-creation-form.html
Due: eslint

api, utils: Fetch content bytes from storage using all hash algorithms
  swh/web/api/views/content.py
  swh/web/api/views/raw.py
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/utils.py
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
Due: mypy

api: refactor next page token getter
  swh/web/utils/archive.py
  swh/web/utils/converters.py
Due: mypy

api/revision: Query parameters serializer
  swh/web/api/views/revision.py
Due: mypy

api/citation: Query parameters serializer
  swh/web/api/tests/views/test_citation.py
  swh/web/api/views/citation.py
Due: mypy

api/content: Query parameters serializer
  swh/web/api/views/content.py
Due: mypy

api/extid: Query parameters serializer
  swh/web/api/tests/views/test_extid.py
  swh/web/api/views/extid.py
Due: mypy

api: Common serializer fields
  pyproject.toml
  requirements.txt
  swh/web/api/serializers.py
  swh/web/api/tests/test_serializers.py
Due: mypy
