Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".eml$"
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.9.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn, -L crate]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.31.1
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.31.1
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

package.json: Upgrade dependencies
  assets/config/webpack.config.development.js
  package.json
  swh/web/webapp/assets/webapp/pdf-rendering.js
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.2.44.orig.tar.gz
  swh-web_0.2.44.orig.tar.gz.delta
  swh-web_0.2.44.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.44
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.44-1_swh1 (unstable-swh)
  debian/changelog
Due: none

throttling: fix RateLimit-Reset header
  swh/web/api/throttling.py
Due: mypy

api.throttling: Add tests for X-RateLimit-Remaining behavior
  swh/web/api/tests/test_throttling.py
Due: mypy

Make the README file usable from sphinx
  README.md
Due: none

archive_coverage/assets: Fix CSS overflow rule for forge list URLs
  swh/web/archive_coverage/assets/coverage.css
Due: none

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

docs: include the README file in the main index page
  README.rst
  docs/index.rst
  setup.py
Due: mypy

pristine-tar data for swh-web_0.2.45.orig.tar.gz
  swh-web_0.2.45.orig.tar.gz.delta
  swh-web_0.2.45.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.45
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.45-1_swh1 (unstable-swh)
  debian/changelog
Due: none

webapp/templates/top-bar: Add a skip navigation link for accessibility
  cypress/e2e/accessibility.cy.js
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/includes/top-bar.html
Due: eslint

webapp: Fix outstanding accessibility issues in homepage
  cypress/e2e/accessibility.cy.js
  static/img/logos/bitbucket-hg.png
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/archive_coverage/views.py
  swh/web/browse/templates/includes/origin-search-form.html
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/homepage.html
  swh/web/webapp/templates/includes/footer.html
  swh/web/webapp/templates/includes/top-bar.html
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

save_code_now/templates/take-new-snapshot: Ensure focusable button
  swh/web/save_code_now/templates/includes/take-new-snapshot.html
Due: none

assets/src/thirdparty: Upgrade jquery.tabSlideOut
  .pre-commit-config.yaml
  assets/src/thirdparty/jquery.tabSlideOut/jquery.tabSlideOut.css
  assets/src/thirdparty/jquery.tabSlideOut/jquery.tabSlideOut.js
Due: eslint

webapp: Fix outstanding accessibility issues in browse origin pages
  assets/src/utils/highlightjs.js
  assets/src/utils/hljs-swh-theme.css
  cypress/e2e/accessibility.cy.js
  cypress/e2e/content-display.cy.js
  swh/web/browse/assets/guided_tour/guided-tour-steps.yaml
  swh/web/browse/assets/revision/diff-panel.ejs
  swh/web/browse/templates/browse-iframe.html
  swh/web/browse/templates/browse-revision.html
  swh/web/browse/templates/includes/breadcrumbs.html
  swh/web/browse/templates/includes/content-display.html
  swh/web/browse/templates/includes/readme-display.html
  swh/web/browse/templates/includes/show-swhids.html
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/webapp/assets/webapp/code-highlighting.js
Due: eslint

webapp/layout: Add aria attributes to button toggling sidebar state
  cypress/e2e/sidebar.cy.js
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/templates/layout.html
Due: eslint

browse: Ensure links in permalinks tab are not focusable when closed
  cypress/e2e/persistent-identifiers.cy.js
  swh/web/browse/assets/browse/swhid-utils.js
  swh/web/browse/templates/includes/show-swhids.html
Due: eslint

settings/tests: Prevent sending requests to deposit API with cypress
  swh/web/settings/tests.py
  swh/web/utils/__init__.py
Due: mypy

browse/templates/top-navigation: Add missing ul tags in branches widget
  swh/web/browse/assets/browse/browse.css
  swh/web/browse/templates/includes/top-navigation.html
Due: none

cypress: Add plugins to check accessibility compliance
  .achecker.yml
  .gitignore
  cypress/plugins/index.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: eslint

webapp/templates/layout: Update header tag content
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/includes/top-bar.html
  swh/web/webapp/templates/layout.html
Due: none

webapp/templates/layout: Turn nav in sidebar into two navs
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
Due: none

browse: Ensure sidebar is not focusable when closed
  swh/web/webapp/assets/webapp/webapp-utils.js
Due: eslint

browse: Ensure language select dropdown has box shadow when active
  swh/web/browse/assets/browse/browse.css
Due: none

webapp: Improve sidebar keyboard navigation
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
Due: none

api/tests/test_throttling: Fix compatibility with Python 3.7
  swh/web/api/tests/test_throttling.py
Due: mypy

add-forge-now: Trigger gitlab pipeline when a request is accepted
  swh/web/add_forge_now/api_views.py
  swh/web/add_forge_now/tests/test_api_views.py
  swh/web/add_forge_now/utils.py
  swh/web/config.py
Due: mypy

docs: Finish README conversion from markdown to rst and update index
  .gitignore
  README.rst
  docs/index.rst
Due: none

pristine-tar data for swh-web_0.2.46.orig.tar.gz
  swh-web_0.2.46.orig.tar.gz.delta
  swh-web_0.2.46.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.46
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.46-1_swh1 (unstable-swh)
  debian/changelog
Due: none

webapp: Fix regression regarding menu headers display in the sidebar
  cypress/e2e/sidebar.cy.js
  swh/web/webapp/assets/webapp/webapp.css
Due: eslint

pristine-tar data for swh-web_0.2.47.orig.tar.gz
  swh-web_0.2.47.orig.tar.gz.delta
  swh-web_0.2.47.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.47
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.47-1_swh1 (unstable-swh)
  debian/changelog
Due: none

api/tests: Fix failures after recent swh-storage update
  swh/web/api/tests/views/test_origin.py
  swh/web/api/tests/views/test_stat.py
Due: mypy
