Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

webapp: Move top bar in a dedicated template and make it configurable
  swh/web/config.py
  swh/web/utils/__init__.py
  swh/web/webapp/templates/includes/top-bar.html
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_templates.py
Due: mypy

webapp: Make inclusion of matomo script configurable
  swh/web/config.py
  swh/web/conftest.py
  swh/web/utils/__init__.py
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_templates.py
Due: mypy

add_forge_now: Update workflow and email template
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  swh/web/add_forge_now/assets/forge-success-email.ejs
  swh/web/add_forge_now/assets/request-dashboard.js
  swh/web/add_forge_now/models.py
  swh/web/add_forge_now/tests/test_api_views.py
  swh/web/add_forge_now/tests/test_models.py
Due: mypy, eslint

webapp: Disable admin menu for mirror version of swh-web
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

webapp: Turn mirror partner logo into an external link
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

add_forge_now: Redirect to main archive for mirror version of swh-web
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/save_code_now/templates/includes/take-new-snapshot.html
  swh/web/settings/common.py
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

webapp: Use custom template files for mirror homepage and footer
  swh/web/settings/common.py
  swh/web/webapp/templates/homepage.html
  swh/web/webapp/templates/includes/footer.html
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

webapp: Use a dictionnary to setup links in top bar
  swh/web/config.py
  swh/web/webapp/templates/includes/top-bar.html
  swh/web/webapp/tests/test_templates.py
Due: mypy

webapp/assets: Fix css class name
  swh/web/webapp/assets/webapp/webapp.css
Due: none

Add a make target to run a demo of the mirror version of swh-web
  Makefile.local
  mirror_demo/config.yml
  mirror_demo/static/partner_logo.png
  mirror_demo/templates/mirror-footer.html
  mirror_demo/templates/mirror-homepage.html
  swh/web/settings/tests.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.29.orig.tar.gz
  swh-web_0.2.29.orig.tar.gz.delta
  swh-web_0.2.29.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.29
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.29-1_swh1 (unstable-swh)
  debian/changelog
Due: none

webapp/assets: Ensure to not query counters for swh-web mirrors
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/templates/layout.html
Due: eslint

tests: Factor out config update and settings reload in a fixture
  swh/web/conftest.py
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

webapp: Allow to show/hide corner ribbon trough configuration
  mirror_demo/config.yml
  swh/web/config.py
  swh/web/utils/__init__.py
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_templates.py
Due: mypy

webapp: Ensure to not initialize status widget if conf is missing
  swh/web/webapp/templates/layout.html
Due: none

webapp: Improve display of mirror partner logo
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
Due: none

pristine-tar data for swh-web_0.2.30.orig.tar.gz
  swh-web_0.2.30.orig.tar.gz.delta
  swh-web_0.2.30.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.30
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.30-1_swh1 (unstable-swh)
  debian/changelog
Due: none

webapp, mirror_demo: Fix django templates formatting
  mirror_demo/templates/mirror-footer.html
  mirror_demo/templates/mirror-homepage.html
  swh/web/webapp/templates/homepage.html
  swh/web/webapp/templates/includes/footer.html
  swh/web/webapp/templates/layout.html
Due: none

conftest: Fix compatibility with django 2.x
  swh/web/conftest.py
Due: mypy

archive_coverage: Fix instance tables max height and bump its value
  swh/web/archive_coverage/assets/coverage.css
  swh/web/archive_coverage/templates/archive-coverage.html
Due: none

archive_coverage: Add Pagure to the list of origin types
  static/img/logos/pagure.png
  swh/web/archive_coverage/views.py
Due: mypy

pre-commit: Bump djLint hook
  .pre-commit-config.yaml
Due: none

package.json: Bump cypress-cloud
  package.json
  yarn.lock
Due: none

requirements-test: Exclude django-stubs 4.2.2
  requirements-test.txt
Due: none

pristine-tar data for swh-web_0.2.31.orig.tar.gz
  swh-web_0.2.31.orig.tar.gz.delta
  swh-web_0.2.31.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.31
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.31-1_swh1 (unstable-swh)
  debian/changelog
Due: none

archive_coverage: Improve archive coverage widget display
  swh/web/archive_coverage/assets/coverage.css
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/archive_coverage/views.py
Due: mypy

vault: Use proper way to submit cooking task creation form
  cypress/e2e/vault.cy.js
  swh/web/vault/assets/vault-create-tasks.js
  swh/web/vault/templates/includes/vault-create-tasks.html
Due: eslint

add_forge_now: Add a warning message in Add Forge Now UI
  swh/web/add_forge_now/templates/add-forge-common.html
Due: none

add_forge_now: Make forge URL clickable in request dashboard
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  swh/web/add_forge_now/assets/request-dashboard.js
Due: eslint

pristine-tar data for swh-web_0.2.32.orig.tar.gz
  swh-web_0.2.32.orig.tar.gz.delta
  swh-web_0.2.32.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.32
  debian/changelog
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
