Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

webapp/assets/math-typesetting: Add mathjax extensions in static assets
  assets/config/webpack.config.development.js
  swh/web/webapp/assets/webapp/math-typesetting.js
Due: eslint

jslicenses/templates: Reword the sentences introducing Web Labels table
  swh/web/jslicenses/templates/jslicenses.html
Due: none

pytest: Fix tests execution with pytest 8.1
  pytest.ini
  requirements-test.txt
Due: none

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

conftest: Improve mocking of webpack stats
  swh/web/conftest.py
Due: mypy

browse/search: Handle visit type when search pattern is an origin URL
  assets/src/utils/functions.js
  cypress/e2e/origin-search.cy.js
  swh/web/browse/assets/browse/origin-search.js
Due: eslint

tox: Simplify tests setup after pytest 8.1 release
  tox.ini
Due: none

Fix OriginInfo: use a list instead of a set for visit_types
  swh/web/api/tests/views/test_origin.py
  swh/web/browse/tests/test_snapshot_context.py
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
  swh/web/utils/typing.py
Due: mypy

Fix dependency on django-webpack-loader
  requirements.txt
Due: none

Apply swh-py-template v0.2.0
  .copier-answers.yml
  .pre-commit-config.yaml
  tox.ini
Due: none

Add support for revision_log returning Revision objects
  swh/web/conftest.py
  swh/web/utils/archive.py
Due: mypy

exc: be more careful when not escaping error descriptions
  swh/web/browse/tests/views/test_directory.py
  swh/web/browse/utils.py
  swh/web/utils/exc.py
Due: mypy

browse: Restore links on context-related error pages
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/utils/exc.py
Due: mypy

browse: Remove HTML links in NotFoundExc message
  cypress/e2e/errors.cy.js
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
Due: mypy, eslint

save_code_now: Remove use of elasticsearch to get extra save task info
  swh/web/config.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/data/http_esnode1.internal.softwareheritage.org/swh_workers-*__search
  swh/web/save_code_now/tests/test_origin_save.py
  swh/web/save_code_now/views.py
Due: mypy

api: Return visit types in origin metadata search
  cypress/e2e/origin-search.cy.js
  swh/web/api/tests/views/test_origin.py
  swh/web/config.py
  swh/web/utils/archive.py
  swh/web/utils/typing.py
Due: mypy, eslint

browse/snapshot_context: Remove forcing of default visit type
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/test_snapshot_context.py
  swh/web/browse/tests/views/test_origin.py
Due: mypy

webpack: Use stylelint-webpack-plugin to trigger stylelint processing
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

utils/tests: Fix test broken by docutils 0.21 release
  swh/web/utils/tests/test_utils.py
Due: mypy

add_forge_now: do not set a default forge type
  swh/web/add_forge_now/templates/add-forge-creation-form.html
Due: none

browse/utils: Replace chardet use by charset-normalizer
  requirements-test.txt
  requirements.txt
  swh/web/browse/tests/test_utils.py
  swh/web/browse/utils.py
Due: mypy

browse/utils: Remove redundant isinstance call
  swh/web/browse/utils.py
Due: mypy

browse: Add rate limit to content views to avoid abuses
  mypy.ini
  requirements.txt
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
  swh/web/config.py
  swh/web/settings/common.py
  swh/web/settings/production.py
  swh/web/settings/tests.py
  swh/web/utils/exc.py
Due: mypy

Remove HtmlPrettifyMiddleware (used in development mode)
  swh/web/settings/development.py
  swh/web/utils/__init__.py
  swh/web/utils/middlewares.py
Due: mypy

requirements: Turn beautifulsoup4 into a test dependency
  requirements-test.txt
  requirements.txt
  swh/web/api/tests/test_apidoc.py
  swh/web/tests/helpers.py
  swh/web/utils/__init__.py
Due: mypy

browse/utils: Fix error when charset_normalizer.detect failed
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/utils.py
Due: mypy

tests/helpers: Ensure displayed traceback is unescaped
  swh/web/tests/helpers.py
Due: mypy

requirements: Remove no longer needed dependencies
  requirements.txt
  swh/web/api/apiurls.py
  swh/web/utils/identifiers.py
  swh/web/utils/typing.py
Due: mypy

requirements: Reinstate use of upstream django-js-reverse
  requirements.txt
Due: none

browse/utils: Reinstate chardet use but only as a fallback
  .pre-commit-config.yaml
  requirements.txt
  swh/web/browse/tests/data/content_iso-8859-7_encoded
  swh/web/browse/tests/test_utils.py
  swh/web/browse/utils.py
Due: mypy

settings: Ensure client IP is correctly extracted from HTTP header
  swh/web/browse/tests/views/test_content.py
  swh/web/settings/common.py
  swh/web/settings/production.py
  swh/web/tests/helpers.py
Due: mypy

settings/tests: Use a lower rate limit value for content views
  swh/web/settings/tests.py
Due: mypy

save_code_now: Add pending requests notification icon in admin menu
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/origin_save.py
  swh/web/utils/__init__.py
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_templates.py
Due: mypy, eslint

browse: Adapt Permalinks tab size according to screen size
  cypress/e2e/swhids.cy.js
  swh/web/badges/tests/test_app.py
  swh/web/browse/assets/browse/swhid-utils.js
  swh/web/browse/templates/includes/show-swhids.html
Due: mypy, eslint

inbound_email/utils: Fix handling of invalid email address header
  swh/web/inbound_email/tests/test_utils.py
  swh/web/inbound_email/utils.py
Due: mypy

browse/tests/test_snapshot: Remove dateutil use
  swh/web/browse/tests/views/test_snapshot.py
Due: mypy

package.json: Bump dependencies
  assets/config/webpack.config.development.js
  package.json
  swh/web/webapp/assets/webapp/pdf-rendering.js
  yarn.lock
Due: eslint

tests/views: Fix loading of contents with editable install of swh-web
  swh/web/tests/views.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
