Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black

assets/save: Fix Web UI tabs switch when navigating in browser history
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
Due: eslint

csrf post
  assets/src/bundles/add_forge/request-dashboard.js
  swh/web/templates/add_forge_now/request-dashboard.html
Due: eslint

add-forge-now moderation tests: Fix default redirect url
  cypress/integration/add-forge-now-moderation.spec.js
Due: eslint

small
  assets/src/bundles/add_forge/request-dashboard.js
Due: eslint

small
  assets/src/bundles/add_forge/request-dashboard.js
  swh/web/templates/add_forge_now/request-dashboard.html
Due: eslint

Create "Add forge now" request
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/add_forge/index.js
  cypress/integration/add-forge-now-request-create.spec.js
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/create-request.html
  swh/web/templates/layout.html
Due: mypy, eslint

Save Code Now: Rewrite github.io URLs
  assets/src/utils/functions.js
  cypress/integration/origin-save.spec.js
Due: eslint

Fix access for people with permission access to deposit moderation
  cypress/integration/deposit-admin.spec.js
  cypress/support/index.js
  swh/web/templates/layout.html
  swh/web/tests/create_test_admin.py
  swh/web/tests/create_test_users.py
  swh/web/tests/utils.py
Due: mypy, eslint

Bug fixes in template and JS
  assets/src/bundles/add_forge/request-dashboard.js
  cypress/fixtures/add-forge-now-request.json
  cypress/integration/add-forge-now-request-dashboard.spec.js
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/request-dashboard.html
Due: mypy, eslint

Add moderation view to list add-forge-now requests
  assets/src/bundles/add_forge/index.js
  assets/src/bundles/add_forge/moderation-dashboard.js
  cypress/fixtures/add-forge-now-requests.json
  cypress/integration/add-forge-now-requests-moderation.spec.js
  cypress/support/index.js
  swh/web/admin/add_forge_now.py
  swh/web/admin/urls.py
  swh/web/common/utils.py
  swh/web/templates/add_forge_now/requests-moderation.html
  swh/web/templates/layout.html
  swh/web/tests/create_test_users.py
Due: mypy, eslint

Fix typo and drop unused variable
  cypress/integration/add-forge-now-request-dashboard.spec.js
Due: eslint

Add feature flag to toggle on/off add-forge-now feature
  swh/web/admin/urls.py
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/settings/tests.py
  swh/web/templates/layout.html
  swh/web/tests/test_config.py
  swh/web/urls.py
Due: mypy

Add-forge-now request dashboard
  assets/src/bundles/add_forge/add-request-history-item.ejs
  assets/src/bundles/add_forge/forge-admin-email.ejs
  assets/src/bundles/add_forge/index.js
  assets/src/bundles/add_forge/moderation-dashboard.js
  assets/src/bundles/add_forge/request-dashboard.js
  cypress/fixtures/add-forge-now-request.json
  cypress/integration/add-forge-now-request-dashboard.spec.js
  swh/web/admin/add_forge_now.py
  swh/web/templates/add_forge_now/request-dashboard.html
Due: mypy, eslint

settings.development: Activate add-forge-now feature for development
  swh/web/settings/development.py
Due: mypy

api/add_forge_now: Allow to use requests list endpoint with datatables
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

api: Add endpoint to list add-forge requests
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

api: Add endpoint to get details about an add-forge request
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

api: Add endpoint to create an add-forge request
  swh/web/api/urls.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
  swh/web/tests/utils.py
Due: mypy

api: Add endpoint to update an add-forge request
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/add_forge_now/test_models.py
  swh/web/tests/api/views/test_add_forge_now.py
  swh/web/tests/utils.py
Due: mypy

add_forge_now: Bootstrap app and model
  swh/web/add_forge_now/__init__.py
  swh/web/add_forge_now/apps.py
  swh/web/add_forge_now/migrations/0001_initial.py
  swh/web/add_forge_now/migrations/__init__.py
  swh/web/add_forge_now/models.py
  swh/web/add_forge_now/tests/test_migration.py
  swh/web/settings/common.py
Due: mypy

inbound_email: add utilities to extract and filter email recipients
  swh/web/inbound_email/utils.py
  swh/web/tests/inbound_email/test_utils.py
Due: mypy

Bootstrap a common app for management of inbound emails
  swh/web/inbound_email/__init__.py
  swh/web/inbound_email/apps.py
  swh/web/inbound_email/management/commands/process_inbound_email.py
  swh/web/inbound_email/signals.py
  swh/web/settings/common.py
  swh/web/tests/inbound_email/test_management_command.py
Due: mypy

add_forge_now: Move datatables listing in dedicated endpoint
  swh/web/add_forge_now/views.py
  swh/web/api/views/add_forge_now.py
  swh/web/auth/utils.py
  swh/web/tests/add_forge_now/test_views.py
  swh/web/tests/api/views/test_add_forge_now.py
  swh/web/tests/conftest.py
  swh/web/urls.py
Due: mypy

assets/bootstrap: Fix visual feedback of selected form elements
  assets/config/bootstrap-pre-customize.scss
Due: none

Handle error from server during add-forge creation request failure
  assets/src/bundles/add_forge/create-request.js
  cypress/integration/add-forge-now-request-create.spec.js
Due: eslint

Activate save code now feature for development related tools
  swh/web/config.py
  swh/web/settings/development.py
  swh/web/settings/tests.py
Due: mypy

django: Ensure defined URLs have trailing slash
  swh/web/add_forge_now/views.py
  swh/web/api/views/add_forge_now.py
  swh/web/api/views/origin.py
  swh/web/auth/mailmap.py
  swh/web/browse/views/content.py
  swh/web/misc/fundraising.py
  swh/web/misc/iframe.py
  swh/web/misc/origin_save.py
  swh/web/misc/urls.py
  swh/web/tests/api/test_throttling.py
  swh/web/tests/test_urls.py
  swh/web/urls.py
Due: mypy

pristine-tar data for swh-web_0.0.377.orig.tar.gz
  swh-web_0.0.377.orig.tar.gz.delta
  swh-web_0.0.377.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.377
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.377-1_swh1 (unstable-swh)
  debian/changelog
Due: none

add_forge_now: Rename django app and add missing app_label
  swh/web/add_forge_now/apps.py
Due: mypy

Consistently check add-forge-now permission to access or update info
  swh/web/add_forge_now/views.py
  swh/web/admin/add_forge_now.py
  swh/web/api/views/add_forge_now.py
  swh/web/common/utils.py
Due: mypy

Allow no comment when submitting a new add forge creation request
  swh/web/add_forge_now/migrations/0002_authorized_null_comment.py
  swh/web/add_forge_now/models.py
  swh/web/add_forge_now/tests/test_migration.py
  swh/web/api/views/add_forge_now.py
  swh/web/templates/add_forge_now/create-request.html
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy
