Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc --ignore-path assets/config/.eslintignore
  language: system

save_bulk: Add new endpoints to manage bulk archival of origins
  docs/uri-scheme-api-origin.rst
  swh/web/add_forge_now/tests/test_api_views.py
  swh/web/add_forge_now/tests/test_views.py
  swh/web/api/apidoc.py
  swh/web/api/parsers.py
  swh/web/auth/utils.py
  swh/web/config.py
  swh/web/conftest.py
  swh/web/save_bulk/__init__.py
  swh/web/save_bulk/api_views.py
  swh/web/save_bulk/apps.py
  swh/web/save_bulk/migrations/0001_initial.py
  swh/web/save_bulk/migrations/__init__.py
  swh/web/save_bulk/models.py
  swh/web/save_bulk/tests/__init__.py
  swh/web/save_bulk/tests/test_api_views.py
  swh/web/save_bulk/tests/test_views.py
  swh/web/save_bulk/urls.py
  swh/web/save_bulk/views.py
  swh/web/save_code_now/origin_save.py
  swh/web/settings/common.py
  swh/web/tests/helpers.py
  swh/web/tests/test_urls.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

assets: Upgrade highlightjs to 11.10.0
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/src/utils/highlightjs.js
  package.json
  static/json/highlightjs-languages.json
  yarn.lock
Due: eslint

webapp/assets: Add javascript function adding anchors to headings
  cypress/e2e/home.cy.js
  package.json
  swh/web/api/templates/api-endpoints.html
  swh/web/api/templates/api.html
  swh/web/api/templates/apidoc.html
  swh/web/browse/templates/includes/readme-display.html
  swh/web/webapp/assets/webapp/heading-anchors.css
  swh/web/webapp/assets/webapp/heading-anchors.js
  swh/web/webapp/assets/webapp/index.js
  swh/web/webapp/assets/webapp/readme-rendering.js
  swh/web/webapp/assets/webapp/webapp-utils.js
  yarn.lock
Due: eslint

webapp/assets: Simplify addHeadingAnchors implementation
  swh/web/webapp/assets/webapp/heading-anchors.js
  swh/web/webapp/assets/webapp/readme-rendering.js
Due: eslint

webapp/assets: Improve rendering of warning blocks in apidoc
  swh/web/webapp/assets/webapp/webapp.css
Due: none

docs: Centralize all archival request API endpoints in a same section
  docs/uri-scheme-api-origin.rst
  docs/uri-scheme-api-request-archival.rst
  docs/uri-scheme-api.rst
Due: none

add_forge_now/api_views: Add missing URL arguments in documentation
  swh/web/add_forge_now/api_views.py
Due: mypy

api: Fix some issues regarding documentation format
  swh/web/api/views/identifiers.py
  swh/web/api/views/origin.py
  swh/web/save_code_now/api_views.py
Due: mypy

browse/tests: Mark a snapshot test as flaky
  swh/web/browse/tests/views/test_snapshot.py
Due: mypy

docs/uri-scheme-api-origin: Add missing endpoints documentation
  docs/uri-scheme-api-origin.rst
Due: none

vault: Ensure recooking of a bundle not referenced in local storage
  cypress/e2e/vault.cy.js
  swh/web/vault/assets/vault-create-tasks.js
  swh/web/vault/assets/vault-ui.js
Due: eslint

save_origin_visit_webhook: Make origin_url mandatory
  swh/web/save_code_now/origin_visit_webhook.py
Due: mypy

Add a sync_masking_mailmaps admin command
  requirements-swh.txt
  swh/web/mailmap/management/commands/sync_masking_mailmaps.py
  swh/web/mailmap/tests/test_masking_mailmap.py
Due: mypy

Split test_mailmap in 2 parts
  swh/web/mailmap/tests/test_mailmap.py
  swh/web/mailmap/tests/test_mailmap_legacy.py
Due: mypy

Update mypy in tox to 1.11 and make it happy
  requirements-swh.txt
  requirements-test.txt
  swh/web/badges/__init__.py
  swh/web/inbound_email/utils.py
  swh/web/utils/archive.py
  tox.ini
Due: mypy

package.json: Bump iframe-resizer to version 5.x
  package.json
  swh/web/archive_coverage/assets/index.js
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/webapp/assets/vendors/index.js
  swh/web/webapp/assets/webapp/webapp-utils.js
  yarn.lock
Due: eslint

package.json: Bump dependencies
  package.json
  swh/web/webapp/assets/vendors/index.js
  swh/web/webapp/assets/webapp/webapp.css
  yarn.lock
Due: eslint

save_bulk/api_views: Fix curl commands in endpoint documentation
  swh/web/save_bulk/api_views.py
Due: mypy

browse/tests: Mark a test as flaky with pytest
  swh/web/browse/tests/test_snapshot_context.py
Due: mypy

utils/urlsindex: Add support for django non regexp route
  swh/web/api/apidoc.py
  swh/web/api/apiurls.py
  swh/web/api/views/utils.py
  swh/web/browse/browseurls.py
  swh/web/utils/urlsindex.py
Due: mypy

api/apidoc: Add support for note rst directive
  swh/web/api/apidoc.py
  swh/web/webapp/assets/webapp/webapp.css
Due: mypy

save_bulk: Add Web API endpoint to get feedback about a sent request
  docs/uri-scheme-api-request-archival.rst
  swh/web/api/apiresponse.py
  swh/web/save_bulk/api_views.py
  swh/web/save_bulk/tests/test_api_views.py
  swh/web/utils/exc.py
Due: mypy

save_bulk: Adapt code after bulk-save lister renaming to save-bulk
  swh/web/conftest.py
  swh/web/save_bulk/api_views.py
  swh/web/save_bulk/tests/test_api_views.py
  swh/web/save_bulk/views.py
Due: mypy

webapp/assets: Use showdown-highlight from npm instead of vendoring it
  package.json
  swh/web/webapp/assets/webapp/readme-rendering.js
  yarn.lock
Due: eslint

save_bulk: Add Web API endpoint listing requests submitted by user
  docs/uri-scheme-api-request-archival.rst
  swh/web/save_bulk/api_views.py
  swh/web/save_bulk/tests/test_api_views.py
Due: mypy

history-counters: Ensure last counter value can be displayed in tooltip
  swh/web/webapp/assets/webapp/history-counters.js
Due: eslint

Apply swh-py-template v0.2.3
  .copier-answers.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  pyproject.toml
  setup.cfg
  tox.ini
Due: none

Make qa tools happy again
  .pre-commit-config.yaml
  docs/uri-scheme-browse-content.rst
  swh/web/api/views/utils.py
  swh/web/auth/views.py
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/tests/views/test_iframe.py
  swh/web/browse/views/iframe.py
  swh/web/inbound_email/tests/common_tests.py
  swh/web/metrics/tests/test_metrics.py
  swh/web/save_code_now/tests/test_django_command.py
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/utils/tests/test_utils.py
Due: mypy

save_bulk/models: Fix mypy errors
  swh/web/save_bulk/models.py
Due: mypy

utils: Add django URL path converter for SWHID type
  swh/web/api/urls.py
  swh/web/api/views/extid.py
  swh/web/api/views/metadata.py
  swh/web/api/views/raw.py
  swh/web/badges/tests/test_badges.py
  swh/web/badges/urls.py
  swh/web/browse/urls.py
  swh/web/browse/views/iframe.py
  swh/web/urls.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_url_path_converters.py
  swh/web/utils/url_path_converters.py
  swh/web/vault/api_views.py
Due: mypy

provenance: Add new Web API endpoints wrapping provenance operations
  docs/uri-scheme-api-provenance.rst
  docs/uri-scheme-api.rst
  requirements-swh.txt
  requirements-test.txt
  swh/web/api/apiurls.py
  swh/web/auth/migrations/0008_create_webapp_permissions.py
  swh/web/auth/migrations/0009_create_provenance_permission.py
  swh/web/auth/tests/test_migrations.py
  swh/web/auth/utils.py
  swh/web/config.py
  swh/web/conftest.py
  swh/web/provenance/__init__.py
  swh/web/provenance/api_views.py
  swh/web/provenance/apps.py
  swh/web/provenance/tests/test_api_views.py
  swh/web/provenance/tests/test_apps.py
  swh/web/provenance/urls.py
Due: mypy

SCN: do not hide the 'metadata' field of a TaskRun in the info box of a SCN request
  swh/web/save_code_now/assets/origin-save.js
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_origin_save.py
Due: mypy, eslint

Add an error page to handle masked objects
  swh/web/api/apiresponse.py
  swh/web/api/tests/test_apiresponse.py
  swh/web/browse/tests/views/conftest.py
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/tests/views/test_directory.py
  swh/web/browse/tests/views/test_origin.py
  swh/web/browse/tests/views/test_release.py
  swh/web/browse/tests/views/test_revision.py
  swh/web/browse/tests/views/test_snapshot.py
  swh/web/utils/exc.py
  swh/web/webapp/templates/includes/error-base.html
  swh/web/webapp/templates/includes/http-error.html
  swh/web/webapp/templates/includes/masking-error.html
  swh/web/webapp/templates/masked.html
Due: mypy

Add citation endpoints v1
  requirements-swh.txt
  swh/web/api/tests/views/test_citation.py
  swh/web/api/urls.py
  swh/web/api/views/citation.py
  swh/web/conftest.py
  swh/web/tests/data.py
  swh/web/tests/resources/repos/repo_with_cff_file.zip
  swh/web/utils/archive.py
  swh/web/utils/metadata.py
  swh/web/utils/tests/test_metadata.py
Due: mypy

api: Add missing info about type field in visit endpoints
  swh/web/api/views/origin.py
Due: mypy

Refactor Permalinks box
  cypress/e2e/swhids.cy.js
  swh/web/browse/assets/browse/swhid-utils.js
Due: eslint

tests: Fix existing markers and enforce --strict-markers
  pytest.ini
Due: none

tests: Remove unused pytest asyncio_mode setting
  pytest.ini
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
