Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

api/origin: Add visit_type query parameter to api-1-origin-visit-latest
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
  swh/web/browse/assets/browse/origin-search.js
Due: mypy, eslint

pytest.ini: Fix 'pytest-postgresql < 4' support with 'pytest >= 8'
  pytest.ini
Due: none

auth/tests: Fix possible issue depending on django and postgres version
  swh/web/auth/tests/test_views.py
Due: mypy

Update for compatibility with pytest-postgresql >= 5
  pytest.ini
  requirements-swh.txt
  requirements-test.txt
  swh/web/mailmap/tests/test_mailmap.py
Due: mypy

tox: Bump mypy to 1.8.0
  tox.ini
Due: none

utils/archive: Remove spurious print
  swh/web/utils/archive.py
Due: mypy

utils: Simplify signatures of some origin related functions
  swh/web/api/tests/test_utils.py
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
  swh/web/badges/__init__.py
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/test_snapshot_context.py
  swh/web/browse/views/origin.py
  swh/web/utils/archive.py
  swh/web/utils/identifiers.py
  swh/web/utils/origin_visits.py
  swh/web/utils/tests/test_archive.py
  swh/web/utils/tests/test_origin_visits.py
Due: mypy

archive: Fetch visit types associated to an origin in lookup_origin
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
  swh/web/browse/tests/test_snapshot_context.py
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
  swh/web/utils/typing.py
Due: mypy

save_code_now/api_views: Do not quote plus character in origin URL
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy

Makefile.local: Concatenate TESTFLAGS instead of overriding it
  Makefile.local
Due: none

inbound_email: reorganize tests to enable sharing logic across importers
  swh/web/inbound_email/tests/common_tests.py
  swh/web/inbound_email/tests/test_management_command.py
Due: mypy

inbound_email: move processing to a separate utility class
  swh/web/inbound_email/handle_message.py
  swh/web/inbound_email/management/commands/process_inbound_email.py
Due: mypy

inbound_email: add a view-based email ingestor
  swh/web/config.py
  swh/web/inbound_email/handle_message.py
  swh/web/inbound_email/tests/common_tests.py
  swh/web/inbound_email/tests/test_management_command.py
  swh/web/inbound_email/tests/test_views.py
  swh/web/inbound_email/urls.py
  swh/web/inbound_email/views.py
Due: mypy

settings/common: Set VERSION option in cache configuration
  swh/web/settings/common.py
Due: mypy

browse/snapshot_context: Do not store branches messages in cache
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/test_snapshot_context.py
Due: mypy

utils: Catch MemcacheServerError when attempt to cache a value failed
  mypy.ini
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
Due: mypy

utils: Improve django cache management
  swh/web/archive_coverage/views.py
  swh/web/utils/__init__.py
  swh/web/utils/origin_visits.py
  swh/web/utils/tests/test_utils.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

utils, webapp: Use importlib.metadata instead of pkg_resources
  mypy.ini
  swh/web/utils/__init__.py
  swh/web/webapp/tests/test_templates.py
Due: mypy

tox: Run Python tests in parallel to speedup CI jobs
  swh/web/conftest.py
  tox.ini
Due: mypy

browse: Improve browsing an origin with multiple visit types
  swh/web/browse/assets/browse/browse-utils.js
  swh/web/browse/snapshot_context.py
  swh/web/browse/templates/includes/snapshot-context.html
  swh/web/browse/tests/views/test_origin.py
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/origin.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/browse/views/snapshot.py
  swh/web/conftest.py
  swh/web/utils/archive.py
  swh/web/utils/origin_visits.py
  swh/web/utils/tests/test_archive.py
  swh/web/webapp/assets/webapp/webapp.css
Due: mypy, eslint

browse/assets/origin-search: Handle origins with multiple visit types
  cypress/e2e/origin-search.cy.js
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
  swh/web/browse/assets/browse/origin-search.js
  swh/web/conftest.py
  swh/web/tests/data.py
  swh/web/utils/tests/test_archive.py
  swh/web/utils/tests/test_utils.py
Due: mypy, eslint

Do not report 'object too large for cache' to Sentry
  swh/web/utils/__init__.py
Due: mypy

browse/snapshot_content: Optimize cached directory entries size
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/test_utils.py
  swh/web/browse/utils.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/revision.py
Due: mypy

browse/snapshot_context: Ensure full VCS visit type is selected by default
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/test_snapshot_context.py
  swh/web/browse/tests/views/test_origin.py
Due: mypy

datatables: Remove scrollY option and use default behavior instead
  swh/web/auth/assets/index.js
  swh/web/deposit/assets/index.js
  swh/web/mailmap/assets/index.js
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

datatables: Add FixedHeader extension and use it
  package.json
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/assets/moderation-dashboard.js
  swh/web/auth/assets/index.js
  swh/web/deposit/assets/index.js
  swh/web/mailmap/assets/index.js
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/assets/origin-save.js
  swh/web/webapp/assets/vendors/datatables.css
  swh/web/webapp/assets/vendors/index.js
  yarn.lock
Due: eslint

datatables: Allow up to 1000 entries per page in some tables
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/assets/moderation-dashboard.js
  swh/web/deposit/assets/index.js
  swh/web/mailmap/assets/index.js
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

datatables: Upgrade to version 2.0.0
  package.json
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/assets/webapp/webapp.css
  yarn.lock
Due: eslint

datatables: Extract common configuration to remove duplications
  assets/src/utils/constants.js
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/assets/moderation-dashboard.js
  swh/web/auth/assets/index.js
  swh/web/deposit/assets/index.js
  swh/web/mailmap/assets/index.js
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

api/extid: Update documentation to mention some extid version bumps
  swh/web/api/views/extid.py
Due: mypy

save_code_now: Handle default ordering in datatables views
  swh/web/save_code_now/admin_views.py
  swh/web/save_code_now/views.py
Due: mypy

Small fix for /origin/save
  swh/web/save_code_now/api_views.py
Due: mypy

inbound_email: Add test for implicit destinations
  swh/web/inbound_email/tests/resources/bounce-implicit-dest.eml
  swh/web/inbound_email/tests/test_utils.py
Due: mypy

config: add support for SECRET_KEY_FALLBACKS
  swh/web/config.py
  swh/web/inbound_email/tests/test_utils.py
  swh/web/inbound_email/utils.py
  swh/web/settings/common.py
Due: mypy

inbound_email: restore support for sha1-based signed addresses
  swh/web/inbound_email/tests/test_utils.py
  swh/web/inbound_email/utils.py
Due: mypy

inbound_email: extend the list of headers accepted for email destinations
  swh/web/inbound_email/utils.py
Due: mypy

settings: ensure that the production secret key does not match the development default
  swh/web/settings/production.py
Due: mypy

webapp/assets/sentry: Do not report ChunkLoaderError issues to Sentry
  swh/web/webapp/assets/webapp/sentry.js
Due: eslint

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
