Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

Add API endpoint to get the list of metadata authorities on an origin from its URL
  swh/web/api/views/metadata.py
  swh/web/tests/api/views/test_metadata.py
Due: mypy

Add support for querying raw-extrinsic-metadata for origins
  swh/web/api/utils.py
  swh/web/api/views/metadata.py
  swh/web/api/views/origin.py
  swh/web/tests/api/test_utils.py
  swh/web/tests/api/views/test_metadata.py
Due: mypy

Add link to origin extrinsic metadata API endpoint from the UI
  swh/web/templates/includes/show-metadata.html
  swh/web/tests/browse/views/test_origin.py
Due: mypy

Fix test_origin_sub_directory_view
  swh/web/tests/browse/views/test_origin.py
Due: mypy

common/query: Remove dead uuid parsing code
  swh/web/common/query.py
  swh/web/tests/common/test_query.py
Due: mypy

Update test data for swh-search 0.16.0.
  requirements-swh.txt
  swh/web/tests/data.py
Due: mypy

settings/common: Silence urllib3 debug logging
  swh/web/settings/common.py
Due: mypy

Makefile.local: Do not filter out error output when running migrations
  Makefile.local
Due: none

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

Disable Sentry reporting of 4xx status codes
  swh/web/common/exc.py
Due: mypy

templates/layout: Prevent flashing of collapsed sidebar on page load
  assets/src/bundles/webapp/webapp-utils.js
  assets/src/bundles/webapp/webapp.css
  swh/web/common/utils.py
  swh/web/templates/layout.html
Due: mypy, eslint

templates: Fix add forge now and mailmap menu items highlighting
  cypress/e2e/add-forge-now-request-create.cy.js
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/mailmap.cy.js
  swh/web/templates/add_forge_now/common.html
  swh/web/templates/add_forge_now/request-dashboard.html
  swh/web/templates/add_forge_now/requests-moderation.html
  swh/web/templates/admin/mailmap.html
  swh/web/templates/layout.html
Due: eslint

Declare swh-web applications in config and register templates and URLs
  swh/web/api/apiurls.py
  swh/web/api/views/utils.py
  swh/web/browse/browseurls.py
  swh/web/browse/urls.py
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/settings/common.py
  swh/web/tests/test_urls.py
  swh/web/urls.py
Due: mypy

pristine-tar data for swh-web_0.0.397.orig.tar.gz
  swh-web_0.0.397.orig.tar.gz.delta
  swh-web_0.0.397.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.397
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.397-1_swh1 (unstable-swh)
  debian/changelog
Due: none

mailmap: Move feature into a dedicated django application
  swh/web/admin/mailmap.py
  swh/web/admin/urls.py
  swh/web/auth/migrations/0007_mailmap_django_app.py
  swh/web/auth/models.py
  swh/web/auth/views.py
  swh/web/config.py
  swh/web/mailmap/__init__.py
  swh/web/mailmap/apps.py
  swh/web/mailmap/management/__init__.py
  swh/web/mailmap/management/commands/__init__.py
  swh/web/mailmap/management/commands/sync_mailmaps.py
  swh/web/mailmap/migrations/0001_initial.py
  swh/web/mailmap/migrations/__init__.py
  swh/web/mailmap/models.py
  swh/web/mailmap/templates/admin/mailmap.html
  swh/web/mailmap/urls.py
  swh/web/mailmap/views.py
  swh/web/templates/layout.html
  swh/web/tests/auth/test_migrations.py
  swh/web/tests/conftest.py
  swh/web/tests/mailmap/__init__.py
  swh/web/tests/mailmap/test_app.py
  swh/web/tests/mailmap/test_mailmap.py
  swh/web/tests/mailmap/test_migrations.py
Due: mypy

Move all add forge now features into a same django application
  swh/web/add_forge_now/admin_views.py
  swh/web/add_forge_now/api_views.py
  swh/web/add_forge_now/templates/add-forge-common.html
  swh/web/add_forge_now/templates/add-forge-creation-form.html
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/add_forge_now/templates/add-forge-list.html
  swh/web/add_forge_now/templates/add-forge-request-dashboard.html
  swh/web/add_forge_now/templates/add-forge-requests-moderation.html
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
  swh/web/admin/urls.py
  swh/web/api/urls.py
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/templates/layout.html
  swh/web/tests/add_forge_now/__init__.py
  swh/web/tests/add_forge_now/test_api_views.py
  swh/web/tests/add_forge_now/test_app.py
  swh/web/tests/add_forge_now/test_views.py
  swh/web/tests/test_config.py
  swh/web/urls.py
Due: mypy

api: Move templates into application folder
  swh/web/api/apiresponse.py
  swh/web/api/templates/api-endpoints.html
  swh/web/api/templates/api.html
  swh/web/api/templates/apidoc.html
  swh/web/api/views/utils.py
  swh/web/tests/api/test_apidoc.py
Due: mypy

auth: Move related templates, views and urls in application folder
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/admin.cy.js
  cypress/support/e2e.js
  swh/web/admin/urls.py
  swh/web/auth/templates/login.html
  swh/web/auth/templates/logout.html
  swh/web/auth/templates/profile.html
  swh/web/auth/urls.py
  swh/web/auth/views.py
  swh/web/settings/common.py
  swh/web/tests/auth/test_views.py
  swh/web/urls.py
Due: mypy, eslint

deposit: Move administration view in a dedicated django application
  swh/web/admin/urls.py
  swh/web/common/urlsindex.py
  swh/web/config.py
  swh/web/deposit/__init__.py
  swh/web/deposit/templates/deposit-admin.html
  swh/web/deposit/urls.py
  swh/web/templates/layout.html
  swh/web/tests/deposit/__init__.py
  swh/web/tests/deposit/test_app.py
  swh/web/tests/deposit/test_views.py
Due: mypy

Remove no longer needed admin folder
  swh/web/admin/__init__.py
  swh/web/admin/adminurls.py
  swh/web/admin/urls.py
  swh/web/tests/admin/__init__.py
  swh/web/urls.py
Due: mypy

Drop ctags indexer references and hidden api using it
  swh/web/api/views/content.py
  swh/web/common/archive.py
  swh/web/tests/api/views/test_content.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_utils.py
  swh/web/tests/conftest.py
  swh/web/tests/data.py
Due: mypy

add-forge-now: Display forge url as link in moderation view
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/add_forge/moderation-dashboard.js
  assets/src/bundles/admin/deposit.js
  assets/src/utils/functions.js
Due: eslint

Add-forge-now: Change word-wrapping of email template to 72 columns
  assets/src/bundles/add_forge/forge-admin-email.ejs
Due: none

update text for add forge now email to forge admin
  assets/src/bundles/add_forge/forge-admin-email.ejs
  assets/src/bundles/add_forge/request-dashboard.js
  cypress/e2e/add-forge-now-request-dashboard.cy.js
Due: eslint

webpack: Use sentry plugin in production mode to upload source maps
  assets/config/webpack.config.production.js
  package.json
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.0.398.orig.tar.gz
  swh-web_0.0.398.orig.tar.gz.delta
  swh-web_0.0.398.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.398
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.398-1_swh1 (unstable-swh)
  debian/changelog
Due: none

add_forge_now: Add last_{moderator, modified_date} fields to Request
  swh/web/add_forge_now/migrations/0006_request_add_new_fields.py
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/add_forge_now/test_migration.py
  swh/web/tests/add_forge_now/test_views.py
Due: mypy

rename add forge now status from denied to unsuccessful
  assets/src/bundles/add_forge/index.js
  assets/src/bundles/add_forge/request-dashboard.js
  swh/web/add_forge_now/migrations/0007_rename_denied_request_status.py
  swh/web/add_forge_now/models.py
  swh/web/templates/add_forge_now/help.html
  swh/web/tests/add_forge_now/test_migration.py
  swh/web/tests/add_forge_now/test_models.py
Due: mypy, eslint

add_forge_now: Add client-side and server-side forge URL validation
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/save/index.js
  assets/src/utils/functions.js
  cypress/e2e/add-forge-now-request-create.cy.js
  swh/web/add_forge_now/migrations/0008_turn_request_forge_url_into_url_field.py
  swh/web/add_forge_now/models.py
  swh/web/templates/add_forge_now/creation_form.html
  swh/web/tests/add_forge_now/test_migration.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy, eslint

pristine-tar data for swh-web_0.0.399.orig.tar.gz
  swh-web_0.0.399.orig.tar.gz.delta
  swh-web_0.0.399.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.399
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.399-1_swh1 (unstable-swh)
  debian/changelog
Due: none
