Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

Updated debian changelog for version 0.0.350
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.350-1_swh1 (unstable-swh)
  debian/changelog
Due: none

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

browse/snapshot_context: Handle empty revisions history in log view
  swh/web/browse/snapshot_context.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy

browse/snapshot_context: Fix revision_found setting in directory view
  swh/web/browse/snapshot_context.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy

browse/utils: Ensure to guess language from filename and not its path
  swh/web/browse/utils.py
  swh/web/tests/browse/test_utils.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  static/json/highlightjs-languages.json
  yarn.lock
Due: none

api/graph: Forward error response from the graph API
  swh/web/api/views/graph.py
  swh/web/tests/api/views/test_graph.py
Due: mypy

api/graph: Handle query parameters that might be passed in graph_query
  swh/web/api/views/graph.py
  swh/web/tests/api/views/test_graph.py
Due: mypy

api/graph: Implement anti-DoS policies for graph visits
  swh/web/api/views/graph.py
  swh/web/config.py
  swh/web/tests/api/views/test_graph.py
Due: mypy

tests: Use TimestampWithTimezone.from_datetime() instead of the constructor
  swh/web/tests/api/views/test_release.py
  swh/web/tests/common/test_converters.py
Due: mypy

Remove special handling of negative_utc
  swh/web/common/converters.py
Due: mypy

pristine-tar data for swh-web_0.0.351.orig.tar.gz
  swh-web_0.0.351.orig.tar.gz.delta
  swh-web_0.0.351.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.351
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.351-1_swh1 (unstable-swh)
  debian/changelog
Due: none

common/origin_save: Fix elasticsearch request
  swh/web/common/origin_save.py
Due: mypy

browse/snapshot_context: Fix revisions log link display regression
  swh/web/browse/snapshot_context.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy

Makefile.local: Pass --frozen-lockfile option to yarn install
  Makefile.local
Due: none

pristine-tar data for swh-web_0.0.352.orig.tar.gz
  swh-web_0.0.352.orig.tar.gz.delta
  swh-web_0.0.352.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.352
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.352-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Fix ReST syntax
  docs/uri-scheme-browse.rst
Due: none

webpack/weblabels-plugin: Read package.json file only when required
  assets/config/webpack-plugins/generate-weblabels-webpack-plugin/index.js
Due: eslint

assets/highlightjs: Add new languages to highlight and fix some issues
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/config/webpack.config.development.js
  assets/src/bundles/revision/diff-utils.js
  assets/src/utils/highlightjs.js
  cypress/integration/language-select.spec.js
  package.json
  static/json/highlightjs-languages.json
  swh/web/browse/utils.py
  swh/web/browse/views/content.py
  swh/web/common/highlightjs.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/common/test_highlightjs.py
  swh/web/tests/conftest.py
  yarn.lock
Due: mypy, eslint

package.json: Upgrade dependencies
  assets/src/bundles/origin/visits-reporting.css
  assets/src/bundles/revision/revision.css
  assets/src/bundles/vendors/index.js
  package.json
  yarn.lock
Due: eslint

tests: Fix flaky test introduced in 7ea3aab33ed8
  swh/web/tests/browse/views/test_content.py
Due: mypy

common/origin_save: Fix extraction of elasticsearch document fields
  swh/web/common/origin_save.py
Due: mypy

assets/vault: Trigger task creation when hitting enter key on modals
  assets/src/bundles/vault/vault-create-tasks.js
  assets/src/bundles/webapp/webapp-utils.js
  cypress/integration/vault.spec.js
  swh/web/templates/includes/vault-create-tasks.html
Due: eslint

assets/save: Add origin browse link only for valid visit statuses
  assets/src/bundles/save/index.js
  cypress/fixtures/origin-save.json
  cypress/integration/origin-save.spec.js
Due: eslint

pristine-tar data for swh-web_0.0.353.orig.tar.gz
  swh-web_0.0.353.orig.tar.gz.delta
  swh-web_0.0.353.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.353
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.353-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Revert "templates/layout: Hide donate link temporarily"
  cypress/integration/layout.spec.js
  swh/web/templates/layout.html
Due: eslint

templates/layout: Remove fundraising banner integration
  assets/src/bundles/webapp/webapp.css
  swh/web/templates/layout.html
Due: none

cypress: Fix flaky test
  cypress/integration/origin-search.spec.js
Due: eslint

pristine-tar data for swh-web_0.0.355.orig.tar.gz
  swh-web_0.0.355.orig.tar.gz.delta
  swh-web_0.0.355.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.355
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.355-1_swh1 (unstable-swh)
  debian/changelog
Due: none

archive: Pass limit as a keyword parameter to storage.revision_log
  swh/web/common/archive.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
