Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black

assets/save: Display save code now request note in a pre element
  assets/src/bundles/save/index.js
Due: eslint

pre-commit: Remove codespell commit-msg hook
  .pre-commit-config.yaml
Due: none

assets/admin: Improve deposits datatables content
  assets/src/bundles/admin/deposit.js
  cypress/integration/deposit-admin.spec.js
Due: eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

browse/utils: Do not log decoding error to sentry in re_encode_content
  swh/web/browse/utils.py
Due: mypy

pristine-tar data for swh-web_0.0.383.orig.tar.gz
  swh-web_0.0.383.orig.tar.gz.delta
  swh-web_0.0.383.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.383
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.383-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Bump mypy to v0.942
  tox.ini
Due: none

cypress: Use non github origin for save code now tests
  cypress/integration/origin-save.spec.js
Due: eslint

add_forge_now: Add new columns in requests moderation dashboard
  assets/src/bundles/add_forge/moderation-dashboard.js
  swh/web/add_forge_now/views.py
  swh/web/api/views/add_forge_now.py
  swh/web/templates/add_forge_now/requests-moderation.html
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy, eslint

Adds an API route for fetching objects as Git objects
  requirements-swh.txt
  swh/web/api/urls.py
  swh/web/api/views/raw.py
  swh/web/tests/api/views/test_raw.py
Due: mypy

Deduplicate `SWHID_RE`
  swh/web/api/views/metadata.py
  swh/web/api/views/vault.py
  swh/web/common/utils.py
Due: mypy

Extend test utits with new functions
  swh/web/tests/conftest.py
  swh/web/tests/data.py
Due: mypy

debian/control: Bump swh-storage dependency
  debian/control
Due: none

apidoc: Fix HTML rendering issues in /api/1/raw/(swhid)/ endpoint doc
  swh/web/api/apidoc.py
  swh/web/api/views/raw.py
Due: mypy

pristine-tar data for swh-web_0.0.384.orig.tar.gz
  swh-web_0.0.384.orig.tar.gz.delta
  swh-web_0.0.384.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.384
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.384-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Fix `api_swhid_known` when swhids share hash part
  swh/web/api/views/identifiers.py
  swh/web/tests/api/views/test_identifiers.py
Due: mypy

pristine-tar data for swh-web_0.0.385.orig.tar.gz
  swh-web_0.0.385.orig.tar.gz.delta
  swh-web_0.0.385.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.385
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.385-1_swh1 (unstable-swh)
  debian/changelog
Due: none

docs: Add /raw/(swhid)/ endpoint in Web API documentation
  docs/index.rst
  docs/uri-scheme-api-swhids.rst
  docs/uri-scheme-api.rst
  docs/uri-scheme-swhids.rst
Due: none

api/origin_search: Add missing doc for visit_type query parameter
  swh/web/api/views/origin.py
Due: mypy

search: Allow to pass empty pattern when searching for origins
  assets/src/bundles/browse/origin-search.js
  cypress/integration/origin-search.spec.js
  swh/web/api/views/origin.py
  swh/web/templates/includes/origin-search-form.html
  swh/web/tests/api/views/test_origin.py
Due: mypy, eslint

templates/content-display: Check content rendering for mime type first
  cypress/integration/content-rendering.spec.js
  swh/web/templates/includes/content-display.html
Due: eslint

api/throttling: Fix save code now throttle scope name
  swh/web/api/throttling.py
  swh/web/settings/tests.py
  swh/web/tests/api/views/test_origin_save.py
Due: mypy

add strict asyncio_mode in pytest.ini
  pytest.ini
Due: none

common/utils: Display seconds by default in format_utc_iso_date
  cypress/integration/origin-visits.spec.js
  cypress/utils/index.js
  swh/web/common/utils.py
  swh/web/tests/common/test_utils.py
Due: mypy, eslint

pristine-tar data for swh-web_0.0.386.orig.tar.gz
  swh-web_0.0.386.orig.tar.gz.delta
  swh-web_0.0.386.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.386
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.386-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Add forge now: add inbound email address to model
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
  swh/web/config.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

Add Forge Now: add a forge_domain property for use in templates
  assets/src/bundles/add_forge/request-dashboard.js
  cypress/integration/add-forge-now-request-dashboard.spec.js
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/add_forge_now/test_models.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy, eslint

add_forge_now: Improve HTML and harmonize display style
  swh/web/templates/add_forge_now/common.html
  swh/web/templates/add_forge_now/creation_form.html
  swh/web/templates/add_forge_now/help.html
  swh/web/templates/add_forge_now/list.html
  swh/web/templates/add_forge_now/request-dashboard.html
  swh/web/templates/add_forge_now/requests-moderation.html
Due: none

api/raw: Restrict raw object endpoint use to privileged users
  swh/web/api/throttling.py
  swh/web/api/views/raw.py
  swh/web/auth/utils.py
  swh/web/settings/tests.py
  swh/web/tests/api/views/test_raw.py
Due: mypy

Add forge now: prepare fields for inbound email processing
  swh/web/add_forge_now/migrations/0005_prepare_inbound_email.py
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
Due: mypy

Add forge now: add view to retrieve RequestHistory.message_source
  assets/src/bundles/add_forge/add-request-history-item.ejs
  swh/web/add_forge_now/views.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy
