Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

auth: Inform user when one of his bearer token expired in tokens UI
  assets/src/bundles/auth/index.js
  cypress/integration/api-tokens.spec.js
  swh/web/auth/views.py
  swh/web/templates/auth/profile.html
  swh/web/tests/auth/test_views.py
Due: mypy, eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

debian/control: Bump swh-auth dependency
  debian/control
Due: none

pristine-tar data for swh-web_0.0.293.orig.tar.gz
  swh-web_0.0.293.orig.tar.gz.delta
  swh-web_0.0.293.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.293
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.293-1_swh1 (unstable-swh)
  debian/changelog
Due: none

tests/conftest: Keep mypy happy regardless hypothesis version
  swh/web/tests/conftest.py
Due: mypy

Add metric to monitor "save code now" efficiency
  swh/web/common/origin_save.py
  swh/web/tests/misc/test_metrics.py
Due: mypy

pristine-tar data for swh-web_0.0.294.orig.tar.gz
  swh-web_0.0.294.orig.tar.gz.delta
  swh-web_0.0.294.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.294
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.294-1_swh1 (unstable-swh)
  debian/changelog
Due: none

counters: Move the hardcoded points to the static historical file
  swh/web/misc/urls.py
Due: mypy

Fix syntax of reference to persistent-identifiers.
  swh/web/browse/identifiers.py
Due: mypy

pristine-tar data for swh-web_0.0.295.orig.tar.gz
  swh-web_0.0.295.orig.tar.gz.delta
  swh-web_0.0.295.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.295
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.295-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Add the configuration for the source of object counters
  requirements-swh.txt
  swh/web/common/archive.py
  swh/web/config.py
  swh/web/settings/tests.py
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/conftest.py
  swh/web/tests/data.py
Due: mypy

pristine-tar data for swh-web_0.0.296.orig.tar.gz
  swh-web_0.0.296.orig.tar.gz.delta
  swh-web_0.0.296.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.296
  debian/changelog
Due: none

debian/control: add swh-counters dependency
  debian/changelog
  debian/control
Due: none

Updated backport on buster-swh from debian/0.0.296-1_swh2 (unstable-swh)
  debian/changelog
Due: none

cypress: Upgrade to 7.x
  README.md
  cypress/integration/layout.spec.js
  cypress/integration/origin-search.spec.js
  cypress/integration/vault.spec.js
  package.json
  yarn.lock
Due: eslint

Define pytest_plugins at the root to support pytest 4.0
  conftest.py
  swh/web/tests/conftest.py
Due: mypy

urls: Remove trailing slash in SWHID resolving URL
  assets/src/bundles/browse/swhid-utils.js
  swh/web/tests/common/test_identifiers.py
  swh/web/urls.py
Due: mypy, eslint

cypress/origin-save: Fix a flaky test
  cypress/integration/origin-save.spec.js
Due: eslint

assets/webapp-utils: Add SWHID validation in search inputs
  assets/src/bundles/browse/origin-search.js
  assets/src/bundles/webapp/webapp-utils.js
  assets/src/bundles/webapp/webapp.css
  cypress/integration/origin-search.spec.js
  swh/web/templates/includes/origin-search-form.html
  swh/web/templates/layout.html
Due: eslint

debian/control: Bump swh.model dependency
  debian/control
Due: none

pristine-tar data for swh-web_0.0.297.orig.tar.gz
  swh-web_0.0.297.orig.tar.gz.delta
  swh-web_0.0.297.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.297
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.297-1_swh1 (unstable-swh)
  debian/changelog
Due: none

urls: Inverse legacy and new SWHID browse URLs in URL patterns
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/urls.py
Due: mypy

origin_save: Add docstring and some test scenarios
  swh/web/common/origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

pristine-tar data for swh-web_0.0.298.orig.tar.gz
  swh-web_0.0.298.orig.tar.gz.delta
  swh-web_0.0.298.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.298
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.298-1_swh1 (unstable-swh)
  debian/changelog
Due: none

common/highlightjs: Turn some global variables into functions
  swh/web/common/highlightjs.py
Due: mypy

docs: Remove doc_config module and its use
  docs/conf.py
  docs/developers-info.rst
  swh/web/api/apidoc.py
  swh/web/doc_config.py
Due: mypy

Add visit_status to SaveOriginRequest model
  requirements-test.txt
  swh/web/common/migrations/0009_saveoriginrequest_visit_status.py
  swh/web/common/models.py
  swh/web/common/origin_save.py
  swh/web/tests/common/test_origin_save.py
  swh/web/tests/test_migrations.py
Due: mypy

Populate the visit status value in save code now request
  swh/web/api/views/origin_save.py
  swh/web/common/origin_save.py
  swh/web/tests/api/views/test_origin_save.py
Due: mypy

Drop redundant `Task` prefix in row title in save code now detail view
  assets/src/bundles/save/index.js
Due: eslint

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
