Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: system

utils/citation: Fix citation source SWHID when browsing a directory
  swh/web/utils/citation.py
Due: mypy

browse/content: Handle path in root directory with leading slash
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
Due: mypy

datatables: Ensure a maximum value to length parameter of list views
  swh/web/add_forge_now/views.py
  swh/web/auth/views.py
  swh/web/config.py
  swh/web/mailmap/views.py
  swh/web/save_code_now/admin_views.py
  swh/web/save_code_now/views.py
  swh/web/utils/__init__.py
Due: mypy

browse/snapshot_context: Ensure full VCS visit type is selected by default
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/test_snapshot_context.py
  swh/web/browse/tests/views/test_origin.py
Due: mypy

tests: Replace use of scheduler temporary backend by the memory one
  requirements-swh.txt
  requirements-test.txt
  swh/web/conftest.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_origin_save.py
  swh/web/settings/tests.py
Due: mypy

tests/helpers: Improve error message for unexpected HTTP status code
  swh/web/tests/helpers.py
Due: mypy

browse/snapshot_context: Fix snapshot resolution regression
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/views/test_origin.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

browse/revision: Display languages dropdown when browsing a content
  swh/web/browse/views/revision.py
Due: mypy

browse/content: Fix display of languages dropdown for some contents
  swh/web/browse/views/content.py
Due: mypy

highlight.js: Bump to 11.11.0 and add new language plugins
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/src/utils/highlightjs.js
  package.json
  static/json/highlightjs-languages.json
  swh/web/utils/highlightjs.py
  yarn.lock
Due: mypy, eslint

conftest: Fix calls to indexers run after swh-indexer 3.7.0 release
  requirements-swh.txt
  swh/web/conftest.py
Due: mypy

Do not send UnauthorizedExc to sentry
  swh/web/utils/exc.py
Due: mypy

Rewrite distutils' strtobool
  swh/web/api/views/graph.py
  swh/web/api/views/origin.py
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
Due: mypy

Provide a fallback draw query parameter to datatables views
  swh/web/auth/tests/test_views.py
  swh/web/auth/views.py
  swh/web/save_code_now/admin_views.py
  swh/web/save_code_now/tests/test_origin_save_views.py
  swh/web/save_code_now/views.py
Due: mypy

save_code_now: Allow to use anonymous/password credentials in URLs
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/assets/origin-save.js
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy, eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

Deposit private API trailing slash
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
Due: mypy

Fix link to the AddForgeNow requests list
  cypress/e2e/add-forge-now-request-create.cy.js
  swh/web/add_forge_now/templates/add-forge-creation-form.html
Due: eslint

browse: Display a spinner while loading README bytes
  swh/web/browse/templates/includes/readme-display.html
Due: none

api/graph: use a more generic UNAUTHENTICATED_HOSTS config to check access to graph API
  swh/web/api/tests/views/test_graph.py
  swh/web/api/views/graph.py
  swh/web/config.py
  swh/web/settings/common.py
Due: mypy

config: remove (now unused) hardcoded swh urls
  swh/web/config.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
Due: mypy

layout: Replace the guessing logic for the corner ribbon by explicit configuration
  swh/web/utils/__init__.py
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_templates.py
Due: mypy

web: always activate cache for coverage, webapp (visit_types) and browse (visit_types) views
  swh/web/archive_coverage/views.py
  swh/web/browse/urls.py
  swh/web/webapp/urls.py
Due: mypy

tests: Make several test not depend on default config values or hardcoded urls
  swh/web/archive_coverage/tests/test_coverage.py
  swh/web/config.py
  swh/web/conftest.py
  swh/web/deposit/tests/test_views.py
  swh/web/settings/tests.py
  swh/web/utils/tests/test_utils.py
Due: mypy

setting/cypress: use django OPTIONS for sqlite instead of a connection hook
  swh/web/settings/cypress.py
Due: mypy

Replace the settings.common.oidc_enabled config variable by a function in swh/web/config.py
  swh/web/admin/urls.py
  swh/web/auth/urls.py
  swh/web/config.py
  swh/web/settings/common.py
  swh/web/utils/__init__.py
Due: mypy

Do not assume the actual task.id value in test_origin_save
  swh/web/save_code_now/tests/test_origin_save.py
Due: mypy

Extract cypress django config in a dedicated file
  Makefile.local
  cypress/plugins/index.js
  swh/web/save_code_now/api_views.py
  swh/web/settings/cypress.py
  swh/web/settings/tests.py
  swh/web/tests/urls.py
Due: mypy, eslint

Use default list of load task types if the scheduler returns none of them
  swh/web/save_code_now/origin_save.py
Due: mypy

Disable the corner ribbon by default
  swh/web/banners/tests/test_app.py
  swh/web/config.py
  swh/web/settings/cypress.py
  swh/web/settings/development.py
  swh/web/webapp/tests/test_templates.py
Due: mypy

tests: Always use a "memory" scheduler
  swh/web/conftest.py
Due: mypy

config: introduce a SWHWebConfig(dict) class
  swh/web/config.py
Due: mypy

web: Ensure the swhid url converter is registered soon
  swh/web/browse/browseurls.py
  swh/web/browse/urls.py
  swh/web/utils/url_path_converters.py
Due: mypy

config: Remove default config values for backends
  cypress/e2e/layout.cy.js
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/metadata.py
  swh/web/api/views/raw.py
  swh/web/config.py
  swh/web/conftest.py
  swh/web/settings/tests.py
  swh/web/tests/data.py
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
  swh/web/vault/tests/test_apiviews.py
Due: mypy, eslint

Do not log exceptions if history_counters_url is not set
  swh/web/webapp/urls.py
Due: mypy

tests: swh-core 3.7 introduced changes on sentry params
  requirements-swh.txt
  swh/web/tests/test_gunicorn_config.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
