Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

Updated debian changelog for version 0.0.393
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.393-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Fix pagination in api_raw_extrinsic_metadata_swhid
  swh/web/api/views/metadata.py
Due: mypy

Revert "tests: Fix flaky ones since hypothesis 6.46.11 release"
  swh/web/tests/api/views/test_metadata.py
  swh/web/tests/api/views/test_origin.py
Due: mypy

cypress: Upgrade to version 10
  cypress.config.js
  cypress.json
  cypress/e2e/add-forge-now-request-create.cy.js
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/admin.cy.js
  cypress/e2e/api-tokens.cy.js
  cypress/e2e/back-to-top.cy.js
  cypress/e2e/code-highlighting.cy.js
  cypress/e2e/content-display.cy.js
  cypress/e2e/content-rendering.cy.js
  cypress/e2e/deposit-admin.cy.js
  cypress/e2e/directory.cy.js
  cypress/e2e/errors.cy.js
  cypress/e2e/guided-tour.cy.js
  cypress/e2e/home.cy.js
  cypress/e2e/language-select.cy.js
  cypress/e2e/layout.cy.js
  cypress/e2e/mailmap.cy.js
  cypress/e2e/origin-browse.cy.js
  cypress/e2e/origin-save.cy.js
  cypress/e2e/origin-search.cy.js
  cypress/e2e/origin-visits.cy.js
  cypress/e2e/persistent-identifiers.cy.js
  cypress/e2e/revision-diff.cy.js
  cypress/e2e/sidebar.cy.js
  cypress/e2e/vault.cy.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: eslint

common, tests: Fix compatibility with swh-indexer 2.0.0
  requirements-swh.txt
  swh/web/common/archive.py
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/data.py
Due: mypy

assets/functions: Add missing await keywords in getCanonicalOriginURL
  assets/src/utils/functions.js
  cypress/e2e/origin-save.cy.js
Due: eslint

api: Add typing to view function signatures
  swh/web/api/utils.py
  swh/web/api/views/content.py
  swh/web/api/views/directory.py
  swh/web/api/views/identifiers.py
  swh/web/api/views/metadata.py
  swh/web/api/views/origin.py
  swh/web/api/views/origin_save.py
  swh/web/api/views/ping.py
  swh/web/api/views/raw.py
  swh/web/api/views/release.py
  swh/web/api/views/revision.py
  swh/web/api/views/snapshot.py
  swh/web/api/views/stat.py
  swh/web/api/views/utils.py
  swh/web/api/views/vault.py
  swh/web/common/archive.py
  swh/web/common/typing.py
Due: mypy

browse: Add typing to view function signatures
  swh/web/browse/browseurls.py
  swh/web/browse/identifiers.py
  swh/web/browse/snapshot_context.py
  swh/web/browse/urls.py
  swh/web/browse/utils.py
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/origin.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/browse/views/snapshot.py
  swh/web/common/identifiers.py
  swh/web/common/typing.py
Due: mypy

common/utils: Ensure str type for query parameters in reverse function
  swh/web/api/views/add_forge_now.py
  swh/web/api/views/origin.py
  swh/web/api/views/snapshot.py
  swh/web/browse/identifiers.py
  swh/web/browse/views/revision.py
  swh/web/browse/views/snapshot.py
  swh/web/common/identifiers.py
  swh/web/common/typing.py
  swh/web/common/utils.py
  swh/web/misc/iframe.py
Due: mypy

common/archive: Ensure backward compatibility with swh-indexer 1.x
  swh/web/common/archive.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.0.394.orig.tar.gz
  swh-web_0.0.394.orig.tar.gz.delta
  swh-web_0.0.394.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.394
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.394-1_swh1 (unstable-swh)
  debian/changelog
Due: none

assets/readme-rendering: Use showdown github flavor for github origins
  assets/src/bundles/webapp/readme-rendering.js
Due: eslint

cypress/persistent-identifiers: Workaround tests hang issue
  cypress/e2e/persistent-identifiers.cy.js
Due: eslint

cypress: Override type command to remove key press delay
  cypress/e2e/add-forge-now-request-create.cy.js
  cypress/e2e/deposit-admin.cy.js
  cypress/e2e/mailmap.cy.js
  cypress/e2e/origin-search.cy.js
  cypress/support/e2e.js
Due: eslint

browse/content: Fix regression in diff-contents view URL regexp
  swh/web/browse/views/content.py
Due: mypy

pristine-tar data for swh-web_0.0.395.orig.tar.gz
  swh-web_0.0.395.orig.tar.gz.delta
  swh-web_0.0.395.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.395
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.395-1_swh1 (unstable-swh)
  debian/changelog
Due: none

requirements-test: Ensure pinned mypy version is used with tox
  requirements-test.txt
Due: none

api/origin: Do not attempt to lookup similar origin URLs
  swh/web/api/views/origin.py
  swh/web/common/archive.py
  swh/web/common/origin_visits.py
  swh/web/tests/api/views/test_origin.py
Due: mypy

add_forge_now: Display pre in request history only for non empty text
  assets/src/bundles/add_forge/add-request-history-item.ejs
Due: none

Add missing dependency on types-cryptography
  requirements-test.txt
Due: none

Add minimum version requirement for pytest
  requirements-test.txt
Due: none

Fix assertion reporting for tests using the subtesthack
  swh/web/tests/conftest.py
Due: mypy

misc: Add banner view to display swh hiring info in an iframe
  assets/src/bundles/webapp/webapp.css
  swh/web/misc/urls.py
  swh/web/templates/layout.html
  swh/web/templates/misc/hiring-banner.html
Due: mypy

Add support for non-ASCII filenames in api_content_raw
  swh/web/api/views/content.py
  swh/web/tests/api/views/test_content.py
Due: mypy

pristine-tar data for swh-web_0.0.396.orig.tar.gz
  swh-web_0.0.396.orig.tar.gz.delta
  swh-web_0.0.396.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.396
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.396-1_swh1 (unstable-swh)
  debian/changelog
Due: none

test_metadata: Reuse swh-model's raw_extrinsic_metadata() strategy
  requirements-swh.txt
  swh/web/tests/api/views/test_metadata.py
Due: mypy

Exclude highlightjs test files from Black
  pyproject.toml
Due: none

Add support for Django 4.x
  swh/web/add_forge_now/views.py
  swh/web/admin/urls.py
  swh/web/auth/mailmap.py
  swh/web/auth/views.py
  swh/web/browse/urls.py
  swh/web/common/urlsindex.py
  swh/web/inbound_email/__init__.py
  swh/web/inbound_email/apps.py
  swh/web/inbound_email/signals.py
  swh/web/misc/badges.py
  swh/web/misc/coverage.py
  swh/web/misc/fundraising.py
  swh/web/misc/iframe.py
  swh/web/misc/origin_save.py
  swh/web/misc/urls.py
  swh/web/settings/common.py
  swh/web/tests/api/test_throttling.py
  swh/web/tests/common/test_utils.py
  swh/web/urls.py
Due: mypy

mypy: Turn old type comments into pure type annotations
  swh/web/api/apiurls.py
  swh/web/common/highlightjs.py
  swh/web/tests/views.py
Due: mypy

Improve hiring banner embedding for django website
  assets/src/bundles/webapp/webapp.css
  swh/web/common/utils.py
  swh/web/misc/urls.py
  swh/web/templates/layout.html
  swh/web/templates/misc/hiring-banner-iframe.html
  swh/web/templates/misc/hiring-banner.html
Due: mypy
