Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".eml$"
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.9.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn, -L crate]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.31.1
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.31.1
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

tests: Remove test_lookup_content_license
  swh/web/utils/tests/test_archive.py
Due: mypy

Migrate to copier-based swh-py-template
  .copier-answers.yml
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  Makefile
  docs/Makefile
  mypy.ini
  pyproject.toml
  pytest.ini
  setup.py
  swh/__init__.py
  swh/web/settings/common.py
  swh/web/utils/exc.py
  tox.ini
Due: mypy

pyproject.toml: Update isort configuration for implicit swh namespace
  pyproject.toml
  swh/web/utils/tests/test_archive.py
Due: mypy

pre-commit: Exclude .eml files from trailing-whitespace hook
  .pre-commit-config.yaml
Due: none

browse/content: Fix regexp checking if path starts with a sha1 checksum
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
Due: mypy

Apply swh-py-template 0.1.6
  .copier-answers.yml
  .gitignore
  .pre-commit-config.yaml
  docs/Makefile
  pyproject.toml
  pytest.ini
  tox.ini
Due: none

Use new acronym for SWHID (SoftWare Hash IDentifier) in doc and code
  cypress/e2e/swhids.cy.js
  docs/developers-info.rst
  docs/uri-scheme-api-swhids.rst
  docs/uri-scheme-misc.rst
  docs/uri-scheme-swhids.rst
  swh/web/api/views/identifiers.py
  swh/web/browse/identifiers.py
  swh/web/browse/templates/includes/show-swhids.html
  swh/web/utils/archive.py
  swh/web/utils/identifiers.py
Due: mypy, eslint

save_code_now/tests/test_origin_save: Fix compatibility with django 5.0
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy

pristine-tar data for swh-web_0.3.0.orig.tar.gz
  swh-web_0.3.0.orig.tar.gz.delta
  swh-web_0.3.0.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.3.0
  debian/changelog
Due: none

Add latest blackify to git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

utils/archive: Ensure all counters are returned in stat_counters
  swh/web/utils/archive.py
Due: mypy

docs/index: Include README instead of referencing it in a TOC
  docs/index.rst
Due: none

browse: Ensure qualified SWHIDs are displayed by default in Permalinks
  swh/web/browse/assets/browse/swhid-utils.js
  swh/web/browse/templates/includes/show-swhids.html
Due: eslint

webapp/assets: Fix pdf rendering in production
  assets/config/webpack.config.development.js
  swh/web/webapp/assets/webapp/pdf-rendering.js
Due: eslint

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

browse/templates: Include save_code_now and vault assets conditionally
  swh/web/browse/templates/browse-origin-visits.html
  swh/web/browse/templates/browse.html
Due: none

AFN: avoid including whitespace in the default comment to moderators
  swh/web/add_forge_now/templates/add-forge-creation-form.html
Due: none

Add Mail-Followup-To and Mail-Reply-To mail headers too
  swh/web/add_forge_now/assets/request-dashboard.js
Due: eslint

Request replies be sent to both SWH and forge admins
  swh/web/add_forge_now/assets/request-dashboard.js
Due: eslint

save_code_now: Whitelist 'guest' as a password for anonymous access
  swh/web/save_code_now/assets/origin-save.js
  swh/web/save_code_now/origin_save.py
Due: mypy, eslint

utils/identifiers: Do not escape percent character in SWHID browse URL
  swh/web/utils/identifiers.py
  swh/web/utils/tests/test_identifiers.py
Due: mypy

browse/assets/swhid-utils: Fix qualified SWHID URLs set by addLinesInfo
  swh/web/browse/assets/browse/swhid-utils.js
Due: eslint

utils: Fix SWHID resolving when anchor is a release targeting directory
  swh/web/utils/identifiers.py
  swh/web/utils/tests/test_identifiers.py
Due: mypy

browse: Handle missing content bytes in views rendering README file
  swh/web/browse/snapshot_context.py
  swh/web/browse/templates/includes/readme-display.html
  swh/web/browse/tests/views/test_directory.py
  swh/web/browse/utils.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/revision.py
Due: mypy

config: Extend production server names list
  swh/web/api/tests/views/test_graph.py
  swh/web/api/views/graph.py
  swh/web/archive_coverage/tests/test_coverage.py
  swh/web/config.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
  swh/web/webapp/tests/test_templates.py
Due: mypy
