Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

Add forge now: set Cc and Reply-To for admin emails
  assets/src/bundles/add_forge/request-dashboard.js
  swh/web/templates/add_forge_now/request-dashboard.html
Due: eslint

Add forge now: process inbound emails
  assets/src/bundles/add_forge/add-request-history-item.ejs
  cypress/integration/add-forge-now-request-dashboard.spec.js
  cypress/plugins/index.js
  swh/web/add_forge_now/apps.py
  swh/web/add_forge_now/signal_receivers.py
Due: mypy, eslint

Add forge now: only catch expected exceptions in request dashboard
  assets/src/bundles/add_forge/request-dashboard.js
Due: eslint

api/raw: Ensure to ignore display names in raw object endpoint
  swh/web/api/views/raw.py
Due: mypy

misc/coverage: Add a focus query parameter to emphasize origin types
  assets/src/bundles/webapp/coverage.css
  swh/web/misc/coverage.py
  swh/web/templates/misc/coverage.html
  swh/web/tests/misc/test_coverage.py
Due: mypy

pristine-tar data for swh-web_0.0.387.orig.tar.gz
  swh-web_0.0.387.orig.tar.gz.delta
  swh-web_0.0.387.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.387
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.387-1_swh1 (unstable-swh)
  debian/changelog
Due: none

misc/coverage: Improve display of origin counters in production/staging
  swh/web/misc/coverage.py
  swh/web/templates/misc/coverage.html
  swh/web/tests/misc/test_coverage.py
  swh/web/tests/utils.py
Due: mypy

misc/coverage: Add count for origins listed from phabricator instances
  swh/web/misc/coverage.py
Due: mypy

misc/coverage: Update search pattern for sourceforge bzr/cvs origins
  swh/web/misc/coverage.py
Due: mypy

misc/coverage: Add counts for origins listed from maven repositories
  static/img/logos/maven.png
  swh/web/misc/coverage.py
Due: mypy

assets/admin/deposits: Remove deposits filtering by user for non staff
  assets/src/bundles/admin/deposit.js
Due: eslint

misc/coverage: Add counts for origins listed from Packagist
  static/img/logos/packagist.png
  swh/web/misc/coverage.py
  swh/web/templates/misc/coverage.html
  swh/web/tests/misc/test_coverage.py
Due: mypy

misc/coverage: Fix some origins search links
  swh/web/misc/coverage.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.0.388.orig.tar.gz
  swh-web_0.0.388.orig.tar.gz.delta
  swh-web_0.0.388.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.388
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.388-1_swh1 (unstable-swh)
  debian/changelog
Due: none

templates/coverage: Add missing favicon to coverage page
  swh/web/templates/includes/favicon.html
  swh/web/templates/layout.html
  swh/web/templates/misc/coverage.html
Due: none

Updated the Gitlab Logo
  static/img/logos/gitlab.png
Due: none

misc/coverage: Fix display of nixguix origin counts
  swh/web/misc/coverage.py
Due: mypy

pristine-tar data for swh-web_0.0.389.orig.tar.gz
  swh-web_0.0.389.orig.tar.gz.delta
  swh-web_0.0.389.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.389
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.389-1_swh1 (unstable-swh)
  debian/changelog
Due: none

origin_save: Reject save request when origin URL contains a password
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/origin_save.py
  swh/web/tests/api/views/test_origin_save.py
Due: mypy, eslint

pristine-tar data for swh-web_0.0.390.orig.tar.gz
  swh-web_0.0.390.orig.tar.gz.delta
  swh-web_0.0.390.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.390
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.390-1_swh1 (unstable-swh)
  debian/changelog
Due: none

add_forge_now: Harmonize moderator permission management
  swh/web/add_forge_now/views.py
  swh/web/admin/add_forge_now.py
  swh/web/api/views/add_forge_now.py
  swh/web/auth/utils.py
  swh/web/common/utils.py
Due: mypy

templates/layout: Ensure to include piwik script in production only
  swh/web/common/utils.py
  swh/web/templates/layout.html
  swh/web/tests/test_templates.py
Due: mypy

package.json: Bump nodejs to 14.x and upgrade dependencies
  README.md
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

Fix mailto encoding for inbound email
  assets/src/bundles/add_forge/request-dashboard.js
Due: eslint

Fix test failure caused by swh-auth 0.6.3
  swh/web/tests/api/views/test_graph.py
Due: mypy

mypy: Fix errors after django*-stubs upgrade
  swh/web/common/identifiers.py
  swh/web/common/utils.py
  swh/web/tests/conftest.py
  swh/web/tests/utils.py
Due: mypy

api/views/vault: Fix isort error
  swh/web/api/views/vault.py
Due: mypy

tests: Fix flaky ones since hypothesis 6.46.11 release
  swh/web/tests/api/views/test_metadata.py
  swh/web/tests/api/views/test_origin.py
Due: mypy

pristine-tar data for swh-web_0.0.393.orig.tar.gz
  swh-web_0.0.393.orig.tar.gz.delta
  swh-web_0.0.393.orig.tar.gz.id
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
