Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

Display visit status information in the save request information
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy, eslint

pristine-tar data for swh-web_0.0.299.orig.tar.gz
  swh-web_0.0.299.orig.tar.gz.delta
  swh-web_0.0.299.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.299
  debian/changelog
Due: none

d/control: Add build time dependency
  debian/control
Due: none

d/changelog: Bump new releasse
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.299-1_swh2 (unstable-swh)
  debian/changelog
Due: none

tests/api/origin_save: Explicitely populate SaveAuthorizedOrigin table
  swh/web/tests/api/views/test_origin_save.py
Due: mypy

pytest.ini: Silent annoying warning
  pytest.ini
Due: none

pristine-tar data for swh-web_0.0.300.orig.tar.gz
  swh-web_0.0.300.orig.tar.gz.delta
  swh-web_0.0.300.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.300
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.300-1_swh1 (unstable-swh)
  debian/changelog
Due: none

tests: Fix failures after recent changes in swh-auth
  requirements-swh.txt
  swh/web/tests/api/views/test_graph.py
  swh/web/tests/auth/test_views.py
Due: mypy

Activate the person's counter on the home page with swh-counters
  swh/web/common/archive.py
Due: mypy

test_origin_save: Fix black formatting
  swh/web/tests/api/views/test_origin_save.py
Due: mypy

pristine-tar data for swh-web_0.0.301.orig.tar.gz
  swh-web_0.0.301.orig.tar.gz.delta
  swh-web_0.0.301.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.301
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.301-1_swh1 (unstable-swh)
  debian/changelog
Due: none

common/identifiers: Fix content SWHID with anchor revision browse URL
  swh/web/common/identifiers.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/strategies.py
Due: mypy

Separate save code now status refresh routine from the listing ui
  swh/web/common/management/__init__.py
  swh/web/common/management/commands/__init__.py
  swh/web/common/management/commands/refresh_savecodenow_statuses.py
  swh/web/common/models.py
  swh/web/common/origin_save.py
  swh/web/common/typing.py
  swh/web/misc/origin_save.py
  swh/web/tests/common/test_django_command.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

Save code now: Improve save request task information title
  assets/src/bundles/save/index.js
Due: eslint

pristine-tar data for swh-web_0.0.302.orig.tar.gz
  swh-web_0.0.302.orig.tar.gz.delta
  swh-web_0.0.302.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.302
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.302-1_swh1 (unstable-swh)
  debian/changelog
Due: none

s/Graph REST API/Graph RPC API/
  swh/web/api/views/graph.py
Due: mypy

tests/api/graph: Ensure tests pass with all requests-mock versions
  swh/web/api/views/graph.py
  swh/web/tests/api/views/test_graph.py
Due: mypy

Fix malformatted date value when null
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
Due: eslint

origin_save: Use API endpoint to submit save request in Web UI form
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/utils.py
  swh/web/misc/origin_save.py
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/misc/test_origin_save.py
Due: mypy, eslint

tox: Add sphinx environments to check sane doc build
  tox.ini
Due: none

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

debian/control: Bump swh-auth dependency
  debian/control
Due: none

pristine-tar data for swh-web_0.0.303.orig.tar.gz
  swh-web_0.0.303.orig.tar.gz.delta
  swh-web_0.0.303.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.303
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.303-1_swh1 (unstable-swh)
  debian/changelog
Due: none

identifiers: Add support for resolving core SWHID with uppercase chars
  swh/web/common/identifiers.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/common/test_identifiers.py
  swh/web/urls.py
Due: mypy

Revert "tests/api/graph: Ensure tests pass with all requests-mock versions"
  requirements-test.txt
  swh/web/api/views/graph.py
  swh/web/tests/api/views/test_graph.py
Due: mypy

Save code now: Check origin exist prior to save request
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/origin_save.py
  swh/web/common/typing.py
  swh/web/tests/admin/test_origin_save.py
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy, eslint

assets/webapp-utils: Add lowercase validator for core SWHIDs
  assets/src/bundles/webapp/webapp-utils.js
  cypress/integration/origin-search.spec.js
Due: eslint

pristine-tar data for swh-web_0.0.304.orig.tar.gz
  swh-web_0.0.304.orig.tar.gz.delta
  swh-web_0.0.304.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.304
  debian/changelog
Due: none

tests/admin/origin_save: Add missing requests mock for HEAD request
  swh/web/tests/admin/test_origin_save.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
