Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.5.2
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
# unfortunately, we are far from being able to enable this...
# - repo: https://github.com/PyCQA/pydocstyle.git
#   rev: 4.0.0
#   hooks:
#   - id: pydocstyle
#     name: pydocstyle
#     description: pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.
#     entry: pydocstyle --convention=google
#     language: python
#     types: [python]

api/apidoc: Fix _HTTPDomainDocVisitor errors with docutils 0.18
  swh/web/api/apidoc.py
Due: mypy

assets: Fix new stylelint 14.x warnings
  assets/config/webpack.config.development.js
  assets/src/bundles/browse/snapshot-navigation.css
  assets/src/bundles/origin/visits-reporting.css
  assets/src/bundles/revision/revision.css
  assets/src/bundles/vendors/datatables.css
  assets/src/bundles/webapp/breadcrumbs.css
  assets/src/bundles/webapp/notebook.css
  assets/src/bundles/webapp/webapp.css
  assets/src/utils/org.css
Due: eslint

webpack: Remove use of deprecated cache-loader
  .gitignore
  assets/config/.bootstraprc
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.0.338.orig.tar.gz
  swh-web_0.0.338.orig.tar.gz.delta
  swh-web_0.0.338.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.338
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.338-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Fix/update description of the 'deposit admin' view.
  swh/web/templates/admin/deposit.html
Due: none

Deprecate /origin/branches route
  assets/src/bundles/browse/browse-utils.js
  cypress/integration/origin-browse.spec.js
  docs/uri-scheme-browse-origin.rst
  docs/uri-scheme-browse-snapshot.rst
  swh/web/browse/views/origin.py
  swh/web/browse/views/snapshot.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy, eslint

Deprecate /origin/releases route
  assets/src/bundles/browse/browse-utils.js
  cypress/integration/origin-browse.spec.js
  docs/uri-scheme-browse-origin.rst
  docs/uri-scheme-browse-snapshot.rst
  swh/web/browse/views/origin.py
  swh/web/browse/views/snapshot.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy, eslint

Missing tests for origin legacy routes
  swh/web/browse/views/origin.py
  swh/web/tests/browse/views/test_origin.py
Due: mypy

assets/xss-filtering: Strip any query parameters from img src attribute
  assets/src/bundles/webapp/xss-filtering.js
Due: eslint

assets/xss-filtering: Ensure to use correct directory
  assets/src/bundles/webapp/xss-filtering.js
Due: eslint

Add missing URL escape
  swh/web/common/utils.py
Due: mypy

webpack: Remove .tox and .mypy from the files to watch
  assets/config/webpack.config.development.js
Due: eslint

vault-ui: Show progress details when hovering the progress bar
  assets/src/bundles/vault/vault-ui.js
Due: eslint

browse/snapshot_context: Handle snapshots containing only releases
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/directory.py
  swh/web/templates/includes/top-navigation.html
  swh/web/tests/browse/test_snapshot_context.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.0.339.orig.tar.gz
  swh-web_0.0.339.orig.tar.gz.delta
  swh-web_0.0.339.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.339
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.339-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Deprecate /origin/content and /snapshot/content routes
  assets/src/bundles/guided_tour/index.js
  docs/uri-scheme-browse-content.rst
  docs/uri-scheme-browse-origin.rst
  docs/uri-scheme-browse-snapshot.rst
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/content.py
  swh/web/browse/views/origin.py
  swh/web/browse/views/snapshot.py
  swh/web/common/utils.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy, eslint

misc/coverage: Fix some origin counts formatting
  swh/web/misc/coverage.py
  swh/web/templates/misc/coverage.html
Due: mypy

templates/vault-ui: Fix introduction sentence
  swh/web/templates/browse/vault-ui.html
Due: none

assets/guided_tour: Improve some sentences based on tester feedbacks
  assets/src/bundles/guided_tour/guided-tour-steps.yaml
Due: none

misc/iframe: Fix archive link when there is no snapshot context
  swh/web/misc/iframe.py
  swh/web/templates/misc/iframe.html
  swh/web/tests/misc/test_iframe.py
Due: mypy

debian/control: Bump swh dependencies
  debian/control
Due: none

debian/control: Bump swh depdencies
  debian/control
Due: none

pristine-tar data for swh-web_0.0.340.orig.tar.gz
  swh-web_0.0.340.orig.tar.gz.delta
  swh-web_0.0.340.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.340
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.340-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Fix for snapshot content redirection
  swh/web/browse/views/content.py
Due: mypy

common/archive: Add lookup_origin_snapshots function
  swh/web/common/archive.py
  swh/web/tests/common/test_archive.py
Due: mypy

misc: Add a fundraising banner that can be integrated through an iframe
  assets/src/bundles/webapp/webapp.css
  static/img/swh_givingtuesday.png
  swh/web/config.py
  swh/web/misc/fundraising.py
  swh/web/misc/urls.py
  swh/web/templates/layout.html
  swh/web/templates/misc/fundraising-banner.html
  swh/web/tests/misc/test_fundraising.py
Due: mypy

package.json: Upgrade dependencies
  cypress/integration/deposit-admin.spec.js
  cypress/integration/layout.spec.js
  cypress/integration/origin-search.spec.js
  package.json
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.0.341.orig.tar.gz
  swh-web_0.0.341.orig.tar.gz.delta
  swh-web_0.0.341.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.341
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.341-1_swh1 (unstable-swh)
  debian/changelog
Due: none

templates/fundraising-banner: Polish banner rendering
  swh/web/templates/misc/fundraising-banner.html
Due: none

pristine-tar data for swh-web_0.0.342.orig.tar.gz
  swh-web_0.0.342.orig.tar.gz.delta
  swh-web_0.0.342.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.342
  debian/changelog
Due: none
