Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
              ^.*\.eml$
          )$
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/python/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==24.4.26, flake8-pyproject]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json|
              swh/web/browse/tests/data/content_iso-8859-7_encoded|
              swh/web/add_forge_now/migrations/swh-afn-urls-canonicalise.txt
          )$
        args: [-L edn, -L crate, -L THIRDPARTY, -L thirdparty]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: twine-check
        name: twine check
        description: call twine check when pushing an annotated release tag
        entry: bash -c "ref=$(git describe) &&
          [[ $ref =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]] &&
          (python3 -m build --sdist && twine check $(ls -t dist/* | head -1)) || true"
        pass_filenames: false
        stages: [pre-push]
        language: python
        additional_dependencies: [twine, build]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: system
        types: [javascript]

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

save_code_now/assets/origin-save: Add more tarball extensions
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

save_code_now: Add external link in datatables only for HTTP origins
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

utils/archive: Turn storage.snapshot_missing return value into a list
  swh/web/utils/archive.py
Due: mypy

browse/iframe: Fix code highlighting in embeddable SWH iframe
  swh/web/browse/templates/browse-iframe.html
Due: none

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

vault: Fix issues in Web UI when a cooked bundle no longer exists
  assets/src/utils/functions.js
  swh/web/vault/assets/vault-ui.js
Due: eslint

static: A security.txt file
  .gitignore
  assets/config/webpack.config.development.js
  cypress/e2e/statics.js
  swh/web/static/security.txt
  swh/web/webapp/tests/test_views.py
Due: mypy, eslint

pre-commit: Add eslint hook instead of using local eslint binary
  .pre-commit-config.yaml
Due: none

assets, cypress: Fix eslint errors
  assets/config/webpack.config.development.js
  cypress/e2e/statics.js
Due: eslint

package.json: Bump dependencies
  .pre-commit-config.yaml
  package.json
  yarn.lock
Due: none

templates: Remove use of jsonify filter in favor of swh_json_script
  swh/web/add_forge_now/templates/add-forge-request-dashboard.html
  swh/web/browse/templates/browse-iframe.html
  swh/web/browse/templates/browse-origin-visits.html
  swh/web/browse/templates/browse-revision.html
  swh/web/browse/templates/includes/content-display.html
  swh/web/browse/templates/includes/readme-display.html
  swh/web/browse/templates/includes/show-metadata.html
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/browse/tests/views/test_origin.py
  swh/web/deposit/templates/deposit-admin.html
  swh/web/utils/swh_templatetags.py
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

api/views/origin: Fix deprecated endpoint doc and implementation
  swh/web/api/views/origin.py
Due: mypy

browse/sidetabs: Turn the Iframe embedding link into a button
  swh/web/browse/templates/includes/sidetabs.html
Due: none

badges: Use pybadges2 package instead of pybadges
  pyproject.toml
  requirements.txt
  swh/web/badges/__init__.py
Due: mypy

badges: Use tabs to display integration codes and add copy button
  swh/web/badges/assets/index.js
  swh/web/browse/assets/browse/browse.css
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/webapp/assets/webapp/webapp-utils.js
Due: eslint

webapp: Prevent scrolling of background when modal is opened
  cypress/e2e/mailmap.cy.js
  cypress/e2e/vault.cy.js
  swh/web/webapp/assets/webapp/webapp.css
Due: eslint

Replace broken link to lister architecture with link to the list of listers
  swh/web/archive_coverage/views.py
Due: mypy

utils/citation: Skip citation generation in case of parsing error
  swh/web/utils/citation.py
Due: mypy

utils/archive: Use known_swhids from storage to check archived SWHIDs
  requirements-swh.txt
  requirements-test.txt
  swh/web/api/views/identifiers.py
  swh/web/utils/archive.py
  swh/web/utils/identifiers.py
  swh/web/utils/tests/test_archive.py
  swh/web/utils/tests/test_identifiers.py
Due: mypy

admin: Prevent noisy tracebacks in debug mode
  swh/web/admin/urls.py
Due: mypy

package.json: Bump dependencies
  package.json
  swh/web/webapp/assets/webapp/webapp-utils.js
  yarn.lock
Due: eslint

datatables tests: add missing order[*][name] parameters
  swh/web/add_forge_now/tests/test_views.py
  swh/web/mailmap/tests/test_mailmap.py
  swh/web/save_code_now/tests/test_origin_save_views.py
Due: mypy

datatables: allow sorting by multiple columns with shift-click
  swh/web/add_forge_now/views.py
  swh/web/mailmap/views.py
  swh/web/save_code_now/admin_views.py
  swh/web/save_code_now/views.py
  swh/web/utils/__init__.py
Due: mypy

utils/citation: Workaround citation generation from codemeta issues
  requirements-swh.txt
  swh/web/conftest.py
  swh/web/tests/data.py
  swh/web/utils/citation.py
  swh/web/utils/tests/test_citation.py
  swh/web/utils/typing.py
Due: mypy

browse: Allow to display warning when citation generation was mitigated
  cypress/e2e/sidetabs.cy.js
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/templates/includes/sidetabs.html
Due: eslint

api: Remove some dynamic parts of endpoint docstrings
  swh/web/api/views/origin.py
  swh/web/save_code_now/api_views.py
Due: mypy

tests: Use a single script to create test users
  Makefile.local
  swh/web/tests/create_test_admin.py
  swh/web/tests/create_test_users.py
Due: mypy

save_code_now: Ignore request error to GitHub API performed client side
  assets/src/utils/functions.js
  cypress/e2e/origin-save.cy.js
Due: eslint

utils/test_archive: Fix some flaky tests
  swh/web/utils/tests/test_archive.py
Due: mypy

api, utils: Fix failing tests since swh-search v0.23.0 release
  swh/web/api/tests/views/test_origin.py
  swh/web/utils/tests/test_archive.py
Due: mypy

save_code_now: Fix request submission from Web UI without javascript
  cypress/e2e/origin-save.cy.js
  cypress/support/e2e.js
  swh/web/save_code_now/templates/origin-save.html
  swh/web/save_code_now/tests/test_origin_save_views.py
  swh/web/save_code_now/views.py
Due: mypy, eslint

save_code_now: Make "Save again" redirect to Web UI when js disabled
  swh/web/save_code_now/templates/includes/take-new-snapshot.html
  swh/web/save_code_now/templates/origin-save.html
  swh/web/save_code_now/views.py
Due: mypy

Fix typo: "Please not*e* that"
  swh/web/auth/templates/profile.html
  swh/web/save_origin_webhooks/generic_receiver.py
Due: mypy

Add human-readable name to the AFNR inbound email addresses
  swh/web/add_forge_now/assets/request-dashboard.js
Due: eslint

save_origin_webhooks: add support for Gogs webhooks
  docs/uri-scheme-api-request-archival.rst
  swh/web/save_origin_webhooks/gogs.py
  swh/web/save_origin_webhooks/urls.py
Due: mypy

Add support for Forgejo instances
  docs/uri-scheme-api-request-archival.rst
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/add_forge_now/views.py
  swh/web/archive_coverage/views.py
  swh/web/save_origin_webhooks/forgejo.py
  swh/web/save_origin_webhooks/urls.py
  swh/web/static/img/logos/forgejo.png
Due: mypy

add_forge_now: order forge types alphabetically
  swh/web/add_forge_now/views.py
Due: mypy

Update URLs to Gitea website, documentation and demo instance
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/archive_coverage/views.py
  swh/web/save_origin_webhooks/gitea.py
  swh/web/save_origin_webhooks/tests/data/gitea_webhook_payload.json
  swh/web/save_origin_webhooks/tests/test_gitea.py
Due: mypy
