Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

debian/changelog: Rebuild v0.0.308 after fixing tests execution
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.308-2_swh1 (unstable-swh)
  debian/changelog
Due: none

cypress.json: Activate test retries in run mode
  cypress.json
Due: none

Makefile.local: Wrap long lines
  Makefile.local
Due: none

cypress: Use webpack-dev-server to serve static assets
  Makefile.local
  assets/config/webpack.config.development.js
  cypress.json
  cypress/support/index.js
  package.json
  yarn.lock
Due: eslint

Makefile.local: Ensure to kill child processes at devserver target exit
  Makefile.local
Due: none

common/origin_save: Update missing information when available
  swh/web/common/origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

pristine-tar data for swh-web_0.0.309.orig.tar.gz
  swh-web_0.0.309.orig.tar.gz.delta
  swh-web_0.0.309.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.309
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.309-1_swh1 (unstable-swh)
  debian/changelog
Due: none

settings/tests: Disable keycloak use when not running pytest
  swh/web/settings/tests.py
Due: mypy

assets/save: Add multi artifacts support for archives visit type
  assets/src/bundles/save/artifact-form-row.ejs
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/origin_save.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy, eslint

auth/utils: Consider staff users are privileged too
  swh/web/auth/utils.py
Due: mypy

docs/Makefile: Add more directories to APIDOC_EXCLUDES
  docs/Makefile
Due: none

assets/save: Autofill artifact version from artifact url
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
Due: eslint

webpack-dev-server: Set host configuration value to 0.0.0.0
  assets/config/webpack.config.development.js
Due: eslint

Update running save origin request status
  swh/web/common/origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

pristine-tar data for swh-web_0.0.310.orig.tar.gz
  swh-web_0.0.310.orig.tar.gz.delta
  swh-web_0.0.310.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.310
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.310-1_swh1 (unstable-swh)
  debian/changelog
Due: none

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

Makefile.local: Generate js coverage report for headless cypress tests
  Makefile.local
Due: none

mypy: Fix errors with v0.900 release
  requirements-test.txt
  swh/__init__.py
  swh/web/__init__.py
Due: mypy

common/origin_save/origin_exists: Handle Internet Archive artifact URLs
  swh/web/common/origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

pristine-tar data for swh-web_0.0.311.orig.tar.gz
  swh-web_0.0.311.orig.tar.gz.delta
  swh-web_0.0.311.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.311
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.311-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Redirect any archived URL search to the browse origin page
  assets/src/bundles/browse/origin-search.js
  assets/src/utils/functions.js
  cypress/integration/origin-search.spec.js
Due: eslint

assets: Simplify promises handling with js async/await syntax
  assets/src/bundles/admin/origin-save.js
  assets/src/bundles/auth/index.js
  assets/src/bundles/browse/origin-search.js
  assets/src/bundles/revision/diff-utils.js
  assets/src/bundles/save/index.js
  assets/src/bundles/vault/vault-create-tasks.js
  assets/src/bundles/vault/vault-ui.js
  assets/src/bundles/webapp/notebook-rendering.js
  assets/src/bundles/webapp/pdf-rendering.js
  assets/src/bundles/webapp/readme-rendering.js
  assets/src/bundles/webapp/status-widget.js
  assets/src/bundles/webapp/webapp-utils.js
Due: eslint

pristine-tar data for swh-web_0.0.312.orig.tar.gz
  swh-web_0.0.312.orig.tar.gz.delta
  swh-web_0.0.312.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.312
  debian/changelog
Due: none

Schedule save code now as recurring origins to ingest when successful
  conftest.py
  requirements-test.txt
  swh/web/common/management/commands/refresh_savecodenow_statuses.py
  swh/web/config.py
  swh/web/tests/common/test_django_command.py
Due: mypy

Updated backport on buster-swh from debian/0.0.312-1_swh1 (unstable-swh)
  debian/changelog
Due: none

assets/save: Ensure to use canonical github repo URL as origin URL
  assets/src/bundles/save/index.js
  assets/src/utils/functions.js
  cypress/integration/origin-save.spec.js
Due: eslint

pristine-tar data for swh-web_0.0.313.orig.tar.gz
  swh-web_0.0.313.orig.tar.gz.delta
  swh-web_0.0.313.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.313
  debian/changelog
Due: none

d/control: Update build dependencies
  debian/changelog
  debian/control
Due: none

Updated backport on buster-swh from debian/0.0.313-1_swh1.1 (unstable-swh)
  debian/changelog
Due: none

Simplify save code now request status updates using visit statuses
  swh/web/common/origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
