Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

browse/origin-search: Percent encode ? character only in origin URL
  cypress/e2e/origin-search.cy.js
  swh/web/browse/assets/browse/origin-search.js
Due: eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.3.orig.tar.gz
  swh-web_0.2.3.orig.tar.gz.delta
  swh-web_0.2.3.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.3
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.3-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse: Use django FileResponse in browse-content-raw view
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
Due: mypy

metadata-search: Return swh-search even when missing from idx_storage.origin_intrinsic_metadata
  swh/web/api/tests/views/test_origin.py
  swh/web/utils/archive.py
Due: mypy

metadata-search: Skip query to swh-indexer when its results would be discarded
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
  swh/web/utils/archive.py
Due: mypy

origin-search: Only request 'url' field
  cypress/e2e/origin-search.cy.js
  swh/web/browse/assets/browse/origin-search.js
Due: eslint

pristine-tar data for swh-web_0.2.4.orig.tar.gz
  swh-web_0.2.4.orig.tar.gz.delta
  swh-web_0.2.4.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.4
  debian/changelog
Due: none

browse: Display branches names in snapshot releases view
  swh/web/browse/snapshot_context.py
  swh/web/browse/templates/browse-releases.html
  swh/web/browse/tests/views/test_snapshot.py
Due: mypy

save_code_now: Allow request creation if previous for origin is running
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy

api: Improve HTML documentation
  swh/web/api/templates/api-endpoints.html
  swh/web/api/templates/api.html
  swh/web/api/templates/apidoc.html
  swh/web/auth/templates/profile.html
  swh/web/utils/__init__.py
Due: mypy

package.json: Upgrade depdendencies
  package.json
  yarn.lock
Due: none

package.json: Revert cypress upgrade to 11.x
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.6.orig.tar.gz
  swh-web_0.2.6.orig.tar.gz.delta
  swh-web_0.2.6.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.6
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.6-1_swh1 (unstable-swh)
  debian/changelog
Due: none

save_origin_webhooks: Handle github ping event
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/save_origin_webhooks/github.py
  swh/web/save_origin_webhooks/tests/test_github.py
  swh/web/save_origin_webhooks/tests/utils.py
Due: mypy

save_origin_webhooks: Handle private repositories
  swh/web/save_origin_webhooks/bitbucket.py
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/save_origin_webhooks/gitea.py
  swh/web/save_origin_webhooks/github.py
  swh/web/save_origin_webhooks/gitlab.py
  swh/web/save_origin_webhooks/sourceforge.py
  swh/web/save_origin_webhooks/tests/test_bitbucket.py
  swh/web/save_origin_webhooks/tests/test_gitea.py
  swh/web/save_origin_webhooks/tests/test_github.py
  swh/web/save_origin_webhooks/tests/test_gitlab.py
  swh/web/save_origin_webhooks/tests/test_sourceforge.py
  swh/web/save_origin_webhooks/tests/utils.py
Due: mypy

api/apidoc: Ensure to not create link for endpoint URL description
  swh/web/api/templates/apidoc.html
Due: none

pristine-tar data for swh-web_0.2.7.orig.tar.gz
  swh-web_0.2.7.orig.tar.gz.delta
  swh-web_0.2.7.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.7
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.7-1_swh1 (unstable-swh)
  debian/changelog
Due: none

package.json: Revert cypress upgrade to 11.x again
  package.json
  yarn.lock
Due: none

cypress: Increase sqlite3 busy timeout
  cypress/plugins/index.js
Due: eslint

cypress/origin-save: Fix flaky test
  cypress/e2e/origin-save.cy.js
Due: eslint

vault/assets: Fix cooking task creation when there is a pending one
  cypress/e2e/vault.cy.js
  swh/web/vault/assets/vault-create-tasks.js
Due: eslint

package.json: Upgrade dependencies
  package.json
  static/json/highlightjs-languages.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.8.orig.tar.gz
  swh-web_0.2.8.orig.tar.gz.delta
  swh-web_0.2.8.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.8
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.8-1_swh1 (unstable-swh)
  debian/changelog
Due: none

save_code_now: Add webhook info fields to SaveOriginRequest model
  docs/uri-scheme-api-origin.rst
  swh/web/api/apidoc.py
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/migrations/0013_saveoriginrequest_webhook_info.py
  swh/web/save_code_now/models.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_migrations.py
  swh/web/save_code_now/tests/test_origin_save.py
  swh/web/save_code_now/tests/test_origin_save_api.py
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/save_origin_webhooks/tests/utils.py
  swh/web/utils/typing.py
Due: mypy

metrics: Add gauge counting save origin requests created from webhooks
  swh/web/metrics/prometheus.py
  swh/web/metrics/tests/test_metrics.py
Due: mypy

metrics/tests/test_app: Fix test name
  swh/web/metrics/tests/test_app.py
Due: mypy

save_code_now: Indicate if request was created from webhook in Web UI
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/assets/origin-save-admin.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

pristine-tar data for swh-web_0.2.9.orig.tar.gz
  swh-web_0.2.9.orig.tar.gz.delta
  swh-web_0.2.9.orig.tar.gz.id
Due: none
