Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.5.2
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
# unfortunately, we are far from being able to enable this...
# - repo: https://github.com/PyCQA/pydocstyle.git
#   rev: 4.0.0
#   hooks:
#   - id: pydocstyle
#     name: pydocstyle
#     description: pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.
#     entry: pydocstyle --convention=google
#     language: python
#     types: [python]

test_origin_save: Call variable status instead of hard-coding values
  swh/web/tests/common/test_origin_save.py
Due: mypy

Make api_raw_extrinsic_metadata_get set Content-disposition
  swh/web/api/views/metadata.py
  swh/web/tests/api/views/test_metadata.py
Due: mypy

Add an endpoint to list and access raw extrinsic metadata.
  requirements-swh.txt
  swh/web/api/urls.py
  swh/web/api/views/metadata.py
  swh/web/common/converters.py
  swh/web/tests/api/views/test_metadata.py
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/api/views/utils.py
  swh/web/tests/common/test_converters.py
Due: mypy

pristine-tar data for swh-web_0.0.314.orig.tar.gz
  swh-web_0.0.314.orig.tar.gz.delta
  swh-web_0.0.314.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.314
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.314-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Search inside the origin branches with name
  assets/src/bundles/browse/browse-utils.js
  cypress/integration/origin-browse.spec.js
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/origin.py
  swh/web/common/archive.py
  swh/web/templates/browse/branches.html
  swh/web/tests/common/test_archive.py
Due: mypy, eslint

Search inside the origin releases with name
  assets/src/bundles/browse/browse-utils.js
  cypress/integration/origin-browse.spec.js
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/origin.py
  swh/web/templates/browse/branches.html
  swh/web/templates/browse/releases.html
  swh/web/templates/includes/branch-search.html
Due: mypy, eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.0.315.orig.tar.gz
  swh-web_0.0.315.orig.tar.gz.delta
  swh-web_0.0.315.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.315
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.315-1_swh1 (unstable-swh)
  debian/changelog
Due: none

assets/diff-utils: Use homemade missing new line icon instead of GH one
  assets/src/bundles/revision/diff-utils.js
Due: eslint

Add an endpoint to list metadata authorities for a given SWHID
  swh/web/api/views/metadata.py
  swh/web/tests/api/views/test_metadata.py
Due: mypy

test_archive: Fix origin URL encoding
  swh/web/tests/common/test_archive.py
Due: mypy

tests/data: Ensure origin instrinsic metadata are in CodeMeta format
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/data.py
Due: mypy

cypress/layout: Fix cypress anti-pattern use
  cypress/integration/layout.spec.js
Due: eslint

templates/snapshot-context: Visit origin URL in a new browser tab
  assets/src/bundles/admin/origin-save.js
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/templates/includes/snapshot-context.html
Due: eslint

apidoc: Stop parsing docutils trees with regexps on its pseudo-XML
  swh/web/api/apidoc.py
  swh/web/api/views/content.py
  swh/web/api/views/metadata.py
  swh/web/api/views/origin.py
  swh/web/common/utils.py
  swh/web/tests/api/test_apidoc.py
Due: mypy

apidoc: Remove explicit recursion used in visit_field_list
  swh/web/api/apidoc.py
Due: mypy

assets: Upgrade highlight.js to version 11.x
  assets/src/utils/highlightjs.js
  assets/src/utils/hljs-swh-theme.css
  package.json
  static/json/highlightjs-languages.json
  yarn.lock
Due: eslint

pristine-tar data for swh-web_0.0.316.orig.tar.gz
  swh-web_0.0.316.orig.tar.gz.delta
  swh-web_0.0.316.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.316
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.316-1_swh1 (unstable-swh)
  debian/changelog
Due: none

assets/webapp: Add UI guided tour to help users discover features
  assets/config/webpack.config.development.js
  assets/src/bundles/browse/swhid-utils.js
  assets/src/bundles/guided_tour/guided-tour-steps.yaml
  assets/src/bundles/guided_tour/index.js
  assets/src/bundles/guided_tour/swh-introjs.css
  assets/src/bundles/webapp/code-highlighting.js
  assets/src/utils/scrolling.js
  cypress/integration/guided-tour.spec.js
  package.json
  swh/web/templates/homepage.html
  swh/web/templates/includes/revision-info.html
  swh/web/templates/includes/show-swhids.html
  swh/web/templates/includes/snapshot-context.html
  swh/web/templates/includes/take-new-snapshot.html
  swh/web/templates/includes/top-navigation.html
  swh/web/templates/includes/vault-create-tasks.html
  swh/web/templates/layout.html
  yarn.lock
Due: eslint

templates/layout: Do not display swh-web version in production
  swh/web/templates/layout.html
Due: none

pristine-tar data for swh-web_0.0.317.orig.tar.gz
  swh-web_0.0.317.orig.tar.gz.delta
  swh-web_0.0.317.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.317
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.317-1_swh1 (unstable-swh)
  debian/changelog
Due: none

common/utils: Wrap deposits list retrieval in a function
  swh/web/admin/deposit.py
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/tests/common/test_utils.py
Due: mypy

cypress: Upgrade to 8.0 and fix flaky test
  cypress/integration/layout.spec.js
  package.json
  yarn.lock
Due: eslint

assets/guided_tour: Improve tour and fix redirection bug
  assets/src/bundles/guided_tour/guided-tour-steps.yaml
  assets/src/bundles/guided_tour/index.js
Due: eslint

api_raw_extrinsic_metadata_swhid_authorities: Clarify that only core SWHIDs are accepted.
  swh/web/api/views/metadata.py
Due: mypy

api_raw_extrinsic_metadata_swhid: Make the docstring consistent with api_raw_extrinsic_metadata_swhid_authorities
  swh/web/api/views/metadata.py
Due: mypy

origin/search: Add support for search query language
  assets/src/bundles/browse/origin-search.js
  swh/web/api/views/origin.py
  swh/web/browse/urls.py
  swh/web/common/archive.py
  swh/web/config.py
  swh/web/templates/includes/origin-search-form.html
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/common/test_archive.py
  swh/web/urls.py
Due: mypy, eslint

counters: Match the default configuration to the real production url
  swh/web/config.py
Due: mypy

browse/utils: Fix edge case in prepare_content_for_display
  swh/web/browse/utils.py
  swh/web/templates/includes/content-display.html
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/data.py
  swh/web/tests/resources/contents/other/extensions/public.gpg
  swh/web/tests/strategies.py
Due: mypy
