Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black

pytest: Exclude build directory for tests discovery
  pytest.ini
Due: none

Store submitter consent to use their name when discussing with forge
  cypress/integration/add-forge-now-request-create.spec.js
  swh/web/add_forge_now/migrations/0003_request_submitter_forward_username.py
  swh/web/add_forge_now/models.py
  swh/web/add_forge_now/tests/test_migration.py
  swh/web/api/views/add_forge_now.py
  swh/web/templates/add_forge_now/create-request.html
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy, eslint

Style to add asterisk to mandatory fields in HTML forms
  assets/src/bundles/webapp/webapp.css
  swh/web/templates/add_forge_now/create-request.html
  swh/web/templates/add_forge_now/request-dashboard.html
Due: none

Do not report BadInputExc to Sentry
  swh/web/common/exc.py
Due: mypy

admin/origin_save: Do not modify unauthorized URLs list when rejecting
  swh/web/admin/origin_save.py
  swh/web/tests/admin/test_origin_save.py
Due: mypy

Style improvements for forge request dashboard
  assets/src/bundles/add_forge/add-forge.css
  assets/src/bundles/add_forge/add-request-history-item.ejs
  assets/src/bundles/add_forge/request-dashboard.js
  cypress/integration/add-forge-now-request-dashboard.spec.js
  swh/web/templates/add_forge_now/request-dashboard.html
Due: eslint

cypress: Fix flaky test
  cypress/integration/origin-search.spec.js
Due: eslint

add-forge-now: Fix create request checkbox input name
  swh/web/templates/add_forge_now/create-request.html
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

Show forge request status in a human readable form
  assets/src/bundles/add_forge/add-request-history-item.ejs
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/add_forge/index.js
  assets/src/bundles/add_forge/moderation-dashboard.js
  assets/src/bundles/add_forge/request-dashboard.js
  cypress/integration/add-forge-now-request-create.spec.js
  cypress/integration/add-forge-now-request-dashboard.spec.js
Due: eslint

admin: Add mailmaps administration Web UI
  assets/src/bundles/admin/index.js
  assets/src/bundles/admin/mailmap-form.ejs
  assets/src/bundles/admin/mailmap.js
  cypress/integration/mailmap.spec.js
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  swh/web/admin/mailmap.py
  swh/web/admin/urls.py
  swh/web/auth/mailmap.py
  swh/web/auth/migrations/0006_fix_mailmap_admin_user_id.py
  swh/web/auth/utils.py
  swh/web/common/utils.py
  swh/web/templates/admin/mailmap.html
  swh/web/templates/layout.html
  swh/web/tests/auth/test_mailmap.py
  swh/web/tests/auth/test_migrations.py
  swh/web/tests/conftest.py
  swh/web/tests/create_test_users.py
  swh/web/tests/utils.py
  yarn.lock
Due: mypy, eslint

package.json: Upgrade dependencies
  assets/src/bundles/webapp/webapp.css
  package.json
  yarn.lock
Due: none

Simplify date field display format in datatable views
  assets/src/bundles/add_forge/add-request-history-item.ejs
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/add_forge/moderation-dashboard.js
  assets/src/bundles/add_forge/request-dashboard.js
  assets/src/bundles/admin/deposit.js
  assets/src/bundles/admin/origin-save.js
  assets/src/bundles/save/index.js
  assets/src/utils/functions.js
Due: eslint

add-forge-now: Refactor help content into a tab
  swh/web/templates/add_forge_now/create-request.html
Due: none

common/origin_visits: Improve get_origin_visit performance
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/content.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/common/archive.py
  swh/web/common/origin_visits.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_origin_visits.py
Due: mypy

add-forge-now: Fix login link depending on the oidc context
  swh/web/templates/add_forge_now/create-request.html
Due: none

Fix add-forge request list api docstring
  swh/web/api/views/add_forge_now.py
Due: mypy

save-code-now: Extract the checkbox filtering into a js template
  assets/src/bundles/save/index.js
  assets/src/utils/requests-filter-checkbox.ejs
Due: eslint

Improve language in add-forge-now help text
  swh/web/templates/add_forge_now/create-request.html
Due: none

Maintain tab selection on refresh
  assets/src/bundles/add_forge/create-request.js
  cypress/integration/add-forge-now-request-create.spec.js
Due: eslint

Fix flaky test in the request dashboard spec
  cypress/integration/add-forge-now-request-dashboard.spec.js
Due: eslint

Filter user add-forge-now requests when authenticated
  assets/src/bundles/add_forge/create-request.js
  cypress/integration/add-forge-now-request-create.spec.js
  cypress/plugins/index.js
  cypress/support/index.js
  swh/web/tests/create_test_users.py
Due: mypy, eslint

requirements-test: Temporarily pin django-stubs to < 1.10.0
  requirements-test.txt
Due: none

package.json: Remove use of nodemon file watchers
  assets/config/webpack.config.development.js
  package.json
Due: eslint

assets/webapp.css: Disable common ligatures of Alegreya font
  assets/src/bundles/webapp/webapp.css
Due: none

Save Code Now: Use different views for each tab
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/misc/origin_save.py
  swh/web/templates/misc/origin-save-help.html
  swh/web/templates/misc/origin-save-list.html
  swh/web/templates/misc/origin-save.html
Due: mypy, eslint

Add Forge Now: Use different views for each tab
  assets/src/bundles/add_forge/create-request.js
  cypress/integration/add-forge-now-request-create.spec.js
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/create-request-create.html
  swh/web/templates/add_forge_now/create-request-help.html
  swh/web/templates/add_forge_now/create-request-list.html
  swh/web/templates/add_forge_now/create-request.html
  swh/web/templates/layout.html
Due: mypy, eslint

Fix handling of initial state of #swh-add-forge-user-filter
  assets/src/bundles/add_forge/create-request.js
  cypress/integration/add-forge-now-request-create.spec.js
Due: eslint

Save Forge Now: Fix XSS in request list
  assets/src/bundles/add_forge/create-request.js
Due: eslint

swh.web.inbound_email: Add missing __init__.py file
  swh/web/inbound_email/management/__init__.py
  swh/web/inbound_email/management/commands/__init__.py
Due: mypy

Add Forge Now: Shorten template names
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/common.html
  swh/web/templates/add_forge_now/creation_form.html
  swh/web/templates/add_forge_now/help.html
  swh/web/templates/add_forge_now/list.html
Due: mypy

Save Code Now Admin: Use different views for each tab
  assets/src/bundles/admin/origin-save.js
  cypress/integration/admin.spec.js
  swh/web/admin/origin_save.py
  swh/web/admin/urls.py
  swh/web/templates/admin/origin-save/common.html
  swh/web/templates/admin/origin-save/filters.html
  swh/web/templates/admin/origin-save/requests.html
  swh/web/templates/layout.html
Due: mypy, eslint

Install app_label on add_forge_now model classes
  cypress/plugins/index.js
  swh/web/add_forge_now/__init__.py
  swh/web/add_forge_now/apps.py
  swh/web/add_forge_now/migrations/0001_initial.py
  swh/web/add_forge_now/migrations/0002_authorized_null_comment.py
  swh/web/add_forge_now/migrations/0003_request_submitter_forward_username.py
  swh/web/add_forge_now/migrations/0004_rename_tables.py
  swh/web/add_forge_now/models.py
  swh/web/add_forge_now/tests/test_migration.py
Due: mypy, eslint

requirements-test: Remove workarounds to fix pytest execution
  requirements-test.txt
Due: none

Add missing cypress tests for 'add-forge-now' request dashboard
  assets/src/bundles/add_forge/add-request-history-item.ejs
  cypress/fixtures/add-forge-now-request.json
  cypress/integration/add-forge-now-request-dashboard.spec.js
  cypress/plugins/index.js
Due: eslint

Move add_forge_now migration tests with other add_forge_now tests
  swh/web/tests/add_forge_now/test_migration.py
Due: mypy

Ensure that tests run with the C.UTF-8 locale
  swh/web/tests/conftest.py
Due: mypy

pristine-tar data for swh-web_0.0.378.orig.tar.gz
  swh-web_0.0.378.orig.tar.gz.delta
  swh-web_0.0.378.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.378
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.378-1_swh1 (unstable-swh)
  debian/changelog
Due: none

moderation: Fix deposit uri computation for 'code' deposits
  swh/web/admin/deposit.py
Due: mypy
