Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

webapp/readme-rendering: Fix markdown relative link to archived object
  cypress/e2e/directory.cy.js
  package.json
  swh/web/conftest.py
  swh/web/tests/test_views.py
  swh/web/tests/urls.py
  swh/web/tests/views.py
  swh/web/webapp/assets/webapp/readme-rendering.js
  yarn.lock
Due: mypy, eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

requirements.txt: Fix swh.web package upload on PyPI
  requirements.txt
Due: none

pristine-tar data for swh-web_0.2.19.orig.tar.gz
  swh-web_0.2.19.orig.tar.gz.delta
  swh-web_0.2.19.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.19
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.19-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Return a 400 error instead of 500 on invalid SWHID as query parameter
  swh/web/api/views/identifiers.py
  swh/web/api/views/raw.py
  swh/web/browse/tests/views/test_iframe.py
  swh/web/browse/views/iframe.py
  swh/web/utils/identifiers.py
  swh/web/utils/tests/test_identifiers.py
  swh/web/vault/api_views.py
Due: mypy

debian/control: Explicitely add python3-django-js-reverse as dependency
  debian/control
Due: none

debian: Bump changelog
  debian/changelog
Due: none

browse/content_raw: Ensure correct content type for SVG images
  swh/web/browse/views/content.py
Due: mypy

browse/content: Harmonize language dropdown style with bootstrap theme
  swh/web/browse/assets/browse/content.css
Due: none

browse/show-swhids: Shorten introduction sentence in SWHIDs tab
  swh/web/browse/templates/includes/show-swhids.html
Due: none

browse/content: Disable language select when rendering a notebook
  swh/web/browse/views/content.py
Due: mypy

pristine-tar data for swh-web_0.2.20.orig.tar.gz
  swh-web_0.2.20.orig.tar.gz.delta
  swh-web_0.2.20.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.20
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.20-1_swh1 (unstable-swh)
  debian/changelog
Due: none

pre-commit: Add djlint hooks to format and lint django templates
  .pre-commit-config.yaml
  pyproject.toml
Due: none

utils: Fix urlize_links_and_mails for URLs containing credentials
  swh/web/utils/swh_templatetags.py
  swh/web/utils/tests/test_templatetags.py
Due: mypy

swh_templatetags: Fix regression in urlize_links_and_mails
  swh/web/utils/swh_templatetags.py
Due: mypy

save_code_now: Add a django command to dump requests data to CSV
  swh/web/save_code_now/management/commands/dump_savecodenow_data.py
  swh/web/save_code_now/tests/test_django_command.py
Due: mypy

save_code_now: Add a button for staff to download requests CSV export
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/admin_views.py
  swh/web/save_code_now/assets/origin-save.js
  swh/web/save_code_now/tests/test_origin_save_views.py
  swh/web/save_code_now/urls.py
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

package.json: Upgrade depdendencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.21.orig.tar.gz
  swh-web_0.2.21.orig.tar.gz.delta
  swh-web_0.2.21.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.21
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.21-1_swh1 (unstable-swh)
  debian/changelog
Due: none

settings/common: Fix STATIC_DIR for user install of swh-web
  swh/web/settings/common.py
Due: mypy

pristine-tar data for swh-web_0.2.22.orig.tar.gz
  swh-web_0.2.22.orig.tar.gz.delta
  swh-web_0.2.22.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.22
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.22-1_swh1 (unstable-swh)
  debian/changelog
Due: none

developers-info: use proper yaml syntax for null entry
  docs/developers-info.rst
Due: none

utils: Handle parsing error in rst_to_html
  swh/web/browse/utils.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
  swh/web/webapp/assets/webapp/webapp.css
Due: mypy

utils: Fix topic processing error in rst_to_html with docutils >= 0.17
  swh/web/api/tests/test_apidoc.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_templatetags.py
  swh/web/utils/tests/test_utils.py
Due: mypy

package.json: Upgrade dependencies
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

api_raw_object: Apply mailmaps and remove auth restriction
  swh/web/api/tests/views/test_raw.py
  swh/web/api/throttling.py
  swh/web/api/views/raw.py
  swh/web/auth/utils.py
Due: mypy

api/graph: Remove no longer valid examples in endpoint documentation
  swh/web/api/views/graph.py
Due: mypy

pristine-tar data for swh-web_0.2.23.orig.tar.gz
  swh-web_0.2.23.orig.tar.gz.delta
  swh-web_0.2.23.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.23
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.23-1_swh1 (unstable-swh)
  debian/changelog
Due: none
