Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".eml$"
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.9.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn, -L crate]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.19.16
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.19.16
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

test_templatetags: Fix failing test with docutils < 0.17
  swh/web/utils/tests/test_templatetags.py
Due: mypy

pristine-tar data for swh-web_0.2.24.orig.tar.gz
  swh-web_0.2.24.orig.tar.gz.delta
  swh-web_0.2.24.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.24
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.24-1_swh1 (unstable-swh)
  debian/changelog
Due: none

utils: Remove caching of get_deposit_lists and use pagination
  swh/web/utils/__init__.py
Due: mypy

Fix crash when browsing file with browse-directory-legacy
  swh/web/browse/tests/views/test_directory.py
  swh/web/browse/views/directory.py
Due: mypy

black
  swh/web/browse/tests/views/test_directory.py
Due: mypy

vault: Use django FileResponse to stream cooked archives to clients
  swh/web/vault/api_views.py
  swh/web/vault/tests/test_apiviews.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  static/json/highlightjs-languages.json
  yarn.lock
Due: none

cypress.config.js: Fix ECONNREFUSED errors with node 18.x
  cypress.config.js
Due: eslint

pristine-tar data for swh-web_0.2.25.orig.tar.gz
  swh-web_0.2.25.orig.tar.gz.delta
  swh-web_0.2.25.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.25
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.25-1_swh1 (unstable-swh)
  debian/changelog
Due: none

api/apidoc: Ensure endpoint URL can be properly copied and pasted
  swh/web/api/templates/apidoc.html
  swh/web/api/tests/test_apidoc.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.2.26.orig.tar.gz
  swh-web_0.2.26.orig.tar.gz.delta
  swh-web_0.2.26.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.26
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.26-1_swh1 (unstable-swh)
  debian/changelog
Due: none

api/tests/test_raw: Fix isort and black errors
  swh/web/api/tests/views/test_raw.py
Due: mypy

browse: Use storage pagination for snapshot branches and releases
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/views/test_snapshot.py
Due: mypy

package.json: Upgrade dependencies
  assets/config/webpack.config.development.js
  assets/config/webpack.config.production.js
  package.json
  yarn.lock
Due: eslint

SCN: Fix link from help page to list page
  swh/web/save_code_now/templates/origin-save-help.html
Due: none

save_origin_webhooks/gitlab: Do not reject tag push hook event
  swh/web/save_origin_webhooks/gitlab.py
  swh/web/save_origin_webhooks/tests/test_gitlab.py
Due: mypy

pristine-tar data for swh-web_0.2.27.orig.tar.gz
  swh-web_0.2.27.orig.tar.gz.delta
  swh-web_0.2.27.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.27
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.27-1_swh1 (unstable-swh)
  debian/changelog
Due: none

templates: Factor out page title block
  swh/web/add_forge_now/templates/add-forge-common.html
  swh/web/add_forge_now/templates/add-forge-request-dashboard.html
  swh/web/add_forge_now/templates/add-forge-requests-moderation.html
  swh/web/api/templates/api-endpoints.html
  swh/web/api/templates/api.html
  swh/web/api/templates/apidoc.html
  swh/web/auth/templates/login.html
  swh/web/auth/templates/logout.html
  swh/web/auth/templates/profile.html
  swh/web/browse/templates/browse.html
  swh/web/deposit/templates/deposit-admin.html
  swh/web/jslicenses/templates/jslicenses.html
  swh/web/mailmap/templates/admin/mailmap.html
  swh/web/save_code_now/templates/admin/origin-save-common.html
  swh/web/save_code_now/templates/origin-save.html
  swh/web/webapp/templates/error.html
  swh/web/webapp/templates/layout.html
Due: none

settings: Enable to customize page titles for mirror version of swh-web
  swh/web/config.py
  swh/web/settings/common.py
  swh/web/utils/__init__.py
  swh/web/webapp/templates/homepage.html
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

webapp/templates/layout: Use mirror logo when providing mirror config
  static/img/swh-mirror.png
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

save_code_now: Enable to provide origin URL as query parameter
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/assets/origin-save.js
  swh/web/save_code_now/templates/origin-save.html
  swh/web/save_code_now/tests/test_origin_save_views.py
  swh/web/save_code_now/views.py
Due: mypy, eslint

cypress: Add cypress-cloud support required to use sorry-cypress
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: eslint

webapp: Display mirror partner logo in mirror version of swh-web
  swh/web/settings/common.py
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

pytest: Avoid side effects in tests if local config file exists
  pytest.ini
  swh/web/tests/pytest_plugin.py
Due: mypy

save_code_now: Redirect to main archive for mirror version of swh-web
  swh/web/save_code_now/templates/includes/take-new-snapshot.html
  swh/web/webapp/assets/webapp/webapp.css
  swh/web/webapp/templates/layout.html
  swh/web/webapp/tests/test_mirror_config.py
Due: mypy

save_origin_webhooks: Implement cooldown for creating save requests
  requirements-swh.txt
  swh/web/save_code_now/origin_save.py
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/save_origin_webhooks/tests/test_bitbucket.py
  swh/web/save_origin_webhooks/tests/test_gitea.py
  swh/web/save_origin_webhooks/tests/test_github.py
  swh/web/save_origin_webhooks/tests/test_gitlab.py
  swh/web/save_origin_webhooks/tests/test_sourceforge.py
  swh/web/save_origin_webhooks/tests/utils.py
  swh/web/tests/helpers.py
  swh/web/utils/typing.py
Due: mypy

debian/control: Bump swh.scheduler
  debian/control
Due: none

pristine-tar data for swh-web_0.2.28.orig.tar.gz
  swh-web_0.2.28.orig.tar.gz.delta
  swh-web_0.2.28.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.28
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.28-1_swh1 (unstable-swh)
  debian/changelog
Due: none
