Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

package.json: Upgrade dependencies
  assets/config/.eslintrc
  assets/config/webpack.config.development.js
  assets/src/utils/functions.js
  package.json
  yarn.lock
Due: eslint

browse/utils: Remove dead code
  swh/web/browse/utils.py
Due: mypy

tmp
  swh/web/api/views/metadata.py
  swh/web/tests/api/views/test_metadata.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/conftest.py
  swh/web/tests/strategies.py
Due: mypy

tests: Ensure they all can be run with multiple hypothesis examples
  swh/web/tests/api/views/test_metadata.py
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/conftest.py
  swh/web/tests/strategies.py
Due: mypy

api/metadata: Fix issues detected with hypothesis
  swh/web/api/views/metadata.py
Due: mypy

webpack: Upgrade webpack-dev-server to 4.0.0
  assets/config/webpack.config.development.js
  cypress.json
  package.json
  yarn.lock
Due: eslint

api/metadata: Fix issues detected with hypothesis
  swh/web/api/views/metadata.py
  swh/web/tests/api/views/test_metadata.py
Due: mypy

debian/control: Bump python3-swh.auth.django dependency
  debian/control
Due: none

pristine-tar data for swh-web_0.0.318.orig.tar.gz
  swh-web_0.0.318.orig.tar.gz.delta
  swh-web_0.0.318.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.318
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.318-1_swh1 (unstable-swh)
  debian/changelog
Due: none

tests: Fix sampled_from hypothesis strategy import
  swh/web/tests/api/views/test_metadata.py
Due: mypy

pristine-tar data for swh-web_0.0.319.orig.tar.gz
  swh-web_0.0.319.orig.tar.gz.delta
  swh-web_0.0.319.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.319
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.319-1_swh1 (unstable-swh)
  debian/changelog
Due: none

vault.spec.js: Add test checking the LocalStorage is used to show the task list
  cypress/integration/vault.spec.js
Due: eslint

vault.spec.js: Remove vaultItems from global variables
  cypress/integration/vault.spec.js
Due: eslint

vault API: Rename bundle types and use SWHIDs to identify objects
  assets/src/bundles/vault/vault-create-tasks.js
  assets/src/bundles/vault/vault-table-row.ejs
  assets/src/bundles/vault/vault-ui.js
  cypress/fixtures/swh:1:dir:cd19126d815470b28919d64b2a8e6a3e37f900dd.tar.gz
  cypress/fixtures/swh:1:rev:1c480a4573d2a003fc2630c21c2b25829de49972.gitfast.gz
  cypress/integration/vault.spec.js
  swh/web/api/views/vault.py
  swh/web/browse/snapshot_context.py
  swh/web/browse/urls.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/common/archive.py
  swh/web/templates/includes/vault-create-tasks.html
  swh/web/tests/api/views/test_vault.py
Due: mypy, eslint

Remove page refresh hack from updateVaultItemList.
  assets/src/bundles/vault/vault-ui.js
  cypress/integration/vault.spec.js
Due: eslint

Add new 'deprecated' tag for API routes, and 'un-hide' deprecate vault routes from the index
  swh/web/api/apidoc.py
  swh/web/api/views/vault.py
  swh/web/templates/api/endpoints.html
Due: mypy

Bump minimum swh-vault version
  requirements-swh.txt
Due: none

pristine-tar data for swh-web_0.0.320.orig.tar.gz
  swh-web_0.0.320.orig.tar.gz.delta
  swh-web_0.0.320.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.320
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.320-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Reword 'no more available to download' in more natural English
  cypress/integration/vault.spec.js
  swh/web/templates/includes/vault-common.html
Due: eslint

hypothesis: Run with more examples by default
  swh/web/tests/conftest.py
Due: mypy

Add support for git-bare bundles in API
  swh/web/api/views/vault.py
  swh/web/tests/api/views/test_vault.py
Due: mypy

templates/content-display: Remove script tag when no content to display
  swh/web/templates/includes/content-display.html
Due: none

WIP
  assets/src/bundles/webapp/code-highlighting.js
  swh/web/common/utils.py
  swh/web/misc/iframe.py
  swh/web/misc/urls.py
  swh/web/templates/browse/help.html
  swh/web/templates/includes/breadcrumbs.html
  swh/web/templates/includes/content-display.html
  swh/web/templates/includes/directory-display.html
  swh/web/templates/includes/http-error.html
  swh/web/templates/misc/iframe.html
Due: mypy, eslint

origin_save: Filter out visit type with no scheduler load-* task type
  assets/src/bundles/save/index.js
  swh/web/common/origin_save.py
  swh/web/misc/origin_save.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/admin/test_origin_save.py
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_revision.py
  swh/web/tests/common/test_origin_save.py
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_metrics.py
  swh/web/tests/misc/test_origin_save.py
Due: mypy, eslint

package.json: Upgrade dependencies
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

misc/coverage: Revamp and improve archive coverage widget in homepage
  assets/src/bundles/webapp/coverage.css
  assets/src/bundles/webapp/index.js
  assets/src/bundles/webapp/webapp.css
  static/img/logos/cgit.png
  static/img/logos/cran.png
  static/img/logos/cran.svg
  static/img/logos/elife.png
  static/img/logos/framagit.png
  static/img/logos/gitea.png
  static/img/logos/gitlab.png
  static/img/logos/gitlab.svg
  static/img/logos/guix.png
  static/img/logos/guix.svg
  static/img/logos/launchpad.png
  static/img/logos/phabricator.png
  static/img/logos/pypi.png
  static/img/logos/pypi.svg
  static/img/logos/sourceforge.png
  swh/web/config.py
  swh/web/misc/coverage.py
  swh/web/templates/homepage.html
  swh/web/templates/misc/coverage.html
  swh/web/tests/misc/test_coverage.py
Due: mypy, eslint

vault: Rename downloaded files to replace ':' with '_' in SWHIDs
  cypress/fixtures/swh_1_dir_cd19126d815470b28919d64b2a8e6a3e37f900dd.tar.gz
  cypress/fixtures/swh_1_rev_1c480a4573d2a003fc2630c21c2b25829de49972.git.tar
  cypress/integration/vault.spec.js
  swh/web/api/views/vault.py
Due: mypy, eslint

vault-ui: Remove remaining references to object_type
  assets/src/bundles/vault/vault-table-row.ejs
  cypress/integration/vault.spec.js
  swh/web/common/utils.py
  swh/web/templates/browse/vault-ui.html
Due: mypy, eslint

Switch the UI to use bare git archives, instead of gitfast.
  assets/src/bundles/vault/vault-create-tasks.js
  assets/src/bundles/vault/vault-table-row.ejs
  assets/src/bundles/vault/vault-ui.js
  cypress/fixtures/swh:1:rev:1c480a4573d2a003fc2630c21c2b25829de49972.git.tar
  cypress/fixtures/swh:1:rev:1c480a4573d2a003fc2630c21c2b25829de49972.gitfast.gz
  cypress/integration/vault.spec.js
  swh/web/api/views/vault.py
  swh/web/templates/includes/vault-create-tasks.html
Due: mypy, eslint

pristine-tar data for swh-web_0.0.321.orig.tar.gz
  swh-web_0.0.321.orig.tar.gz.delta
  swh-web_0.0.321.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.321
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.321-1_swh1 (unstable-swh)
  debian/changelog
Due: none

vault: Fix content-types
  cypress/integration/vault.spec.js
  swh/web/api/views/vault.py
  swh/web/tests/api/views/test_vault.py
Due: mypy, eslint

api/origin_save: Add savable visit types in apidoc dynamically
  swh/web/api/views/origin_save.py
  swh/web/common/origin_save.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
