Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
              ^.*\.eml$
          )$
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/python/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==24.4.26, flake8-pyproject]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json|
              swh/web/browse/tests/data/content_iso-8859-7_encoded|
              swh/web/add_forge_now/migrations/swh-afn-urls-canonicalise.txt
          )$
        args: [-L edn, -L crate, -L THIRDPARTY, -L thirdparty]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: twine-check
        name: twine check
        description: call twine check when pushing an annotated release tag
        entry: bash -c "ref=$(git describe) &&
          [[ $ref =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]] &&
          (python3 -m build --sdist && twine check $(ls -t dist/* | head -1)) || true"
        pass_filenames: false
        stages: [pre-push]
        language: python
        additional_dependencies: [twine, build]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: system
        types: [javascript]

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

settings/common: Display urllib3 debug logs in debug mode
  swh/web/settings/common.py
Due: mypy

requirements: Install standard-imghdr when Python >= 3.13
  requirements.txt
Due: none

tests/data: Add missing person counter increments
  swh/web/tests/data.py
Due: mypy

package.json: Bump dependencies
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: eslint

Add an API endpoint to get coverage data
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/archive_coverage/views.py
Due: mypy

robots.txt: Disallow to crawl views for browsing revisions history
  assets/config/webpack.config.development.js
Due: eslint

browse: Prefer to use django cache to save revisions walker state
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/revision.py
Due: mypy

webapp/notebook-rendering: Fix a couple of rendering issues
  swh/web/webapp/assets/webapp/notebook-rendering.js
Due: eslint

mathjax: Upgrade to 4.0.0
  assets/config/webpack.config.development.js
  assets/src/utils/mathjax.js
  package.json
  swh/web/webapp/assets/webapp/math-typesetting.js
  yarn.lock
Due: eslint

browse: Remove test_revision_metadata_display unit test
  swh/web/browse/tests/views/test_revision.py
Due: mypy

archive_coverage: Update nixos source package counters
  swh/web/archive_coverage/views.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

browse: Add optional HTML or Markdown preview in content views
  cypress/e2e/content-rendering.cy.js
  cypress/e2e/directory.cy.js
  cypress/fixtures/swh-logo.png
  cypress/support/e2e.js
  package.json
  swh/web/browse/templates/includes/content-display.html
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/revision.py
  swh/web/tests/test_urls.py
  swh/web/tests/views.py
  swh/web/utils/highlightjs.py
  swh/web/utils/swh_templatetags.py
  swh/web/utils/typing.py
  swh/web/webapp/assets/webapp/readme-rendering.js
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/assets/webapp/xss-filtering.js
  yarn.lock
Due: mypy, eslint

browse/content: Allow math display when rendering markdown to html
  cypress/e2e/content-rendering.cy.js
  swh/web/browse/assets/mathjax/index.js
  swh/web/browse/templates/browse.html
  swh/web/browse/templates/includes/content-display.html
  swh/web/utils/__init__.py
  swh/web/webapp/assets/webapp/index.js
  swh/web/webapp/assets/webapp/notebook-rendering.js
Due: mypy, eslint

browse: Move js code to render contents in its dedicated webpack chunk
  swh/web/browse/assets/content/index.js
  swh/web/browse/templates/browse.html
  swh/web/browse/templates/includes/content-display.html
  swh/web/browse/templates/includes/top-navigation.html
Due: eslint

browse/content: Use absolute URL for mathjax path
  assets/src/utils/functions.js
  cypress/e2e/content-rendering.cy.js
  swh/web/browse/assets/content/index.js
  swh/web/browse/assets/mathjax/index.js
Due: eslint

webapp/notebook-rendering: Robustify math to inline detection
  cypress/e2e/content-rendering.cy.js
  swh/web/webapp/assets/webapp/notebook-rendering.js
Due: eslint

webapp/notebook-rendering: Fix more math rendering issues
  cypress/e2e/content-rendering.cy.js
  swh/web/webapp/assets/webapp/notebook-rendering.js
Due: eslint

browse/content-display: Add sandbox attribute to iframe rendering HTML
  swh/web/browse/templates/includes/content-display.html
Due: none

browse: Handle origin visit without status and snapshot
  swh/web/browse/assets/origin_visits/utils.js
  swh/web/browse/assets/origin_visits/visits-reporting.css
  swh/web/browse/assets/origin_visits/visits-reporting.js
  swh/web/browse/snapshot_context.py
Due: mypy, eslint

save_code_now/origin_save: Prevent raise of KeyError for bogus visit
  swh/web/save_code_now/origin_save.py
Due: mypy

utils: Do not render rst if any error happened during parsing
  swh/web/utils/__init__.py
Due: mypy

browse/content: Fix regression when changing language to highlight
  swh/web/browse/assets/content/index.js
Due: eslint

browse: Add support to anchor links in HTML rendering
  swh/web/browse/assets/content/index.js
  swh/web/webapp/assets/webapp/webapp-utils.js
Due: eslint

webapp/xss-filtering: Fix rewriting of a link with anchor
  swh/web/webapp/assets/webapp/xss-filtering.js
Due: eslint

browse: fix default value for visit snapshot
  swh/web/browse/views/origin.py
Due: mypy

browse/origin-visits: Fetch up to 10000 visits to avoid timeouts
  swh/web/browse/templates/browse-origin-visits.html
  swh/web/browse/tests/views/test_origin.py
  swh/web/browse/views/origin.py
  swh/web/utils/archive.py
  swh/web/utils/origin_visits.py
  swh/web/utils/tests/test_origin_visits.py
Due: mypy

api/origin-visits: Update implementation to use real pagination
  swh/web/api/tests/views/test_origin.py
  swh/web/api/views/origin.py
Due: mypy

package.json: Bump dependencies
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/src/utils/highlightjs.js
  package.json
  yarn.lock
Due: eslint

highlight.js: Add support for new languages to highlight
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/src/utils/highlightjs.js
  package.json
  swh/web/static/json/highlightjs-languages.json
  swh/web/utils/highlightjs.py
  yarn.lock
Due: mypy, eslint

webapp/templates/layout.html: Fix focus issue of top search form
  swh/web/webapp/templates/layout.html
Due: none

webpack: Fix license of highlightjs-bicep
  assets/config/webpack.config.development.js
Due: eslint

generate-weblabels-webpack-plugin: Rename Expat license to MIT license
  assets/config/webpack-plugins/generate-weblabels-webpack-plugin/spdx-licenses-mapping.js
Due: eslint

webapp/templates/layout.html: Remove autofocus on top search form
  swh/web/webapp/templates/layout.html
Due: none

browse/sidetabs: Ensure to clear selection after copying permalinks
  swh/web/browse/assets/browse/sidetabs.js
Due: eslint

Apply swh-py-template v0.3.5 to bump development tools
  .copier-answers.yml
  .pre-commit-config.yaml
  tox.ini
Due: none

tests/views: Fix flake8 errors
  swh/web/tests/views.py
Due: mypy

inbound_email: Remove no longer needed type ignores after mypy bump
  swh/web/inbound_email/handle_message.py
  swh/web/inbound_email/tests/test_utils.py
Due: mypy

assets/functions: Fix validation of git clone URL without path
  assets/src/utils/functions.js
  cypress/e2e/origin-save.cy.js
Due: eslint
