Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: system

webapp: Ensure sidebar is properly displayed on all screen resolutions
  swh/web/webapp/assets/webapp/webapp.css
Due: none

package.json: Bump dependencies
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

Revert "webapp/assets: Use showdown-highlight from npm"
  package.json
  swh/web/webapp/assets/webapp/readme-rendering.js
  yarn.lock
Due: eslint

browse: Enable citations Web UI for staff users
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/browse/tests/views/test_origin.py
Due: mypy, eslint

utils/archive: Fix mypy errors
  swh/web/utils/archive.py
Due: mypy

save_bulk: Remove duplicated origins data in user submitted list
  swh/web/save_bulk/api_views.py
  swh/web/save_bulk/tests/test_api_views.py
Due: mypy

save_bulk/api_views: Fix a curl command in endpoint documentation
  swh/web/save_bulk/api_views.py
Due: mypy

browse: Set a maximum height to each pre rendering a citation
  swh/web/browse/assets/browse/browse.css
Due: none

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

settings/tests: Use a temporary scheduler backend when running tests
  swh/web/settings/tests.py
Due: mypy

archive_coverage: Add Zenodo in On demand archival section
  static/img/logos/zenodo.png
  swh/web/archive_coverage/views.py
Due: mypy

Adjust wording of the initial AFN admin contact
  swh/web/add_forge_now/assets/forge-admin-email.ejs
Due: none

save_code_now/models: Bump max length of SaveOriginRequest.origin_url
  swh/web/save_code_now/migrations/0016_alter_saveoriginrequest_origin_url.py
  swh/web/save_code_now/models.py
  swh/web/save_code_now/tests/test_migrations.py
Due: mypy

save_bulk/models: Bump max length of SaveBulkOrigin.origin_url
  swh/web/save_bulk/migrations/0002_alter_savebulkorigin_origin_url.py
  swh/web/save_bulk/models.py
  swh/web/save_bulk/tests/test_migrations.py
Due: mypy

deposit: Ensure XML metadata are pretty formatted before display
  package.json
  swh/web/deposit/assets/index.js
  yarn.lock
Due: eslint

browse: Display Citations tab only when a citation can be generated
  cypress/e2e/sidetabs.cy.js
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/templates/includes/sidetabs.html
Due: eslint

citation: Ensure source SWHID is available when generation failed
  swh/web/api/apiresponse.py
  swh/web/api/tests/views/test_citation.py
  swh/web/api/views/citation.py
  swh/web/utils/archive.py
  swh/web/utils/citation.py
  swh/web/utils/typing.py
Due: mypy

Fix test_archive.test_lookup_origin when hypothesis produces twice the same URL
  swh/web/utils/tests/test_archive.py
Due: mypy

browse: Enable display of citations UI for ambassador users
  cypress/e2e/sidetabs.cy.js
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/settings/tests.py
  swh/web/utils/__init__.py
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/templates/layout.html
Due: mypy, eslint

browse/templates/sidetabs: Add missing change from f571c55
  swh/web/browse/templates/includes/sidetabs.html
Due: none

save_bulk/api_views: Ensure UTC dates in API view responses
  swh/web/save_bulk/api_views.py
Due: mypy

save_bulk/api_views: Add missing limit parameter to get_listed_origins
  swh/web/save_bulk/api_views.py
  swh/web/save_bulk/tests/test_api_views.py
Due: mypy

utils/archive: Fix returned date when requesting origin visit info
  swh/web/conftest.py
  swh/web/utils/archive.py
  swh/web/utils/converters.py
  swh/web/utils/tests/test_converters.py
Due: mypy

AFN: validate the provided forge URL more extensively
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/templates/add-forge-creation-form.html
  swh/web/add_forge_now/templates/add-forge-help.html
Due: eslint

cypress: Update AFN creation form test checking invalid forge URL
  cypress/e2e/add-forge-now-request-create.cy.js
Due: eslint

add_forge_now/assets/create-request: Catch URL parsing error
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

cypress: Update AFN creation form tests for new validation rules
  cypress/e2e/add-forge-now-request-create.cy.js
Due: eslint

add_forge_now/assets/create-request: Fix eslint errors
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

Fix the GitHub domain regex to only match periods and only the hostname
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

AFN: use canonical example domains in tests instead of other domains
  cypress/e2e/add-forge-now-request-create.cy.js
Due: eslint

AFN: reject more types of GitHub domains
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

AFN: validate that provided forge URL is not the canonical GitLab instance
  cypress/e2e/add-forge-now-request-create.cy.js
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

add_forge_now/migrations: Canonicalise forge URLs in database
  swh/web/add_forge_now/migrations/0009_canonicalise_forge_urls.py
  swh/web/add_forge_now/tests/test_migration.py
Due: mypy

add_forge_now/migrations: Rework forge URLs canonicalisation code
  .pre-commit-config.yaml
  swh/web/add_forge_now/migrations/0009_canonicalise_forge_urls.py
  swh/web/add_forge_now/migrations/swh-afn-urls-canonicalise.txt
  swh/web/add_forge_now/tests/test_migration.py
Due: mypy

cypress: Fix some tests after HTML minification
  cypress/e2e/add-forge-now-request-create.cy.js
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/admin.cy.js
  cypress/e2e/layout.cy.js
  cypress/e2e/origin-save.cy.js
  swh/web/add_forge_now/templates/add-forge-request-dashboard.html
  swh/web/auth/templates/login.html
  swh/web/save_code_now/templates/origin-save.html
  swh/web/webapp/templates/layout.html
Due: eslint

utils/middlewares: Use django-minify-html instead of custom middleware
  requirements.txt
  swh/web/settings/production.py
  swh/web/utils/middlewares.py
Due: mypy

settings: Use HTML minifier when running cypress tests
  swh/web/settings/production.py
  swh/web/settings/tests.py
Due: mypy

browse: Ensure to use escaped SWHID when requesting citation API endpoint
  swh/web/browse/assets/browse/sidetabs.js
Due: eslint

browse: Handle core SWHIDs when querying citation endpoint client side
  swh/web/browse/assets/browse/sidetabs.js
Due: eslint

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
