Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

save_code_now: Add Web API endpoint to get info about a single request
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/origin_save.py
  swh/web/save_code_now/tests/test_origin_save_api.py
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/save_origin_webhooks/tests/utils.py
Due: mypy

pristine-tar data for swh-web_0.2.12.orig.tar.gz
  swh-web_0.2.12.orig.tar.gz.delta
  swh-web_0.2.12.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.12
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.12-1_swh1 (unstable-swh)
  debian/changelog
Due: none

banners: Add expected services downtime banner
  swh/web/banners/templates/banner-iframe.html
  swh/web/banners/templates/downtime-banner.html
  swh/web/banners/tests/test_banners.py
  swh/web/banners/urls.py
  swh/web/banners/views.py
  swh/web/webapp/templates/layout.html
Due: mypy

Update SWH forge URLs from Phabricator to GitLab
  README.md
  package.json
  setup.py
  swh/web/conftest.py
  swh/web/webapp/templates/layout.html
  tox.ini
Due: mypy

pristine-tar data for swh-web_0.2.13.orig.tar.gz
  swh-web_0.2.13.orig.tar.gz.delta
  swh-web_0.2.13.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.13
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.13-1_swh1 (unstable-swh)
  debian/changelog
Due: none

banners: Fix status URL in downtime banner
  swh/web/banners/templates/downtime-banner.html
Due: none

pristine-tar data for swh-web_0.2.14.orig.tar.gz
  swh-web_0.2.14.orig.tar.gz.delta
  swh-web_0.2.14.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.14
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.14-1_swh1 (unstable-swh)
  debian/changelog
Due: none

banners/downtime-banner: Update maintenance period
  swh/web/banners/templates/downtime-banner.html
Due: none

pristine-tar data for swh-web_0.2.15.orig.tar.gz
  swh-web_0.2.15.orig.tar.gz.delta
  swh-web_0.2.15.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.15
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.15-1_swh1 (unstable-swh)
  debian/changelog
Due: none

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

settings: Remove display of downtime banner
  swh/web/settings/common.py
Due: mypy

banners: Fix tests after application deactivation
  swh/web/banners/tests/test_app.py
  swh/web/banners/tests/test_banners.py
  swh/web/settings/common.py
Due: mypy

pristine-tar data for swh-web_0.2.16.orig.tar.gz
  swh-web_0.2.16.orig.tar.gz.delta
  swh-web_0.2.16.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.16
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.16-1_swh1 (unstable-swh)
  debian/changelog
Due: none

pre-commit: Bump isort from 5.10.1 to 5.11.5
  .pre-commit-config.yaml
Due: none

mypy: Bump to 1.0.1 and fix new typing errors
  requirements-test.txt
  swh/web/add_forge_now/migrations/0001_initial.py
  swh/web/api/views/utils.py
  swh/web/mailmap/migrations/0001_initial.py
  swh/web/utils/archive.py
  tox.ini
Due: mypy

Update and clean tox configuration for version 4
  tox.ini
Due: none

package.json: Upgrade dependencies
  assets/config/webpack.config.development.js
  package.json
  yarn.lock
Due: eslint

badges: Move related assets in application folder
  swh/web/badges/assets/badges.css
  swh/web/badges/assets/index.js
  swh/web/browse/templates/browse.html
  swh/web/browse/templates/includes/show-swhids.html
  swh/web/webapp/assets/webapp/index.js
  swh/web/webapp/assets/webapp/webapp.css
Due: eslint

badges: Fix W3C validation of HTML snippet for embedding a badge
  cypress/e2e/persistent-identifiers.cy.js
  swh/web/badges/assets/index.js
Due: eslint

pristine-tar data for swh-web_0.2.17.orig.tar.gz
  swh-web_0.2.17.orig.tar.gz.delta
  swh-web_0.2.17.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.17
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.17-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse/content: Set image content type when requesting raw content
  docs/uri-scheme-browse-content.rst
  swh/web/browse/tests/views/test_content.py
  swh/web/browse/views/content.py
  swh/web/conftest.py
Due: mypy

browse/directory: Redirect to content view when path targets a file
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/views/test_directory.py
  swh/web/browse/tests/views/test_origin.py
  swh/web/browse/views/directory.py
Due: mypy

add_forge_now/tests: Fix pytest warning
  swh/web/add_forge_now/tests/test_views.py
Due: mypy

banners/tests: Fix test failing with django 4.x
  swh/web/banners/tests/test_banners.py
  swh/web/banners/views.py
Due: mypy

cypress: Fix test failing with django 4.x
  cypress/e2e/add-forge-now-request-dashboard.cy.js
Due: eslint

requirements: Bump django to its latest version (4.x)
  requirements.txt
Due: none

settings/production: Update memcached backend for django >= 3.2
  requirements.txt
  swh/web/settings/production.py
Due: mypy

browse/directory: Fix path parameter when redirecting to content view
  swh/web/browse/tests/views/test_directory.py
  swh/web/browse/views/directory.py
Due: mypy
