Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc --ignore-path assets/config/.eslintignore
  language: system

linting: Fix flake8 issues
  swh/web/api/apidoc.py
  swh/web/browse/tests/views/test_origin.py
Due: mypy

django: Register SWHIDConverter only when needed
  swh/web/utils/url_path_converters.py
Due: mypy

tests: Fix storage instantiation deprecated args
  swh/web/config.py
  swh/web/tests/data.py
Due: mypy

django: Transitional FORMS_URLFIELD_ASSUME_HTTPS setting
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  pytest.ini
  swh/web/settings/common.py
Due: mypy, eslint

tests: test_message is not a test method
  swh/web/inbound_email/tests/common_tests.py
Due: mypy

tests: Re-implement GitLoaderFromArchive
  swh/web/tests/data.py
Due: mypy

docs: docutils.frontend.OptionParser is deprecated
  swh/web/utils/__init__.py
Due: mypy

docs: Node.traverse is deprecated in favor of Node.findall
  swh/web/api/apidoc.py
Due: mypy

tests: Fix identifying contents by sha1 instead of hash dicts
  swh/web/api/views/raw.py
  swh/web/conftest.py
  swh/web/utils/archive.py
Due: mypy

django: Fix naive datetime used on an aware field
  swh/web/auth/migrations/0006_fix_mailmap_admin_user_id.py
  swh/web/auth/tests/test_migrations.py
Due: mypy

tests: swh.model.identifiers module is deprecated
  swh/web/api/tests/views/test_extid.py
Due: mypy

pre-commit: Bump djlint hooks
  .pre-commit-config.yaml
Due: none

auth: Consider django secret fallbacks when decrypting user token
  swh/web/auth/tests/test_views.py
  swh/web/auth/views.py
Due: mypy

badges: Fix regression introduced in 77dd2a9
  swh/web/badges/__init__.py
  swh/web/badges/tests/test_badges.py
  swh/web/badges/urls.py
Due: mypy

add_forge_now/api_views: Fix mypy error
  swh/web/add_forge_now/api_views.py
Due: mypy

packaging: move pytest config to pyproject.toml
  pyproject.toml
  pytest.ini
Due: none

packaging: move mypy config to pyproject.toml
  mypy.ini
  pyproject.toml
  requirements-test.txt
Due: none

packaging: radon is not installed anymore
  setup.cfg
Due: none

packaging: move flake8 config to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

webapp.css: Set fixed size to copy buttons in Permalinks tab
  swh/web/webapp/assets/webapp/webapp.css
Due: none

Add SWHID in generated BibTeX citation
  swh/web/api/views/citation.py
  swh/web/utils/metadata.py
  swh/web/utils/tests/test_metadata.py
Due: mypy

Change citation algo for cnt and dir objects
  swh/web/conftest.py
  swh/web/utils/archive.py
  swh/web/utils/metadata.py
  swh/web/utils/tests/test_archive.py
Due: mypy

browse: Add missing origin_url query parameter in some visit URLs
  swh/web/browse/views/origin.py
Due: mypy

browse/snapshot_context: Handle mercurial edge case in _get_release
  swh/web/browse/snapshot_context.py
  swh/web/browse/tests/test_snapshot_context.py
Due: mypy

api: Remove visit_types field in origins endpoint responses
  swh/web/api/views/origin.py
  swh/web/utils/archive.py
Due: mypy

archive.py: fix invalid if/else case and typing in citation function
  requirements-swh.txt
  swh/web/utils/archive.py
Due: mypy

utils/archive: Cache calls to _origin_info function
  swh/web/utils/__init__.py
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

settings: treat memcache/network errors as cache misses
  swh/web/settings/production.py
Due: mypy

cache: capture non memcache errors when set/getting a key
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
Due: mypy

browse: Fix an accessibility issue spotted by cypress plugin
  package.json
  swh/web/browse/assets/browse/browse.css
  yarn.lock
Due: none

api/citation: Fix and improve endpoints documentation
  swh/web/api/views/citation.py
Due: mypy

archive: Rename functions fetching files to generate citations
  swh/web/utils/archive.py
  swh/web/utils/metadata.py
  swh/web/utils/tests/test_archive.py
Due: mypy

utils: Add IntrinsicMetadataFile* types and update citation functions
  swh/web/utils/archive.py
  swh/web/utils/metadata.py
  swh/web/utils/tests/test_archive.py
  swh/web/utils/typing.py
Due: mypy

api/citation: Return info about citation metadata in endpoint responses
  swh/web/api/tests/views/test_citation.py
  swh/web/api/views/citation.py
  swh/web/utils/metadata.py
  swh/web/utils/tests/test_metadata.py
  swh/web/utils/typing.py
Due: mypy

utils: Rename metadata.py module to citation.py
  swh/web/api/views/citation.py
  swh/web/utils/citation.py
  swh/web/utils/tests/test_metadata.py
Due: mypy

browse: Add new side tab to hold the Citations Web UI
  cypress/e2e/sidetabs.cy.js
  swh/web/browse/assets/browse/browse.css
  swh/web/browse/assets/browse/index.js
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/assets/browse/swhid-utils.js
  swh/web/browse/assets/guided_tour/guided-tour-steps.yaml
  swh/web/browse/assets/guided_tour/index.js
  swh/web/browse/templates/browse-iframe.html
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/browse/templates/includes/top-navigation.html
Due: eslint

config: Add flag to activate/deactivate citations Web UI in browse
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/browse/tests/views/test_origin.py
  swh/web/config.py
  swh/web/settings/tests.py
  swh/web/utils/__init__.py
Due: mypy, eslint

browse/sidetabs: Integrate software citations Web UI
  cypress/e2e/sidetabs.cy.js
  package.json
  swh/web/api/views/citation.py
  swh/web/browse/assets/browse/browse.css
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/config.py
  swh/web/settings/tests.py
  swh/web/webapp/assets/webapp/webapp.css
  yarn.lock
Due: mypy, eslint

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
