Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
              ^.*\.eml$
          )$
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/python/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==24.4.26, flake8-pyproject]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json|
              swh/web/browse/tests/data/content_iso-8859-7_encoded|
              swh/web/add_forge_now/migrations/swh-afn-urls-canonicalise.txt
          )$
        args: [-L edn, -L crate, -L THIRDPARTY, -L thirdparty]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: twine-check
        name: twine check
        description: call twine check when pushing an annotated release tag
        entry: bash -c "ref=$(git describe) &&
          [[ $ref =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]] &&
          (python3 -m build --sdist && twine check $(ls -t dist/* | head -1)) || true"
        pass_filenames: false
        stages: [pre-push]
        language: python
        additional_dependencies: [twine, build]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: system
        types: [javascript]

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates formatter
        args:
          - --reformat
          - --quiet

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-django
        name: Django templates linter
        args:
          - --quiet

highlightjs: Add new plugins for more languages to highlight
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/src/utils/highlightjs.js
  package.json
  swh/web/static/json/highlightjs-languages.json
  swh/web/utils/highlightjs.py
  yarn.lock
Due: mypy, eslint

save_code_now: Try to autoselect tarball visit type in Web UI form
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

save_code_now/api_views: Do not quote special characters in origin URL
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/tests/test_origin_save_api.py
Due: mypy

save_code_now: Use new Web API endpoint to submit data from Web UI form
  cypress/e2e/origin-save.cy.js
  swh/web/save_code_now/assets/origin-save.js
Due: eslint

save_code_now/admin: Ensure to percent encode origin_url in view URLs
  cypress/e2e/admin.cy.js
  swh/web/save_code_now/assets/origin-save-admin.js
Due: eslint

save_code_now: Add endpoint to pass origin_url with a query parameter
  swh/web/api/apidoc.py
  swh/web/api/serializers.py
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/tests/test_origin_save_api.py
  swh/web/webapp/assets/webapp/webapp.css
Due: mypy

archive: Handle origin URL with space character in lookup_origin
  swh/web/api/tests/views/test_origin.py
  swh/web/conftest.py
  swh/web/tests/data.py
  swh/web/utils/archive.py
Due: mypy

package.json: Bump dependencies
  package.json
  yarn.lock
Due: none

browse: Fix calendar popup rendering issue in origin visits view
  swh/web/browse/assets/origin_visits/visits-calendar.js
Due: eslint

Apply swh-py-template v0.3.4 with copier
  .copier-answers.yml
  pyproject.toml
Due: none

pyproject.toml: Use extend-exclude flake8 option instead of exclude
  pyproject.toml
Due: none

utils/archive: Add function to count origin URLs matching a pattern
  requirements-swh.txt
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
Due: mypy

archive_coverage: Fix and improve performance of deposit counts
  swh/web/archive_coverage/tests/test_coverage.py
  swh/web/archive_coverage/views.py
  swh/web/utils/__init__.py
  swh/web/utils/tests/test_utils.py
Due: mypy

archive_coverage: Use more accurate counts for legacy origins
  swh/web/archive_coverage/views.py
Due: mypy

archive_coverage: Add OSDN in "Discontinued hosting" section
  swh/web/archive_coverage/views.py
  swh/web/static/img/logos/osdn.png
Due: mypy

archive_coverage: Order legacy origins by name
  swh/web/archive_coverage/views.py
Due: mypy

package.json: Bump dependencies
  cypress/e2e/accessibility.cy.js
  package.json
  swh/web/browse/templates/includes/snapshot-context.html
  swh/web/save_code_now/templates/origin-save.html
  swh/web/webapp/assets/vendors/bootstrap.scss
  swh/web/webapp/assets/vendors/index.js
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/templates/layout.html
  yarn.lock
Due: eslint

webapp/assets/vendors: Use document ready callback instead of timeout
  swh/web/webapp/assets/vendors/index.js
Due: eslint

browse: Display total number of results in origins search Web UI
  cypress/e2e/origin-search.cy.js
  swh/web/browse/assets/browse/origin-search.js
  swh/web/browse/templates/browse-search.html
  swh/web/utils/swh_templatetags.py
Due: mypy, eslint

api/origin_search: Return total number of results in response header
  swh/web/alter/tests/test_views.py
  swh/web/alter/views.py
  swh/web/api/apiresponse.py
  swh/web/api/tests/test_apiresponse.py
  swh/web/api/tests/test_utils.py
  swh/web/api/tests/views/test_origin.py
  swh/web/api/utils.py
  swh/web/api/views/origin.py
  swh/web/api/views/utils.py
  swh/web/utils/archive.py
  swh/web/utils/tests/test_templatetags.py
Due: mypy

webapp/templates/sidebar: Add missing trailing slash in admin view URL
  swh/web/webapp/templates/includes/sidebar.html
Due: none

save_bulk/api_views: Bump per_page value for the save bulk lister task
  swh/web/save_bulk/api_views.py
Due: mypy

browse/origin-search: Fix formatting of displayed total search results
  swh/web/browse/assets/browse/origin-search.js
Due: eslint

add_forge_now/models: Ensure contact comment field is not required
  swh/web/add_forge_now/migrations/0010_alter_request_forge_contact_comment.py
  swh/web/add_forge_now/models.py
Due: mypy

settings/production: Disable django admin logs
  requirements.txt
  swh/web/settings/production.py
Due: mypy

webapp: Remove use of sentry to report frontend errors
  assets/config/webpack.config.production.js
  package.json
  swh/web/webapp/assets/vendors/index.js
  swh/web/webapp/assets/webapp/index.js
  swh/web/webapp/assets/webapp/sentry.js
  swh/web/webapp/templates/layout.html
  yarn.lock
Due: eslint

browse: Improve user experience with side tabs
  cypress/e2e/sidetabs.cy.js
  swh/web/browse/assets/browse/browse.css
  swh/web/browse/assets/browse/sidetabs.js
  swh/web/browse/templates/includes/sidetabs.html
Due: eslint

bootstrap: Fix modal behavior when animations are disabled
  swh/web/alter/templates/admin_alteration.html
  swh/web/alter/templates/alteration_details.html
  swh/web/save_code_now/templates/includes/take-new-snapshot.html
  swh/web/vault/templates/includes/vault-common.html
  swh/web/vault/templates/includes/vault-create-tasks.html
  swh/web/webapp/assets/webapp/webapp-utils.js
  swh/web/webapp/templates/includes/global-modals.html
Due: eslint

pre-commit: Bump djlint and reformat
  .pre-commit-config.yaml
  swh/web/browse/templates/includes/sidetabs.html
  swh/web/browse/templates/includes/snapshot-context.html
Due: none

webpack-dev-server: Do not fail on error when running eslint
  assets/config/webpack.config.development.js
Due: eslint

utils/archive: Allow to find citation metadata from top level directory
  swh/web/utils/archive.py
  swh/web/utils/tests/test_archive.py
Due: mypy

Alteration request form text revisions
  swh/web/alter/forms.py
  swh/web/alter/templates/assistant_category.html
  swh/web/alter/templates/assistant_email.html
  swh/web/alter/templates/assistant_origins.html
  swh/web/alter/templates/assistant_reasons.html
  swh/web/alter/templates/assistant_summary.html
  swh/web/alter/templates/content_policies.html
  swh/web/alter/templates/includes/swh_legal.html
  swh/web/alter/views.py
Due: mypy

Update content policy (singular) URL
  cypress/e2e/accessibility.cy.js
  cypress/e2e/alter.cy.js
  swh/web/alter/tests/test_views.py
  swh/web/alter/urls.py
  swh/web/webapp/templates/includes/footer.html
Due: mypy, eslint

cypress: Fix eslint errors
  cypress/e2e/accessibility.cy.js
  cypress/e2e/alter.cy.js
Due: eslint

browse/content: Add support for displaying message types
  swh/web/browse/templates/includes/content-display.html
  swh/web/browse/utils.py
  swh/web/browse/views/content.py
  swh/web/utils/highlightjs.py
Due: mypy

browse: Fix failing test after charset-normalizer upgrade
  requirements.txt
  swh/web/browse/tests/test_utils.py
Due: mypy

package.json: Bump dependencies
  package.json
  swh/web/auth/assets/auth.css
  yarn.lock
Due: none

cypress/alter: Fix failing assertions on Jenkins
  cypress/e2e/alter.cy.js
Due: eslint
