Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.5.2
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
# unfortunately, we are far from being able to enable this...
# - repo: https://github.com/PyCQA/pydocstyle.git
#   rev: 4.0.0
#   hooks:
#   - id: pydocstyle
#     name: pydocstyle
#     description: pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.
#     entry: pydocstyle --convention=google
#     language: python
#     types: [python]

pristine-tar data for swh-web_0.0.305.orig.tar.gz
  swh-web_0.0.305.orig.tar.gz.delta
  swh-web_0.0.305.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.305
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.305-1_swh1 (unstable-swh)
  debian/changelog
Due: none

origin_save: Bypass unknown origins review for swh ambassador users
  swh/web/api/views/origin_save.py
  swh/web/auth/utils.py
  swh/web/common/origin_save.py
  swh/web/tests/api/views/test_origin_save.py
Due: mypy

Save code now: Do not check origins for existence
  swh/web/common/origin_save.py
  swh/web/tests/admin/test_origin_save.py
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

assets/save: Fix save code now request creation for authenticated users
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
Due: eslint

pristine-tar data for swh-web_0.0.306.orig.tar.gz
  swh-web_0.0.306.orig.tar.gz.delta
  swh-web_0.0.306.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.306
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.306-1_swh1 (unstable-swh)
  debian/changelog
Due: none

assets/webapp: Add utility function to check if a user is logged in
  assets/src/bundles/webapp/webapp-utils.js
  cypress/integration/admin.spec.js
  swh/web/templates/layout.html
Due: eslint

tests/conftest: Change some django related fixtures scope into function
  swh/web/tests/conftest.py
Due: mypy

origin_save: Store user identifier in SaveOriginRequest model
  swh/web/api/views/origin_save.py
  swh/web/common/migrations/0010_saveoriginrequest_user_id.py
  swh/web/common/models.py
  swh/web/common/origin_save.py
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/test_migrations.py
Due: mypy

misc/origin_save: Fix black format
  swh/web/common/origin_save.py
  swh/web/misc/origin_save.py
Due: mypy

origin_save: Enable to filter user submitted save requests in Web UI
  Makefile.local
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  cypress/support/index.js
  swh/web/common/migrations/0011_saveoriginrequest_user_ids.py
  swh/web/common/models.py
  swh/web/common/origin_save.py
  swh/web/misc/origin_save.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/create_test_users.py
  swh/web/tests/misc/test_origin_save.py
  swh/web/tests/test_migrations.py
Due: mypy, eslint

api/throttling: Increase rate limit for authenticated users
  swh/web/api/throttling.py
  swh/web/settings/common.py
  swh/web/tests/api/test_throttling.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.0.307.orig.tar.gz
  swh-web_0.0.307.orig.tar.gz.delta
  swh-web_0.0.307.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.307
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.307-1_swh1 (unstable-swh)
  debian/changelog
Due: none

templates/api: Update Rate limiting section in API documentation
  swh/web/templates/api/api.html
Due: none

docs/browse: Remove references to no longer existing person view
  docs/uri-scheme-browse-person.rst
  docs/uri-scheme-browse.rst
Due: none

templates/browse/help: Fix broken documentation URLs
  swh/web/templates/browse/help.html
Due: none

Add new bundle type to list only when connected as privileged user
  swh/web/api/views/origin_save.py
  swh/web/auth/utils.py
  swh/web/common/origin_save.py
  swh/web/common/swh_templatetags.py
  swh/web/misc/origin_save.py
  swh/web/tests/common/test_origin_save.py
  swh/web/tests/misc/test_origin_save.py
Due: mypy

Allow privileged user to trigger save code now bundle visit type
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  cypress/support/index.js
  swh/web/api/views/origin_save.py
  swh/web/common/origin_save.py
  swh/web/common/typing.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/common/test_origin_save.py
Due: mypy, eslint

save-code-now: Rename origin type 'bundle' to 'archives'
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/auth/utils.py
  swh/web/common/origin_save.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/common/test_origin_save.py
  swh/web/tests/misc/test_origin_save.py
Due: mypy, eslint

tests: Add new ambassador user for frontend tests
  swh/web/tests/api/test_throttling.py
  swh/web/tests/create_test_users.py
  swh/web/tests/test_create_users.py
  swh/web/tests/utils.py
Due: mypy

Makefile.local: Reuse SETTINGS_{DEV,TEST,PROD} variable
  Makefile.local
Due: none

Makefile.local: Install users per environment
  Makefile.local
Due: none

Makefile.local: Ensure add-users-* target depend on run-migrations-*
  Makefile.local
Due: none

archive: Make extra 'archives' input mandatory when visible
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/origin_save.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/api/views/test_origin_save.py
Due: mypy, eslint

Make get_swhid() more pythonic
  swh/web/common/identifiers.py
Due: mypy

requirements: Pin pybadges version to >= 2.2.1
  requirements.txt
Due: none

assets: Migrate to django-webpack-loader 1.0
  assets/config/webpack-plugins/fix-webpack-stats-format-plugin.js
  assets/config/webpack.config.development.js
  package.json
  swh/web/tests/conftest.py
  yarn.lock
Due: mypy, eslint

debian/rules: Fix tests execution when building package
  debian/rules
Due: none

debian/control: Pin django-webpack-loader to >= 1.0.0~
  debian/control
Due: none

templates/layout: Display swh-web version and add development ribbon
  assets/src/bundles/webapp/webapp.css
  cypress/integration/origin-search.spec.js
  swh/web/common/utils.py
  swh/web/templates/layout.html
  swh/web/tests/test_templates.py
Due: mypy, eslint

pristine-tar data for swh-web_0.0.308.orig.tar.gz
  swh-web_0.0.308.orig.tar.gz.delta
  swh-web_0.0.308.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.308
  debian/changelog
Due: none

debian: Fix tests execution when building package
  debian/pybuild.testfiles
Due: none
