Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.5.2
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
# unfortunately, we are far from being able to enable this...
# - repo: https://github.com/PyCQA/pydocstyle.git
#   rev: 4.0.0
#   hooks:
#   - id: pydocstyle
#     name: pydocstyle
#     description: pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.
#     entry: pydocstyle --convention=google
#     language: python
#     types: [python]

auth: Add UserMailmap model and edition endpoints
  swh/web/auth/mailmap.py
  swh/web/auth/migrations/0004_usermailmap.py
  swh/web/auth/models.py
  swh/web/auth/utils.py
  swh/web/auth/views.py
  swh/web/tests/auth/test_mailmap.py
Due: mypy

Fix some docstrings
  swh/web/common/archive.py
Due: mypy

tests: Remove use of mocks in common/test_origin_visits
  swh/web/tests/common/test_origin_visits.py
Due: mypy

origin_visits: Reuse cache entries if present
  swh/web/common/origin_visits.py
Due: mypy

requirements-test: Pin pytest to < 7.0.0
  requirements-test.txt
Due: none

templates/show-swhid: Add link to HOWTO reference your code page
  swh/web/templates/includes/show-swhids.html
Due: none

Add a sync_mailmaps management command
  requirements-test.txt
  swh/web/auth/management/__init__.py
  swh/web/auth/management/commands/__init__.py
  swh/web/auth/management/commands/sync_mailmaps.py
  swh/web/auth/models.py
  swh/web/tests/auth/test_mailmap.py
Due: mypy

pristine-tar data for swh-web_0.0.356.orig.tar.gz
  swh-web_0.0.356.orig.tar.gz.delta
  swh-web_0.0.356.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.356
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.356-1_swh1 (unstable-swh)
  debian/changelog
Due: none

mailmap: make the update view only update a single object
  swh/web/auth/mailmap.py
Due: mypy

mailmap: Add/fix tests
  swh/web/tests/auth/test_mailmap.py
Due: mypy

templates/origin-visits: Prefer to show all visits by default
  assets/src/bundles/origin/visits-reporting.js
  swh/web/templates/browse/origin-visits.html
Due: eslint

package.json: Upgrade dependencies
  assets/src/bundles/guided_tour/index.js
  package.json
  yarn.lock
Due: eslint

tests: Fix flaky test introduced in e72b1e7a9d18
  swh/web/tests/common/test_origin_visits.py
Due: mypy

mailmaps: Return a proper error in case of duplicate from_email
  swh/web/auth/mailmap.py
  swh/web/tests/auth/test_mailmap.py
Due: mypy

mailmaps: Make error handling more robust when 'from_email' is missing/empty.
  swh/web/auth/mailmap.py
  swh/web/tests/auth/test_mailmap.py
Due: mypy

mailmaps: Add an endpoint to fetch the list
  swh/web/auth/mailmap.py
  swh/web/tests/auth/test_mailmap.py
Due: mypy

mailmaps: Add table UserMailmapEvent
  swh/web/auth/mailmap.py
  swh/web/auth/migrations/0005_usermailmapevent.py
  swh/web/auth/models.py
  swh/web/tests/auth/test_mailmap.py
Due: mypy

mailmaps: Avoid false positive when checking IntegrityError.
  swh/web/auth/mailmap.py
Due: mypy

mailmaps: Add test_mailmap_add_full
  swh/web/tests/auth/test_mailmap.py
Due: mypy

Add a permission to get the option to use the search QL
  swh/web/templates/includes/origin-search-form.html
Due: none

pristine-tar data for swh-web_0.0.367.orig.tar.gz
  swh-web_0.0.367.orig.tar.gz.delta
  swh-web_0.0.367.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.367
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.367-1_swh1 (unstable-swh)
  debian/changelog
Due: none

conftest: Fix scheduler loading task names
  swh/web/tests/conftest.py
Due: mypy

pre-commit: Bump hooks and add new one to check commit message spelling
  .pre-commit-config.yaml
Due: none

common, misc: Fix typos detected with codespell
  swh/web/common/origin_save.py
  swh/web/common/typing.py
  swh/web/misc/urls.py
Due: mypy

test_mailmap: Fix imports ordering
  swh/web/tests/auth/test_mailmap.py
Due: mypy

Find latest origin visit status by date instead of visits filtering
  swh/web/common/archive.py
  swh/web/common/origin_save.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_origin_save.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

misc/coverage: Fix nixguix origins counts
  swh/web/misc/coverage.py
Due: mypy

pristine-tar data for swh-web_0.0.368.orig.tar.gz
  swh-web_0.0.368.orig.tar.gz.delta
  swh-web_0.0.368.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.368
  debian/changelog
Due: none

tests: Simplify archive.origin_visit_find_by_date testing
  swh/web/tests/common/test_archive.py
Due: mypy

pristine-tar data for swh-web_0.0.369.orig.tar.gz
  swh-web_0.0.369.orig.tar.gz.delta
  swh-web_0.0.369.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.369
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.369-1_swh1 (unstable-swh)
  debian/changelog
Due: none
