Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

pristine-tar data for swh-web_0.1.5.orig.tar.gz
  swh-web_0.1.5.orig.tar.gz.delta
  swh-web_0.1.5.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.5
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.1.5-1_swh1 (unstable-swh)
  debian/changelog
Due: none

archive_coverage: Add new origin types
  static/img/logos/conda.png
  static/img/logos/cpan.png
  static/img/logos/puppet.png
  static/img/logos/rubygems.png
  swh/web/archive_coverage/views.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

archive_coverage: Move related assets in application folder
  swh/web/archive_coverage/assets/coverage.css
  swh/web/archive_coverage/assets/index.js
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/webapp/assets/webapp/index.js
Due: eslint

pristine-tar data for swh-web_0.1.6.orig.tar.gz
  swh-web_0.1.6.orig.tar.gz.delta
  swh-web_0.1.6.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.6
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.1.6-1_swh1 (unstable-swh)
  debian/changelog
Due: none

pre-commit, tox: Bump pre-commit, codespell, black and flake8
  .pre-commit-config.yaml
  tox.ini
Due: none

dummy commit to check if it triggers a jenkins build
  README.md
Due: none

cypress: Explicitely set support file path in config
  cypress.config.js
Due: eslint

add_forge_now/api_views: Fix typo detected by codespell
  swh/web/add_forge_now/api_views.py
Due: mypy

utils/highlightjs: Do not report pygments exception to sentry
  swh/web/utils/highlightjs.py
Due: mypy

utils/exc: Add typing
  swh/web/utils/exc.py
Due: mypy

utils/exc: Ensure exception text is escaped in HTML error page
  swh/web/tests/utils/test_exc.py
  swh/web/utils/exc.py
Due: mypy

package.json: Pin cy2 to 2.1.0 to fix Jenkins jobs
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.1.8.orig.tar.gz
  swh-web_0.1.8.orig.tar.gz.delta
  swh-web_0.1.8.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.8
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.1.8-1_swh1 (unstable-swh)
  debian/changelog
Due: none

webapp: Ensure monospace font family for docutils literals
  swh/web/webapp/assets/webapp/webapp.css
Due: none

apidoc: Fix some issues regarding generated documentation links
  swh/web/api/apidoc.py
  swh/web/api/apiresponse.py
  swh/web/api/templates/apidoc.html
  swh/web/tests/api/test_apidoc.py
Due: mypy

save_origin_webhooks: Add push webhook receivers for popular forges
  swh/web/config.py
  swh/web/save_origin_webhooks/__init__.py
  swh/web/save_origin_webhooks/bitbucket.py
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/save_origin_webhooks/gitea.py
  swh/web/save_origin_webhooks/github.py
  swh/web/save_origin_webhooks/gitlab.py
  swh/web/save_origin_webhooks/sourceforge.py
  swh/web/save_origin_webhooks/urls.py
  swh/web/settings/tests.py
  swh/web/tests/conftest.py
  swh/web/tests/helpers.py
  swh/web/tests/save_code_now/data/http_esnode1.internal.softwareheritage.org/swh_workers-*__search
  swh/web/tests/save_origin_webhooks/__init__.py
  swh/web/tests/save_origin_webhooks/data/bitbucket_webhook_payload.json
  swh/web/tests/save_origin_webhooks/data/gitea_webhook_payload.json
  swh/web/tests/save_origin_webhooks/data/github_webhook_payload.json
  swh/web/tests/save_origin_webhooks/data/gitlab_webhook_payload.json
  swh/web/tests/save_origin_webhooks/data/https_sourceforge.net/rest_p_webhook-test-git
  swh/web/tests/save_origin_webhooks/data/https_sourceforge.net/rest_p_webhook-test-hg
  swh/web/tests/save_origin_webhooks/data/https_sourceforge.net/rest_p_webhook-test-svn
  swh/web/tests/save_origin_webhooks/data/sourceforge_webhook_payload_git.json
  swh/web/tests/save_origin_webhooks/data/sourceforge_webhook_payload_hg.json
  swh/web/tests/save_origin_webhooks/data/sourceforge_webhook_payload_svn.json
  swh/web/tests/save_origin_webhooks/test_bitbucket.py
  swh/web/tests/save_origin_webhooks/test_gitea.py
  swh/web/tests/save_origin_webhooks/test_github.py
  swh/web/tests/save_origin_webhooks/test_gitlab.py
  swh/web/tests/save_origin_webhooks/test_sourceforge.py
  swh/web/tests/save_origin_webhooks/utils.py
Due: mypy

utils/urlsindex: Modify UrlsIndex class to simplify API URLs management
  swh/web/add_forge_now/api_views.py
  swh/web/add_forge_now/urls.py
  swh/web/api/apidoc.py
  swh/web/api/apiurls.py
  swh/web/api/urls.py
  swh/web/api/views/utils.py
  swh/web/browse/browseurls.py
  swh/web/browse/urls.py
  swh/web/save_code_now/api_views.py
  swh/web/save_code_now/urls.py
  swh/web/save_origin_webhooks/generic_receiver.py
  swh/web/save_origin_webhooks/urls.py
  swh/web/settings/common.py
  swh/web/tests/save_origin_webhooks/test_app.py
  swh/web/utils/urlsindex.py
  swh/web/vault/api_views.py
  swh/web/vault/urls.py
Due: mypy

browse: Handle snapshots whose branches target contents or directories
  swh/web/browse/snapshot_context.py
  swh/web/browse/templates/includes/snapshot-context.html
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/tests/browse/test_snapshot_context.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_directory.py
  swh/web/tests/browse/views/test_snapshot.py
  swh/web/tests/conftest.py
  swh/web/tests/utils/test_archive.py
  swh/web/utils/archive.py
  swh/web/utils/typing.py
Due: mypy

browse: Update snapshot branches list view to display all target types
  swh/web/browse/snapshot_context.py
  swh/web/browse/templates/browse-branches.html
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy

browse/templates/top-navigation: Prevent VariableDoesNotExist exception
  swh/web/browse/templates/includes/top-navigation.html
Due: none

pristine-tar data for swh-web_0.2.0.orig.tar.gz
  swh-web_0.2.0.orig.tar.gz.delta
  swh-web_0.2.0.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.0
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.0-1_swh1 (unstable-swh)
  debian/changelog
Due: none

save_origin_webhooks: Fix tests when building debian buster package
  swh/web/save_origin_webhooks/generic_receiver.py
Due: mypy

browse/origin-search: Ensure to encode origin URL argument in XHR calls
  cypress/e2e/origin-search.cy.js
  swh/web/browse/assets/browse/origin-search.js
  swh/web/tests/data.py
Due: mypy, eslint

debian/rules: Ensure all tests are executed after their reorganization
  debian/rules
Due: none

pristine-tar data for swh-web_0.2.2.orig.tar.gz
  swh-web_0.2.2.orig.tar.gz.delta
  swh-web_0.2.2.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.2.2
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.2.2-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
