Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

cypress/origin-save: Add missing wait instructions in a test
  cypress/e2e/origin-save.cy.js
Due: eslint

browse/revision: Fix snapshot context preservation in revision log view
  swh/web/browse/views/revision.py
  swh/web/tests/browse/views/test_revision.py
Due: mypy

vault: Move feature into its own django application
  assets/src/bundles/vault/vault-create-tasks.js
  cypress/e2e/vault.cy.js
  docs/uri-scheme-api-vault.rst
  swh/web/api/urls.py
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/browse/urls.py
  swh/web/config.py
  swh/web/templates/layout.html
  swh/web/tests/vault/__init__.py
  swh/web/tests/vault/test_apiviews.py
  swh/web/tests/vault/test_app.py
  swh/web/tests/vault/test_views.py
  swh/web/vault/__init__.py
  swh/web/vault/api_views.py
  swh/web/vault/templates/includes/vault-common.html
  swh/web/vault/templates/includes/vault-create-tasks.html
  swh/web/vault/templates/vault-ui.html
  swh/web/vault/urls.py
Due: mypy, eslint

Move base templates and views into a webapp django application
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/browse/templates/browse-iframe.html
  swh/web/browse/urls.py
  swh/web/settings/common.py
  swh/web/tests/auth/test_views.py
  swh/web/tests/test_urls.py
  swh/web/tests/webapp/__init__.py
  swh/web/tests/webapp/test_templates.py
  swh/web/tests/webapp/test_views.py
  swh/web/urls.py
  swh/web/webapp/__init__.py
  swh/web/webapp/templates/error.html
  swh/web/webapp/templates/homepage.html
  swh/web/webapp/templates/includes/favicon.html
  swh/web/webapp/templates/includes/global-modals.html
  swh/web/webapp/templates/includes/http-error.html
  swh/web/webapp/templates/layout.html
  swh/web/webapp/urls.py
Due: mypy

cypress: Use more reliable way to get global javascript variable
  cypress/support/e2e.js
Due: eslint

settings/tests: Ensure swh_extra_django_apps correct value for tests
  swh/web/config.py
  swh/web/settings/tests.py
Due: mypy

webapp/templates/layout: Fix deposit moderation view integration
  swh/web/tests/deposit/test_app.py
  swh/web/webapp/templates/layout.html
Due: mypy

templates: Move take-new-snapshot.html into save_code_now application
  swh/web/browse/templates/includes/top-navigation.html
  swh/web/save_code_now/templates/includes/take-new-snapshot.html
Due: none

Ignore empty lines from swh-graph instead of crashing
  swh/web/api/views/graph.py
  swh/web/tests/api/views/test_graph.py
Due: mypy

auth: Improve login management and configuration
  requirements-swh.txt
  swh/web/add_forge_now/admin_views.py
  swh/web/add_forge_now/templates/add-forge-creation-form.html
  swh/web/add_forge_now/views.py
  swh/web/api/templates/api.html
  swh/web/auth/templates/logout.html
  swh/web/auth/urls.py
  swh/web/auth/views.py
  swh/web/deposit/urls.py
  swh/web/save_code_now/templates/origin-save-help.html
  swh/web/settings/common.py
  swh/web/settings/production.py
  swh/web/settings/tests.py
  swh/web/tests/auth/test_views.py
  swh/web/tests/conftest.py
  swh/web/tests/deposit/test_views.py
  swh/web/tests/save_code_now/test_origin_save_admin.py
  swh/web/tests/webapp/test_templates.py
  swh/web/utils/__init__.py
  swh/web/webapp/templates/layout.html
Due: mypy

Update gitignore file
  .gitignore
Due: none

debian/control: Bump python3-swh.auth.django
  debian/control
Due: none

archive_coverage: Add new listed origin types
  .pre-commit-config.yaml
  static/img/logos/arch.png
  static/img/logos/aur.png
  static/img/logos/bower.png
  static/img/logos/crates.png
  static/img/logos/gogs.png
  static/img/logos/golang.png
  static/img/logos/hackage.png
  static/img/logos/pubdev.png
  swh/web/archive_coverage/views.py
Due: mypy

pristine-tar data for swh-web_0.1.0.orig.tar.gz
  swh-web_0.1.0.orig.tar.gz.delta
  swh-web_0.1.0.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.0
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.1.0-1_swh1 (unstable-swh)
  debian/changelog
Due: none

tests/urls: Import test views only when running cypress tests
  swh/web/tests/urls.py
Due: mypy

pristine-tar data for swh-web_0.1.1.orig.tar.gz
  swh-web_0.1.1.orig.tar.gz.delta
  swh-web_0.1.1.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.1
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.1.1-1_swh1 (unstable-swh)
  debian/changelog
Due: none

settings/production: Remove login/logout URL settings
  swh/web/settings/production.py
Due: mypy

webapp/urls: Restore exception handling when fetching history counters
  swh/web/webapp/urls.py
Due: mypy

cypress: Fix some flaky tests when executed in parallel
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/admin.cy.js
Due: eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.1.2.orig.tar.gz
  swh-web_0.1.2.orig.tar.gz.delta
  swh-web_0.1.2.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.2
  debian/changelog
Due: none

utils: Cache origin visit types in production webapp only
  swh/web/browse/urls.py
  swh/web/utils/__init__.py
  swh/web/webapp/urls.py
Due: mypy

Updated backport on buster-swh from debian/0.1.2-1_swh1 (unstable-swh)
  debian/changelog
Due: none

pristine-tar data for swh-web_0.1.3.orig.tar.gz
  swh-web_0.1.3.orig.tar.gz.delta
  swh-web_0.1.3.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.3
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.1.3-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Fix validateForgeUrl
  swh/web/add_forge_now/assets/create-request.js
Due: eslint

pristine-tar data for swh-web_0.1.4.orig.tar.gz
  swh-web_0.1.4.orig.tar.gz.delta
  swh-web_0.1.4.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.1.4
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.1.4-1_swh1 (unstable-swh)
  debian/changelog
Due: none

cypress: Use click command instead of submit one for form submission
  cypress/e2e/add-forge-now-request-create.cy.js
  cypress/e2e/add-forge-now-request-dashboard.cy.js
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/admin.cy.js
  cypress/e2e/layout.cy.js
  cypress/e2e/origin-save.cy.js
Due: eslint

browse: Add 'Save again' button in origin visits view
  swh/web/browse/templates/browse-origin-visits.html
  swh/web/tests/browse/views/test_origin.py
Due: mypy

add_forge_now: Add useful links in requests tables
  cypress/e2e/add-forge-now-request-create.cy.js
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  swh/web/add_forge_now/assets/create-request.js
  swh/web/add_forge_now/assets/moderation-dashboard.js
  swh/web/add_forge_now/templates/add-forge-list.html
  swh/web/add_forge_now/templates/add-forge-requests-moderation.html
Due: eslint
