Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

Updated backport on buster-swh from debian/0.0.376-1_swh1 (unstable-swh)
  debian/changelog
Due: none

assets/webapp.css: Fix sidebar scrolling
  assets/src/bundles/webapp/webapp.css
Due: none

api: Add endpoint to update an add-forge request
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/add_forge_now/test_models.py
  swh/web/tests/api/views/test_add_forge_now.py
  swh/web/tests/utils.py
Due: mypy

api: Add endpoint to get details about an add-forge request
  swh/web/add_forge_now/models.py
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

api: Add endpoint to list add-forge requests
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

api/add_forge_now: Allow to use requests list endpoint with datatables
  swh/web/api/views/add_forge_now.py
  swh/web/tests/api/views/test_add_forge_now.py
Due: mypy

package.json: Upgrade dependencies
  assets/config/webpack-plugins/dump-highlightjs-languages-data-plugin.js
  assets/src/utils/highlightjs.js
  package.json
  static/json/highlightjs-languages.json
  yarn.lock
Due: eslint

add_forge_now: Move datatables listing in dedicated endpoint
  swh/web/add_forge_now/views.py
  swh/web/api/views/add_forge_now.py
  swh/web/auth/utils.py
  swh/web/tests/add_forge_now/test_views.py
  swh/web/tests/api/views/test_add_forge_now.py
  swh/web/tests/conftest.py
  swh/web/urls.py
Due: mypy

cypress: Add missing global intercept for https://status.swh.org
  cypress/support/index.js
Due: eslint

cypress: Generate tests data once and get them through a task
  cypress/integration/content-display.spec.js
  cypress/plugins/index.js
  cypress/support/index.js
  cypress/utils/index.js
Due: eslint

Bootstrap a common app for management of inbound emails
  swh/web/inbound_email/__init__.py
  swh/web/inbound_email/apps.py
  swh/web/inbound_email/management/commands/process_inbound_email.py
  swh/web/inbound_email/signals.py
  swh/web/settings/common.py
  swh/web/tests/inbound_email/test_management_command.py
Due: mypy

inbound_email: add utilities to extract and filter email recipients
  swh/web/inbound_email/utils.py
  swh/web/tests/inbound_email/test_utils.py
Due: mypy

webpack-dev-server: Do not reload page when database file is modified
  assets/config/webpack.config.development.js
Due: eslint

cypress: Mock costly HTTP request to /coverage endpoint
  cypress/support/index.js
Due: eslint

Bootstrap add-forge-now moderation view
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/moderation.html
  swh/web/templates/layout.html
Due: mypy

Bootstrap request dashboard to display request
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/request-dashboard.html
Due: mypy

Basic styling and content for templates
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/create-request.html
  swh/web/templates/add_forge_now/moderation.html
  swh/web/templates/add_forge_now/request-dashboard.html
Due: mypy

Improve help message according to specification
  swh/web/templates/add_forge_now/create-request.html
Due: none

create-request: Fix typos
  swh/web/templates/add_forge_now/create-request.html
Due: none

Datatables; update and get api integrations
  assets/src/bundles/add_forge/index.js
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/create-request.html
  swh/web/templates/add_forge_now/moderation.html
  swh/web/templates/add_forge_now/request-dashboard.html
Due: mypy, eslint

Create Submission form w/basic info
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/submit-request.html
  swh/web/templates/layout.html
  swh/web/urls.py
Due: mypy

wip: Prepare using api and datatable on moderation view
  assets/src/bundles/add_forge/index.js
  swh/web/templates/add_forge_now/moderation.html
Due: eslint

Add browse existing requests table view
  assets/src/bundles/add_forge/index.js
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/create-request.html
  swh/web/templates/add_forge_now/submit-request.html
Due: mypy, eslint

create forge request: Fix login link
  swh/web/templates/add_forge_now/create-request.html
Due: none

add_forge_now/views: Update hard-coded forge types
  swh/web/add_forge_now/views.py
Due: mypy

Added history in request dashboard
  assets/src/bundles/add_forge/index.js
  swh/web/templates/add_forge_now/request-dashboard.html
Due: eslint

add-forge-now: Fix datatable listing setup
  assets/src/bundles/add_forge/index.js
Due: eslint

add-forge-now: Restrict access to the moderation view
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
Due: mypy

HTML improvements
  swh/web/templates/add_forge_now/create-request.html
Due: none

add-forge-now: Restrict access to the moderation request view
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
Due: mypy

moderation: Rename Request ID to ID
  swh/web/templates/add_forge_now/moderation.html
Due: none

Basic JS refactoring
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/add_forge/index.js
  assets/src/bundles/add_forge/moderator-dashboard.js
  assets/src/bundles/add_forge/request-dashboard.js
  swh/web/templates/add_forge_now/create-request.html
  swh/web/templates/add_forge_now/moderation.html
  swh/web/templates/add_forge_now/request-dashboard.html
Due: eslint

Improvements to Add request form
  assets/src/bundles/add_forge/index.js
  swh/web/add_forge_now/views.py
  swh/web/templates/add_forge_now/create-request.html
Due: mypy, eslint

request_moderation: Actually fix update calls
  assets/src/bundles/add_forge/index.js
  swh/web/templates/add_forge_now/request-dashboard.html
Due: eslint

Minor: Fixed API issue in browse requests in add forge now page
  assets/src/bundles/add_forge/index.js
Due: eslint

Cypress tests for create request
  assets/src/bundles/add_forge/create-request.js
  cypress/integration/add-forg-now.spec.js
  swh/web/templates/add_forge_now/create-request.html
Due: eslint

Cypress test fixes
  assets/src/bundles/add_forge/create-request.js
  cypress/integration/add-forge-now.spec.js
  swh/web/templates/add_forge_now/create-request.html
Due: eslint

moderation: Fix permission access and start ui coverage
  cypress/integration/add-forge-moderation.spec.js
  cypress/support/index.js
  static/json/highlightjs-languages.json
  swh/web/add_forge_now/views.py
  swh/web/templates/layout.html
  swh/web/tests/create_test_users.py
  swh/web/tests/utils.py
Due: mypy, eslint

moderation: Add missing listing requests scenario
  assets/src/bundles/add_forge/index.js
  assets/src/bundles/add_forge/moderation-dashboard.js
  cypress/fixtures/add-forge-now-requests.json
  cypress/integration/add-forge-now-moderation.spec.js
Due: eslint

moderation: Unstuck permission access and rendering
  assets/src/bundles/add_forge/moderator-dashboard.js
  cypress/integration/add-forge-moderation.spec.js
  cypress/integration/add-forge-now-moderation.spec.js
  cypress/support/index.js
  swh/web/add_forge_now/views.py
  swh/web/common/utils.py
  swh/web/tests/create_test_admin.py
  swh/web/tests/create_test_users.py
Due: mypy, eslint

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
