Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.5.2
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
# unfortunately, we are far from being able to enable this...
# - repo: https://github.com/PyCQA/pydocstyle.git
#   rev: 4.0.0
#   hooks:
#   - id: pydocstyle
#     name: pydocstyle
#     description: pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.
#     entry: pydocstyle --convention=google
#     language: python
#     types: [python]

Updated backport on buster-swh from debian/0.0.342-1_swh1 (unstable-swh)
  debian/changelog
Due: none

templates/fundraising-banner: Improve banner rendering
  swh/web/templates/misc/fundraising-banner.html
Due: none

debian/control: Bump python3-swh.auth.django
  debian/control
Due: none

pristine-tar data for swh-web_0.0.343.orig.tar.gz
  swh-web_0.0.343.orig.tar.gz.delta
  swh-web_0.0.343.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.343
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.343-1_swh1 (unstable-swh)
  debian/changelog
Due: none

browse: Fix issues when context is a release targeting a directory
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_directory.py
Due: mypy

tests: Fix failures since pytest-django 4.5.0 release
  swh/web/tests/auth/test_views.py
Due: mypy

api: Fix documentation of the format used for git date fields
  swh/web/api/views/release.py
  swh/web/api/views/revision.py
  swh/web/tests/api/test_apidoc.py
Due: mypy

api: Specify date formats more precisely
  swh/web/api/views/metadata.py
  swh/web/api/views/origin.py
Due: mypy

browse/releases: Fix URLs to browse release targets
  swh/web/browse/snapshot_context.py
  swh/web/tests/browse/views/test_snapshot.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

settings/tests: Ensure scheduler not available when running cypress
  swh/web/settings/tests.py
Due: mypy

templates/fundraising-banner: Update banner image
  static/img/swh-donor.png
  static/img/swh_givingtuesday.png
  swh/web/templates/misc/fundraising-banner.html
Due: none

.gitignore: Remove debian/ entry
  .gitignore
Due: none

pristine-tar data for swh-web_0.0.345.orig.tar.gz
  swh-web_0.0.345.orig.tar.gz.delta
  swh-web_0.0.345.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.345
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.345-1_swh1 (unstable-swh)
  debian/changelog
Due: none

misc/coverage: Do not put coverage page in cache
  swh/web/misc/coverage.py
Due: mypy

yarn.lock: Deduplicate dependencies
  yarn.lock
Due: none

pristine-tar data for swh-web_0.0.346.orig.tar.gz
  swh-web_0.0.346.orig.tar.gz.delta
  swh-web_0.0.346.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.346
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.346-1_swh1 (unstable-swh)
  debian/changelog
Due: none

templates/layout: Hide donate link temporarily
  cypress/integration/layout.spec.js
  swh/web/templates/layout.html
Due: eslint

pristine-tar data for swh-web_0.0.347.orig.tar.gz
  swh-web_0.0.347.orig.tar.gz.delta
  swh-web_0.0.347.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.347
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.347-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Adapt coverage tooltip for debian based distributions
  swh/web/misc/coverage.py
Due: mypy

Pin mypy and drop type annotations which makes mypy unhappy
  swh/__init__.py
  swh/web/__init__.py
  swh/web/api/apiresponse.py
  tox.ini
Due: mypy

pristine-tar data for swh-web_0.0.348.orig.tar.gz
  swh-web_0.0.348.orig.tar.gz.delta
  swh-web_0.0.348.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.348
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.348-1_swh1 (unstable-swh)
  debian/changelog
Due: none

static/img: Update fundraising banner image
  static/img/swh-donor.png
Due: none

settings/production: Fix login URLs
  swh/web/settings/production.py
Due: mypy

Revert "package.json: Upgrade dependencies"
  package.json
  yarn.lock
Due: none

pristine-tar data for swh-web_0.0.350.orig.tar.gz
  swh-web_0.0.350.orig.tar.gz.delta
  swh-web_0.0.350.orig.tar.gz.id
Due: none
