Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: '.eml$'
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==22.3.23]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black

assets/add_forge_now: Fix trailing whitespaces in email template
  assets/src/bundles/add_forge/forge-admin-email.ejs
Due: none

add_forge_now: Deduplicate request status transitions in js code
  assets/src/bundles/add_forge/request-dashboard.js
  swh/web/add_forge_now/models.py
  swh/web/admin/add_forge_now.py
  swh/web/templates/add_forge_now/request-dashboard.html
Due: mypy, eslint

Update swh-web django applications configuration and setup
  swh/web/api/apiurls.py
  swh/web/api/views/utils.py
  swh/web/browse/browseurls.py
  swh/web/browse/urls.py
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/settings/common.py
  swh/web/tests/conftest.py
  swh/web/tests/test_urls.py
  swh/web/urls.py
Due: mypy

mailmap: Move feature into a dedicated django application
  swh/web/admin/mailmap.py
  swh/web/admin/urls.py
  swh/web/auth/migrations/0007_mailmap_django_app.py
  swh/web/auth/models.py
  swh/web/auth/views.py
  swh/web/config.py
  swh/web/mailmap/__init__.py
  swh/web/mailmap/apps.py
  swh/web/mailmap/management/__init__.py
  swh/web/mailmap/management/commands/__init__.py
  swh/web/mailmap/management/commands/sync_mailmaps.py
  swh/web/mailmap/migrations/0001_initial.py
  swh/web/mailmap/migrations/__init__.py
  swh/web/mailmap/models.py
  swh/web/mailmap/templates/admin/mailmap.html
  swh/web/mailmap/urls.py
  swh/web/mailmap/views.py
  swh/web/templates/layout.html
  swh/web/tests/auth/test_migrations.py
  swh/web/tests/conftest.py
  swh/web/tests/mailmap/__init__.py
  swh/web/tests/mailmap/test_app.py
  swh/web/tests/mailmap/test_mailmap.py
  swh/web/tests/mailmap/test_migrations.py
Due: mypy

Remove no longer needed admin folder
  swh/web/admin/__init__.py
  swh/web/admin/adminurls.py
  swh/web/admin/urls.py
  swh/web/tests/admin/__init__.py
  swh/web/urls.py
Due: mypy

add_forge_now: Move all features into a single django application
  swh/web/add_forge_now/admin_views.py
  swh/web/add_forge_now/api_views.py
  swh/web/add_forge_now/templates/add-forge-common.html
  swh/web/add_forge_now/templates/add-forge-creation-form.html
  swh/web/add_forge_now/templates/add-forge-help.html
  swh/web/add_forge_now/templates/add-forge-list.html
  swh/web/add_forge_now/templates/add-forge-request-dashboard.html
  swh/web/add_forge_now/templates/add-forge-requests-moderation.html
  swh/web/add_forge_now/urls.py
  swh/web/add_forge_now/views.py
  swh/web/admin/urls.py
  swh/web/api/urls.py
  swh/web/common/utils.py
  swh/web/config.py
  swh/web/templates/layout.html
  swh/web/tests/add_forge_now/__init__.py
  swh/web/tests/add_forge_now/test_api_views.py
  swh/web/tests/add_forge_now/test_app.py
  swh/web/tests/add_forge_now/test_views.py
  swh/web/tests/test_config.py
  swh/web/urls.py
Due: mypy

deposit: Move administration view into a dedicated django application
  swh/web/admin/urls.py
  swh/web/common/urlsindex.py
  swh/web/config.py
  swh/web/deposit/__init__.py
  swh/web/deposit/templates/deposit-admin.html
  swh/web/deposit/urls.py
  swh/web/templates/layout.html
  swh/web/tests/deposit/__init__.py
  swh/web/tests/deposit/test_app.py
  swh/web/tests/deposit/test_views.py
Due: mypy

api: Move templates into django application folder
  swh/web/api/apiresponse.py
  swh/web/api/templates/api-endpoints.html
  swh/web/api/templates/api.html
  swh/web/api/templates/apidoc.html
  swh/web/api/views/utils.py
  swh/web/tests/api/test_apidoc.py
Due: mypy

auth: Move related templates, views and urls into application folder
  cypress/e2e/add-forge-now-requests-moderation.cy.js
  cypress/e2e/admin.cy.js
  cypress/support/e2e.js
  swh/web/admin/urls.py
  swh/web/auth/templates/login.html
  swh/web/auth/templates/logout.html
  swh/web/auth/templates/profile.html
  swh/web/auth/urls.py
  swh/web/auth/views.py
  swh/web/settings/common.py
  swh/web/tests/auth/test_views.py
  swh/web/urls.py
Due: mypy, eslint

Remove no longer needed swh/web/common folder
  swh/web/common/__init__.py
Due: mypy

auth/utils: Fix circular import triggered by sphinx autodoc
  swh/web/auth/utils.py
Due: mypy

Split endpoint table into categories
  swh/web/add_forge_now/api_views.py
  swh/web/api/apidoc.py
  swh/web/api/apiurls.py
  swh/web/api/templates/api-endpoints.html
  swh/web/api/views/content.py
  swh/web/api/views/directory.py
  swh/web/api/views/graph.py
  swh/web/api/views/identifiers.py
  swh/web/api/views/metadata.py
  swh/web/api/views/origin.py
  swh/web/api/views/ping.py
  swh/web/api/views/raw.py
  swh/web/api/views/release.py
  swh/web/api/views/revision.py
  swh/web/api/views/snapshot.py
  swh/web/api/views/stat.py
  swh/web/api/views/utils.py
  swh/web/api/views/vault.py
  swh/web/save_code_now/api_views.py
  swh/web/tests/api/test_apidoc.py
Due: mypy

misc: Move SWHID iframe view in browse django application
  assets/src/bundles/browse/iframe.js
  assets/src/bundles/browse/index.js
  assets/src/bundles/webapp/index.js
  swh/web/browse/templates/browse-iframe.html
  swh/web/browse/templates/includes/show-swhids.html
  swh/web/browse/urls.py
  swh/web/browse/views/iframe.py
  swh/web/misc/urls.py
  swh/web/tests/browse/views/test_iframe.py
Due: mypy, eslint

assets/add_forge: Improve datatables rendering
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/add_forge/moderation-dashboard.js
Due: eslint

sqlite: Prevent locked database errors when running cypress tests
  .gitignore
  cypress/plugins/index.js
  swh/web/settings/tests.py
Due: mypy, eslint

misc/badges: Move feature into a dedicated django application
  swh/web/badges/__init__.py
  swh/web/badges/urls.py
  swh/web/browse/templates/includes/show-swhids.html
  swh/web/config.py
  swh/web/misc/urls.py
  swh/web/tests/badges/__init__.py
  swh/web/tests/badges/test_app.py
  swh/web/tests/badges/test_badges.py
Due: mypy

nyc: Use dynamic js config instead of static one in package.json
  .gitignore
  nyc.config.js
  package.json
Due: eslint

nyc.config.js: Also set custom value for temp-dir option
  .gitignore
  nyc.config.js
Due: eslint

misc/coverage: Move feature into its own django application
  swh/web/archive_coverage/__init__.py
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/archive_coverage/urls.py
  swh/web/archive_coverage/views.py
  swh/web/config.py
  swh/web/misc/urls.py
  swh/web/templates/homepage.html
  swh/web/tests/archive_coverage/__init__.py
  swh/web/tests/archive_coverage/test_app.py
  swh/web/tests/archive_coverage/test_coverage.py
Due: mypy

cypress/admin: Add missing intercept in test implementation
  cypress/e2e/admin.cy.js
Due: eslint

sqlite: Use multiple database files when running parallel cypress tests
  Makefile.local
  cypress/plugins/index.js
  swh/web/settings/tests.py
Due: mypy, eslint

cypress/origin-save: Add wait instructions to fix flaky tests
  cypress/e2e/origin-save.cy.js
Due: eslint

package.json: Add cy2 development dependency
  package.json
  yarn.lock
Due: none

cypress.config.js: Add projectId
  cypress.config.js
Due: eslint

cypress/add-forge-now-request-create: Add missing wait instructions
  cypress/e2e/add-forge-now-request-create.cy.js
Due: eslint

cypress/support: Add missing wait instruction in global before hook
  cypress/support/e2e.js
Due: eslint

misc/metrics: Move feature into its own django application
  swh/web/config.py
  swh/web/metrics/__init__.py
  swh/web/metrics/prometheus.py
  swh/web/metrics/urls.py
  swh/web/metrics/views.py
  swh/web/misc/urls.py
  swh/web/save_code_now/origin_save.py
  swh/web/tests/mailmap/test_app.py
  swh/web/tests/metrics/__init__.py
  swh/web/tests/metrics/test_metrics.py
  swh/web/tests/misc/test_app.py
  swh/web/urls.py
  swh/web/utils/__init__.py
Due: mypy

cypress/origin-save: Add missing wait instructions in a test
  cypress/e2e/origin-save.cy.js
Due: eslint

archive_coverage: Update iframe CSS class renamed in a7ab8afb1951
  assets/src/bundles/webapp/coverage.css
  assets/src/bundles/webapp/webapp-utils.js
  assets/src/bundles/webapp/webapp.css
Due: eslint

metrics: Move test_app.py file in related tests folder
  swh/web/tests/metrics/test_app.py
Due: mypy

package.json: Update dependencies
  package.json
  yarn.lock
Due: none

misc/banners: Move feature into its own django application
  assets/src/bundles/webapp/webapp.css
  swh/web/banners/__init__.py
  swh/web/banners/templates/fundraising-banner.html
  swh/web/banners/templates/hiring-banner-iframe.html
  swh/web/banners/templates/hiring-banner.html
  swh/web/banners/urls.py
  swh/web/banners/views.py
  swh/web/config.py
  swh/web/misc/urls.py
  swh/web/templates/layout.html
  swh/web/tests/banners/__init__.py
  swh/web/tests/banners/test_app.py
  swh/web/tests/banners/test_fundraising.py
Due: mypy

tests/mailmap: Restore test_app.py accidentally removed in a77e5ab36cae
  swh/web/tests/mailmap/test_app.py
Due: mypy

misc/jslicenses: Move feature into its own django application
  swh/web/archive_coverage/templates/archive-coverage.html
  swh/web/browse/templates/browse-iframe.html
  swh/web/config.py
  swh/web/jslicenses/__init__.py
  swh/web/jslicenses/templates/jslicenses.html
  swh/web/jslicenses/urls.py
  swh/web/misc/urls.py
  swh/web/templates/layout.html
  swh/web/tests/jslicenses/__init__.py
  swh/web/tests/jslicenses/test_app.py
  swh/web/tests/jslicenses/test_jslicenses.py
Due: mypy

debian/postinst: Ensure swh_web_common django app renaming on deploy
  debian/postinst
Due: none

Remove no longer needed misc folder
  swh/web/misc/__init__.py
  swh/web/tests/test_urls.py
  swh/web/tests/urls.py
  swh/web/urls.py
Due: mypy
