Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

mypy:
  name: mypy
  entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
  args:
  - swh
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint -c assets/config/.eslintrc
  language: system

Updated debian changelog for version 0.0.329
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.329-1_swh1 (unstable-swh)
  debian/changelog
Due: none

admin/origin_save: Parse optional note from rejection POST request body
  swh/web/admin/origin_save.py
  swh/web/tests/admin/test_origin_save.py
Due: mypy

common/models: Add note text field to SaveOriginRequest model
  swh/web/api/views/origin_save.py
  swh/web/common/migrations/0012_saveoriginrequest_note.py
  swh/web/common/models.py
  swh/web/common/typing.py
  swh/web/tests/common/test_django_command.py
  swh/web/tests/common/test_origin_save.py
  swh/web/tests/test_migrations.py
Due: mypy

vault: Escape provided email address in the URL + fix email validation
  assets/src/bundles/vault/vault-create-tasks.js
  cypress/integration/vault.spec.js
  package.json
  yarn.lock
Due: eslint

add support for the CVS loader to 'Save Code Now'
  assets/src/bundles/save/index.js
  cypress/integration/origin-save.spec.js
  swh/web/common/origin_save.py
  swh/web/templates/misc/origin-save.html
  swh/web/tests/conftest.py
  swh/web/tests/misc/test_origin_save.py
Due: mypy, eslint

Stop using deprecated constants from swh.model.identifiers
  swh/web/api/views/identifiers.py
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/common/archive.py
  swh/web/common/converters.py
  swh/web/common/identifiers.py
  swh/web/common/swh_templatetags.py
  swh/web/common/typing.py
  swh/web/misc/badges.py
  swh/web/misc/iframe.py
  swh/web/templates/includes/show-metadata.html
  swh/web/templates/includes/show-swhids.html
  swh/web/tests/api/test_apiresponse.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/browse/test_snapshot_context.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_directory.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_release.py
  swh/web/tests/browse/views/test_revision.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
Due: mypy

webpack-dev-server: Do not watch files in node_modules folder
  assets/config/webpack.config.development.js
Due: eslint

Wrap long lines in the README file
  README.md
Due: none

Naive attempt to add support for dsn url config style for production db
  requirements-test.txt
  swh/web/settings/production.py
Due: mypy

pristine-tar data for swh-web_0.0.330.orig.tar.gz
  swh-web_0.0.330.orig.tar.gz.delta
  swh-web_0.0.330.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.330
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.330-1_swh1 (unstable-swh)
  debian/changelog
Due: none

misc/coverage: Add heptapod to listed origins
  static/img/logos/heptapod.png
  swh/web/misc/coverage.py
Due: mypy

settings/common: Filter out debug logs of swh.core.statsd
  swh/web/settings/common.py
Due: mypy

common/converters: Filter out id field when converting Origin model
  swh/web/common/converters.py
  swh/web/tests/common/test_converters.py
Due: mypy

mypy.ini: Skip psycopg2 typing analysis
  mypy.ini
Due: none

misc/coverage: Add opam to listed origins
  static/img/logos/opam.png
  swh/web/misc/coverage.py
Due: mypy

pristine-tar data for swh-web_0.0.331.orig.tar.gz
  swh-web_0.0.331.orig.tar.gz.delta
  swh-web_0.0.331.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.331
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.331-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Use PostgreSQL backend in django database in tests
  requirements.txt
  swh/web/config.py
  swh/web/settings/tests.py
  swh/web/tests/auth/test_views.py
  swh/web/tests/conftest.py
Due: mypy

search: Add query language support for staff users
  cypress/integration/origin-search.spec.js
  swh/web/browse/urls.py
  swh/web/common/archive.py
  swh/web/config.py
  swh/web/templates/includes/origin-search-form.html
  swh/web/tests/api/views/test_origin.py
  swh/web/tests/common/test_archive.py
  swh/web/urls.py
Due: mypy, eslint

Fix label of 'Extrinsic metadata' buttons
  swh/web/templates/includes/show-metadata.html
Due: none

tests: Wrap users creation in pytest fixtures
  swh/web/tests/admin/test_origin_save.py
  swh/web/tests/api/test_throttling.py
  swh/web/tests/api/views/test_origin_save.py
  swh/web/tests/conftest.py
Due: mypy

browse/snapshot_context: Fix empty snapshot browsing for staff users
  swh/web/browse/snapshot_context.py
  swh/web/tests/browse/views/test_origin.py
Due: mypy

assets/bundles/origin: Add missing statuses to visits reporting
  assets/src/bundles/origin/utils.js
  assets/src/bundles/origin/visits-calendar.js
  assets/src/bundles/origin/visits-histogram.js
  assets/src/bundles/origin/visits-reporting.css
  package.json
  yarn.lock
Due: eslint

assets/origin/bundles: Restore visualizations state on page reload
  assets/src/bundles/origin/visits-reporting.js
Due: eslint

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

settings/tests: ensure sqlite db file has sqlite3 extension
  swh/web/settings/tests.py
Due: mypy

assets, cypress: Remove debug logs
  assets/src/bundles/origin/visits-calendar.js
  cypress/integration/origin-search.spec.js
Due: eslint

origin_save: Lift save request creation restrictions with permission
  swh/web/api/throttling.py
  swh/web/api/views/origin_save.py
  swh/web/auth/utils.py
  swh/web/misc/origin_save.py
  swh/web/tests/api/views/test_origin_save.py
Due: mypy

pristine-tar data for swh-web_0.0.332.orig.tar.gz
  swh-web_0.0.332.orig.tar.gz.delta
  swh-web_0.0.332.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.332
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.332-1_swh1 (unstable-swh)
  debian/changelog
Due: none

control: Pin pytest-django to >= 3.5.1
  debian/changelog
  debian/control
Due: none

Replace use of deprecated swh.model.identifiers module
  swh/web/api/views/directory.py
  swh/web/api/views/graph.py
  swh/web/api/views/release.py
  swh/web/api/views/snapshot.py
  swh/web/api/views/vault.py
  swh/web/browse/snapshot_context.py
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/release.py
  swh/web/browse/views/revision.py
  swh/web/common/archive.py
  swh/web/common/converters.py
  swh/web/common/identifiers.py
  swh/web/common/typing.py
  swh/web/misc/badges.py
  swh/web/misc/iframe.py
  swh/web/templates/browse/help.html
  swh/web/tests/api/test_apidoc.py
  swh/web/tests/api/test_apiresponse.py
  swh/web/tests/api/views/test_graph.py
  swh/web/tests/api/views/test_identifiers.py
  swh/web/tests/api/views/test_metadata.py
  swh/web/tests/api/views/test_vault.py
  swh/web/tests/browse/test_snapshot_context.py
  swh/web/tests/browse/views/test_content.py
  swh/web/tests/browse/views/test_directory.py
  swh/web/tests/browse/views/test_identifiers.py
  swh/web/tests/browse/views/test_origin.py
  swh/web/tests/browse/views/test_release.py
  swh/web/tests/browse/views/test_revision.py
  swh/web/tests/common/test_archive.py
  swh/web/tests/common/test_identifiers.py
  swh/web/tests/data.py
  swh/web/tests/misc/test_badges.py
  swh/web/tests/misc/test_iframe.py
  swh/web/tests/strategies.py
Due: mypy

Rename remaining references to swh.model.identifiers.
  docs/uri-scheme-browse-snapshot.rst
  swh/web/api/views/metadata.py
  swh/web/api/views/revision.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^swh/web/tests/resources/
  eslint: any of: \.(js|mjs|cjs)$, but not: ^swh/web/tests/resources/
