Repository SoftwareHeritage/swh-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint

.pre-commit-config.yaml:

exclude: "^swh/web/tests/resources/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Check source code spelling
        exclude: >
          (?x)^(
              cypress/integration/directory.spec.js|
              yarn.lock|
              package.json
          )$
        args: [-L edn]
        stages: [commit]
      - id: codespell
        name: Check commit message spelling
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env DJANGO_SETTINGS_MODULE=swh.web.settings.development mypy
        args: [swh]
        pass_filenames: false
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint -c assets/config/.eslintrc
        language: system
        types: [javascript]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black

add_forge_now: Add hyperlinks to forge URLs in Browse Requests tab
  CONTRIBUTORS
  assets/src/bundles/add_forge/create-request.js
Due: eslint

Add a button to the deposit admin UI to show deposit metadata
  assets/src/bundles/admin/deposit.js
  cypress/integration/deposit-admin.spec.js
  swh/web/admin/deposit.py
  swh/web/common/utils.py
  swh/web/templates/admin/deposit.html
Due: mypy, eslint

origin-search: Show original error message to users
  assets/src/bundles/add_forge/create-request.js
  assets/src/bundles/browse/origin-search.js
  assets/src/utils/functions.js
  cypress/integration/origin-search.spec.js
Due: eslint

Restrict pytest-postgresql to < 4.0.0
  requirements-test.txt
Due: none

inbound_email: split recipient matching logic out
  swh/web/inbound_email/utils.py
  swh/web/tests/inbound_email/test_utils.py
Due: mypy

settings/production: Use webpack loader cache when not in debug mode
  swh/web/settings/production.py
Due: mypy

package.json: Upgrade dependencies
  package.json
  yarn.lock
Due: none

Revert "requirements-test: Temporarily pin django-stubs to < 1.10.0"
  requirements-test.txt
Due: none

requirements-test: Remove pytest pinning to < 7
  requirements-test.txt
Due: none

pristine-tar data for swh-web_0.0.379.orig.tar.gz
  swh-web_0.0.379.orig.tar.gz.delta
  swh-web_0.0.379.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.379
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.379-1_swh1 (unstable-swh)
  debian/changelog
Due: none

inbound_email: add support for signed email addresses
  swh/web/inbound_email/utils.py
  swh/web/tests/inbound_email/test_utils.py
Due: mypy

inbound_email: add function to extract the plaintext from a mail
  .pre-commit-config.yaml
  MANIFEST.in
  swh/web/inbound_email/utils.py
  swh/web/tests/inbound_email/__init__.py
  swh/web/tests/inbound_email/resources/__init__.py
  swh/web/tests/inbound_email/resources/multipart.eml
  swh/web/tests/inbound_email/resources/multipart_html_only.eml
  swh/web/tests/inbound_email/resources/multipart_text_only.eml
  swh/web/tests/inbound_email/resources/plaintext.eml
  swh/web/tests/inbound_email/test_utils.py
Due: mypy

Rename metadata_raw to raw_metadata in get_deposit_raw_metadata
  swh/web/common/utils.py
Due: mypy

pristine-tar data for swh-web_0.0.380.orig.tar.gz
  swh-web_0.0.380.orig.tar.gz.delta
  swh-web_0.0.380.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.380
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.380-1_swh1 (unstable-swh)
  debian/changelog
Due: none

common/utils: Add a django_cache decorator and use it in codebase
  swh/web/browse/snapshot_context.py
  swh/web/browse/utils.py
  swh/web/common/utils.py
  swh/web/misc/coverage.py
  swh/web/tests/common/test_utils.py
Due: mypy

common/utils: Use cache in origin_visit_types function
  swh/web/common/utils.py
Due: mypy

misc/coverage: Bump cache timeout from 5 minutes to 1 hour
  swh/web/misc/coverage.py
Due: mypy

Fix deposit metadata retrieval in moderation view
  swh/web/admin/deposit.py
Due: mypy

pristine-tar data for swh-web_0.0.381.orig.tar.gz
  swh-web_0.0.381.orig.tar.gz.delta
  swh-web_0.0.381.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.381
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.381-1_swh1 (unstable-swh)
  debian/changelog
Due: none

pre-commit, tox: Bump black from 19.10b0 to 22.3.0
  .pre-commit-config.yaml
  setup.cfg
  tox.ini
Due: none

Add .git-blame-ignore-revs file with automatic reformatting commits
  .git-blame-ignore-revs
Due: none

admin/deposit: Use new deposit private API endpoint to list deposits
  swh/web/admin/deposit.py
  swh/web/common/utils.py
  swh/web/tests/admin/test_deposit.py
  swh/web/tests/common/test_utils.py
Due: mypy

common/archive: Improve lookup_origin_visits performance
  swh/web/common/archive.py
Due: mypy

assets/origin/visits-histogram: Improve axis ticks rendering
  assets/src/bundles/origin/visits-histogram.js
Due: eslint

templates/vault-create-tasks: Fix VariableDoesNotExist django exception
  swh/web/browse/snapshot_context.py
  swh/web/templates/includes/vault-create-tasks.html
Due: mypy

pristine-tar data for swh-web_0.0.382.orig.tar.gz
  swh-web_0.0.382.orig.tar.gz.delta
  swh-web_0.0.382.orig.tar.gz.id
Due: none

Updated debian changelog for version 0.0.382
  debian/changelog
Due: none

Updated backport on buster-swh from debian/0.0.382-1_swh1 (unstable-swh)
  debian/changelog
Due: none

Add support for recursive multipart messages
  swh/web/inbound_email/utils.py
  swh/web/tests/inbound_email/resources/multipart_alternative_recursive.eml
  swh/web/tests/inbound_email/resources/multipart_related.eml
  swh/web/tests/inbound_email/test_utils.py
Due: mypy

Add support for multipart/mixed + better fallback for multipart/*
  swh/web/inbound_email/utils.py
  swh/web/tests/inbound_email/resources/multipart_alternative.eml
  swh/web/tests/inbound_email/resources/multipart_alternative_html_only.eml
  swh/web/tests/inbound_email/resources/multipart_alternative_text_only.eml
  swh/web/tests/inbound_email/resources/multipart_mixed.eml
  swh/web/tests/inbound_email/resources/multipart_mixed2.eml
  swh/web/tests/inbound_email/resources/multipart_mixed_text_only.eml
  swh/web/tests/inbound_email/test_utils.py
Due: mypy

Use swh.web.common.exc.sentry_capture_exception in whole codebase
  swh/web/api/throttling.py
  swh/web/browse/utils.py
  swh/web/browse/views/content.py
  swh/web/browse/views/directory.py
  swh/web/browse/views/release.py
  swh/web/common/highlightjs.py
  swh/web/common/origin_save.py
  swh/web/common/utils.py
  swh/web/inbound_email/management/commands/process_inbound_email.py
  swh/web/misc/urls.py
Due: mypy

common/exc: Filter out more exceptions to not report to sentry
  swh/web/common/exc.py
Due: mypy
